<h1 >{{ 'PROFILES.PROFILE' | translate }}</h1>
<!--
--{{ userdata.id }} --- {{currentUser.id}} --- {{userdata.role}} --- {{userdata.avatar_path}} --
-->


<div class="container">

  <div class="row">
    <button class="btn btn-primary" (click)="generatePdf('open')">  
      <i _ngcontent-axy-c0="" class="material-icons"> picture_as_pdf </i> {{ 'BUTTON.OPEN_PDF' | translate }}
    </button>
    <!--
    <button class="btn btn-primary" (click)="generatePdf('download')">
      <i _ngcontent-axy-c0="" class="material-icons"> cloud_download </i>
      {{ 'BUTTON.DOWNLOAD_PDF' | translate }}
    </button>
    <button class="btn btn-primary" (click)="generatePdf('print')">
      <i _ngcontent-axy-c0="" class="material-icons"> print </i>
      {{ 'BUTTON.PRINT_PDF' | translate }}
    </button>
    -->
    <a *ngIf="((userdata.id==currentUser.id) || (currentUser.role.toLowerCase()=='administrator'))" class="btn btn-primary" [routerLink]="['/profiles', userdata.id, 'edit']">
      <i _ngcontent-axy-c0="" class="material-icons"> edit </i>
      {{ 'BUTTON.EDIT' | translate }}
    </a>
  </div>
  <div class="row"><br></div>
  
  <div class="row">
    <div class="col" [ngClass]="{'col-lg-8': ((userdata.id==currentUser.id) && (userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'))}">
      <div class="row">
        <div class="col col-lg-8">
            <div><span class="profileLabel">{{ 'PROFILES.USERNAME' | translate }}:</span> {{userdata.userName}}</div>            
            <div><span class="profileLabel">{{ 'PROFILES.NAME' | translate }}:</span> {{userdata.name}}</div>
            <div><span class="profileLabel">{{ 'PROFILES.SURNAME' | translate }}:</span>  {{userdata.surname}}</div>
            <div><span class="profileLabel">{{ 'PROFILES.EMAIL' | translate }}:</span>  {{userdata.email}}</div>
            <div><span class="profileLabel">{{ 'PROFILES.ROLE' | translate }}:</span>  {{ 'ROLES.'+userdata.role | translate}}</div>
            <div><span class="profileLabel">{{ 'PROFILES.GENDER' | translate }}:</span>  {{ 'PROFILE.GENDER.TYPE.'+userdata.gender.toUpperCase() | translate}}</div>
            <!--
            <div *ngIf="userdata.role!='Recruiter'" class="university"><span>{{ 'PROFILES.UNIVERSITY' | translate }}:</span> {{userdata.university}}</div>
            -->
            <!--
            <div *ngIf="userdata.role!='Recruiter'" class="skills"><span>Skills:</span>
              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList aria-label="Skill selection">
                  <mat-chip
                    *ngFor="let skill of skills"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(skill)">
                    {{skill}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="New skill..."
                    #skillInput
                    [formControl]="skillCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                    {{skill}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            -->
            <div class="row"><br></div>
            <div class="row" *ngIf="userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'">

              
                <div *ngIf="canViewCV" class="col col-lg-2">                  
                  <button class="btn btn-primary" (click)="openUserCV(userdata.id)" >  
                    <i _ngcontent-axy-c0="" class="material-icons small"> account_box </i> {{ 'PROFILES.CV' | translate }} 
                  </button>
                </div>
                
                <div *ngIf="((userdata.id==currentUser.id) || (currentUser.role.toLowerCase()=='administrator'))" class="col col-lg-2">
                  <button class="btn btn-success" [routerLink]="['/profiles', userdata.id,'best-career-options']">  
                    <i _ngcontent-axy-c0="" class="material-icons small"> stars </i> {{ 'PROFILES.BEST_CAREER_OPTIONS' | translate }}
                  </button>
                  <!--
                  <a [routerLink]="['/profiles', userdata.id,'best-career-options']" class="btn btn-success"><span class="glyphicon glyphicon-star"></span> {{ 'PROFILES.BEST_CAREER_OPTIONS' | translate }}</a> 
                  -->
                </div>

            </div>
        </div>
        <div class="col col-lg-2">
            <div>
              <img *ngIf="userdata.avatar_path" [src]="userdata.avatar_path">
              <img *ngIf="!userdata.avatar_path" src="assets/img/no_avatar.jpg">
            </div>
            
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row">
<!-- 
   #acc="ngbAccordion"
-->
        <ngb-accordion *ngIf="userdata.role.toLowerCase()!='recruiter'">

          
                <ngb-panel  id="toggle-0" title="Career path" *ngIf="userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'">
                  <ng-template ngbPanelContent>
                    <div class="">
                      Mockup chart<br/>
                      <svg id="sankey" width="600" height="350"></svg>
                    </div>
                  </ng-template>
                </ngb-panel>

                <ngb-panel id="toggle-1" title="{{ 'PROFILES.COMPLETED_COURSES' | translate }}" *ngIf="userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'">
                  <ng-template ngbPanelContent>
                      <div class="">
                            
                            <ngb-tabset [justify]="currentJustify">
                                    <ngb-tab id="tab-selectbyid-{{year}}"  title="Year {{year}}" *ngFor="let year of years; let i = index">
                                      <ng-template ngbTabContent>
                                            <div class="col-lg-4 completeCourseSectiontab">
                                                    <div>
                                                            <select class="form-control form-control-sm">
                                                                    <option selected value="0">{{year}}.Specialisation Flow</option>
                                                                    <option value="1">{{year}}.Specialisation Flow - One</option>
                                                                    <option value="2">{{year}}.Specialisation Flow - Two</option>
                                                                    <option value="3">{{year}}.Specialisation Flow - Three</option>
                                                                  </select>
                                                    </div>
                                                    
                                                    <div>
                                                            <select class="form-control form-control-sm">
                                                                    <option>Semester {{year}}.1</option>
                                                                    <option>Semester {{year}}.2</option>
                                                                    <option>Semester {{year}}.3</option>
                                                                  </select>                                                
        
                                                    </div> 
                                                
                                            </div>
                                            <div class="completeCourseSectiontab" [ngClass]="{'col-lg-4':selectedCourse.courseid,'col-lg-8':!selectedCourse.courseid}">
                                                
                                                    <ul class="list-group list-group-flush">
                                                        <li  *ngFor="let course of listOfCoursesByUser" class="list-group-item" >
                                                          <table>
                                                            <tr>
                                                              <td><input type="checkbox" class="custom-control-input" id="check_box_course_{{course.courseid}}" value="{{course.courseid}}"> </td>
                                                              <td><a [routerLink]="" (click)="selectedCourse=course">{{course.name}}</a></td>
                                                            </tr>
                                                          </table>  
                                                        </li>
                                                      </ul>
                                            </div>
                                            <div *ngIf="selectedCourse.courseid" class="col-lg-4 completeCourseSectiontab">
                                              <div class=""><h3>{{selectedCourse.name}}</h3></div>
                                              <div class="">{{selectedCourse.description}}</div>
                                              <div class=""><br/><a class="btn btn-success" [routerLink]="" (click)="selectedCourse=emptyCourseSelected">{{ 'BUTTON.CLOSE' | translate }}</a></div>
                                            </div>

                                      </ng-template>
                                    </ngb-tab>
                                    
                                  </ngb-tabset>
                      </div>

                  </ng-template>
                </ngb-panel>
                
                <ngb-panel id="toggle-2" title="{{ 'PROFILES.TEACHING_COURSES' | translate }}" *ngIf="userdata.role.toLowerCase()=='professor'">
                  <ng-template ngbPanelContent>
                      <div class="">
                        <div class="row cv_add_course">
                          <div class="col col-lg-12">
                            <button class="btn btn-primary" [routerLink]="['/courses', 'add']">
                              <i _ngcontent-axy-c0="" class="material-icons"> add </i> {{ 'BUTTON.CREATE' | translate }}
                            </button><br/>
                          </div>
                        </div>
                        

                        <div class="accordion" id="accordionTeacherCourses">
                          <div class="card" *ngFor="let course of listOfCoursesByUser">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#course_' + course.courseid" aria-expanded="true" aria-controls="collapseOne">
                                  {{course.name}}
                                </button>
                              </h5>
                            </div>
                        
                            <div [attr.id]="'course_' + course.courseid" class="collapse" aria-labelledby="headingOne" data-parent="#accordionTeacherCourses">
                              <div class="card-body">
                                  <div class="courseDescription">
                                      <div><h4>{{ 'COURSE.DESCRIPTION.LABEL' | translate }}</h4></div>
                                      <div>{{course.description}}</div>
                                  </div>
                                  <div>&nbsp; </div>
                                  <div class="row courseRelatedData">
                                      <div class="col-lg-6">
                                          <div><h4>{{ 'COURSE.RELATED_SKILLS' | translate }}</h4></div>
                                          <div><span *ngFor="let skill of course.skills">{{skill.name}}, </span></div>
                                       </div>
                                        <div class="col-lg-6">
                                            <div><h4>{{ 'COURSE.COURSE_BADGES' | translate }}</h4></div>
                                            
                                            <div>
                                              This course does not have any smart badge yet. &nbsp;                                              
                                              <!--<span *ngFor="let badge of course.course_badges">{{badge}}, </span>-->
                                            </div>
                                        </div>                                        
                                  </div>
                                  <div class="row ">&nbsp; </div>                                  
                                  <div *ngIf="userdata.id==currentUser.id" class="row courseActions">
                                      <div class="col-lg-6">
                                        <!--
                                        <a [routerLink]="['/courses', course.id,'edit']" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> {{ 'COURSE.UPDATE' | translate }}</a>
                                        -->
                                        <button class="btn btn-primary" [routerLink]="['/courses', course.courseid,'edit']" type="button">  
                                          <i _ngcontent-axy-c0="" class="material-icons"> edit </i> {{ 'BUTTON.EDIT' | translate }}
                                        </button>

                                      </div>
                                       <div class="col-lg-6">
                                          <!--
                                          <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-star-empty"></span> {{ 'COURSE.AWARD_SMART_BADGE' | translate }}</button>
                                          -->
                                          <button class="btn btn-primary" [routerLink]="['/courses', course.courseid,'award']" type="button">  
                                            <i _ngcontent-axy-c0="" class="material-icons"> star </i> {{ 'COURSE.AWARD_SMART_BADGE' | translate }}
                                          </button>  
                                      </div>
                                  </div>
                                  <div *ngIf="userdata.id==currentUser.id">&nbsp; </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>                        

      
                      </div>

                  </ng-template>
                </ngb-panel>

                <ngb-panel id="toggle-3" title="{{ 'PROFILES.SMART_BADGES' | translate }}">
                        <ng-template ngbPanelContent>
                            <div class="row smartBudgesBody">

                              
                              <div *ngIf="smartBadgesByUser.length==0" class="col-lg-8  smartBudge">
                                This user does not have any smart badge yet. 
                              </div>
                              <div *ngFor="let smartBadge of smartBadgesByUser; let i = index"  class="col-lg-12 card-ou" 
                                [ngClass]="{
                                  'card-ou-status-issued': smartBadge.badge.status==='issued',
                                  'card-ou-status-revoked': smartBadge.badge.status==='revoked',
                                  'card-ou-status-pending': smartBadge.badge.status==='pending'
                                  }">
                                  <div class="col-lg-2 ">
                                    <img style="width:80px" src="{{smartBadge.badge.image}}" alt="{{smartBadge.badge.name}}">
                                  </div>
                                  <div class="col-lg-10 ">
                                    <h5 >{{smartBadge.badge.name}}</h5>
                                    <p >{{smartBadge.badge.description}}</p>
                                    <p >Status: {{smartBadge.badge.status}}</p>
                                  </div>
                                </div>
                              <!--
                              <div *ngFor="let smartBadge of smartBadgesByUser; let i = index"  class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">                                
                                <br/>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <br/>
                                <span matTooltip="{{smartBadge.badge.description}}">{{smartBadge.badge.name}}</span>                                 
                                <br/>
                              </div>
                              -->
                              
                            </div>
                            
                            <!--
                            <div *ngIf="((userdata.id==currentUser.id) || (currentUser.role.toLowerCase()=='administrator'))" class="row smartBudgesBody">
                              <div class="col-lg-12  smartBudge">
                                <button class="btn btn-primary" (click)="openAwardDialogInUserProfile(userdata.id, smartBadgesByUser)">
                                  <i _ngcontent-axy-c0="" class="material-icons"> emoji_events </i> Award
                                </button>
                              </div>
                            </div>
                          -->


                        </ng-template>
                      </ngb-panel>

        </ngb-accordion>

        <div class="row careeradvisor" *ngIf="userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'">
            <div class="col col-lg-8"> </div>
            <div class="col col-lg-2">
              <!--
              <a [routerLink]="['/profiles', userdata.id,'career-advisor']" class="btn btn-success"><span class="glyphicon glyphicon-star"></span> {{ 'PROFILES.CAREER_ADVISOR' | translate }}</a>
              -->                
              <!-- <button *ngIf="(1==2) && ((userdata.id==currentUser.id) || (currentUser.role.toLowerCase()=='administrator'))" class="btn btn-success" [routerLink]="['/profiles', userdata.id,'career-advisor']">  
                <i _ngcontent-axy-c0="" class="material-icons"> stars </i> {{ 'PROFILES.CAREER_ADVISOR' | translate }}
              </button> -->
            </div>
            
        </div>

        <div class="row cv_gap_analysis" *ngIf="userdata.role.toLowerCase()=='professor'">
          <div class="col col-lg-8"> </div>
          <div class="col col-lg-2">
            
            <!-- <button *ngIf="1==2" class="btn btn-success" [routerLink]="['/profiles', userdata.id,'cv-gap-analysis']">  
              <i _ngcontent-axy-c0="" class="material-icons"> stars </i> {{ 'PROFILES.CV_GAP_ANALYSIS' | translate }}
            </button> -->

          </div>

          
      </div>

    </div>
      
    </div>
    <div class="col col-lg-4" *ngIf="(userdata.id==currentUser.id) && (userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee')">      
      <app-recomended-jobs userId="{{userdata.id}}"></app-recomended-jobs>
      <br/>
      <app-recomended-courses userId="{{userdata.id}}"></app-recomended-courses>
      <br/>
      <app-recomended-skills userId="{{userdata.id}}"></app-recomended-skills>
    </div>
  </div>





</div>