        <!-- footer -->	
        <div id="footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <p><a href="https://qualichain-project.eu/#contact" data-toggle="modal" data-target="#contact" title="Contact Us">Contact</a></p>
                        <p><a href="https://qualichain-project.eu/privacy-policy/" title="View the privacy policy">Privacy Policy</a></p>                    
                        <div class="clearfix margin-bottom-20"></div>
                        <h3>Website Developed By</h3>
                        <a href="https://atos.net/en/" title="Atos" class="noborder" target="_blank"><img src="assets/img/atos-logo.png" class="ou" alt="Atos Logo" scale="0"></a> 
                        <!--
                        <a href="http://www.open.ac.uk/" title="The Open University" class="noborder" target="_blank"><img src="assets/img/ou-logo.png" class="ou" alt="The Open University Logo" scale="0"></a> 
                        <a href="http://kmi.open.ac.uk/" title="Knowledge Media Institute" class="noborder" target="_blank"><img src="assets/img/kmi-logo.png" class="kmi" alt="Knowledge Media Institute Logo" scale="0"></a>
                        -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <p><a href="https://ec.europa.eu/commission/index_en" title="European Commission" class="alignright noborder"><img src="assets/img/european-commission-colour.jpg" height="100" alt="European Commission Logo" scale="0"></a></p>
                        <div class="clearfix"></div>
                        <p class="alignright"><small>This project has received funding from the<br>European Union's Horizon 2020 research<br>and innovation programme under grant<br>agreement No 822404.</small></p>
                    </div>
                </div>
            </div>
        </div>
