<h1 mat-dialog-title>{{ 'PROFILES.CV' | translate }} - {{userdata.userName}}</h1>

<div class="row" *ngIf="loadingSpinner">
  <div class="col-md-4 col-md-offset-4">
    <app-qc-spinner></app-qc-spinner>
  </div>
</div>


  <div *ngIf="showError" class="alert alert-danger" role="alert">
    {{ 'CV.ERROR_SAVING_DATA' | translate }}
  </div>

<mat-dialog-content class="mat-typography">

    <form #formUserCV="ngForm" class="cv-form" (ngSubmit)="onSubmit()">

      <div *ngIf="!loadingSpinner">
      <!--  label -->
        <mat-form-field class="cv-full-width" *ngIf="canEditCV">            
            <mat-label>{{ 'CV.TITLE.LABEL' | translate }}</mat-label>
            <input matInput  [(ngModel)]="label" name="label" value="label" placeholder="{{ 'CV.TITLE.PLACEHOLDER' | translate }}">
        </mat-form-field>   
        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.TITLE.LABEL' | translate }}</span> {{label}}</span>
        <br>
        <!-- description -->
        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
            <mat-label>{{ 'CV.DESCRIPTION.LABEL' | translate }}</mat-label>            
            <textarea matInput  [(ngModel)]="description" name="description" value="description" placeholder="{{ 'CV.DESCRIPTION.PLACEHOLDER' | translate }}"></textarea>
        </mat-form-field>
        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.DESCRIPTION.LABEL' | translate }}</span> {{description}}</span>
        <br>
        <!--  target sector  -->

        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
          <mat-label>{{ 'CV.TARGET_SECTOR.LABEL' | translate }}</mat-label> 
          <mat-select [(ngModel)]="targetSector" name="targetSector" value="targetSector">
            <mat-option>  </mat-option>
            <mat-option *ngFor="let specialisation of allSpecialisations" [value]="specialisation.title">
              {{specialisation.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
<!--
        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
            <mat-label>{{ 'CV.TARGET_SECTOR.LABEL' | translate }}</mat-label>            
            <input matInput required [(ngModel)]="targetSector" name="targetSector" value="targetSector" placeholder="{{ 'CV.TARGET_SECTOR.PLACEHOLDER' | translate }}">
        </mat-form-field>   
-->              
        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.TARGET_SECTOR.LABEL' | translate }}</span> {{targetSector}}</span>
        <br>
        <br>

        <!-- skills -->
        <div class="card m-3">
            <div class="card-header">
              <span><i _ngcontent-pqf-c0="" class="material-icons"> timeline </i> {{ 'CV.SKILLS' | translate }}</span>
              <span *ngIf="canEditCV" class="">              
                <a class="btn btn-primary float-right" ng-href="" (click)="openAddNewItem($event, 'skillitem')">
                  <i _ngcontent-axy-c0="" class="material-icons small"> add </i>
                  {{ 'BUTTON.ADD' | translate }}
                </a>                           
                <!--
                <a class="btn btn-primary float-right" ng-href="" (click)="addFormGroupItem($event, 'skillitem')">
                  <i _ngcontent-axy-c0="" class="material-icons small"> add </i>
                  {{ 'BUTTON.ADD' | translate }}
                </a>
                -->                           
              </span>
            </div>
      
            <div *ngFor="let skillItem of t.controls; let i = index" class="list-group list-group-flush card-body">
                <div class="list-group-item">
                  <div>                  
                    <h5 class="card-title"><span class="CVlabel">{{ 'CV.SKILL' | translate }} {{i + 1}}</span>
                      <a *ngIf="canEditCV" class="btn btn-danger float-right" ng-href="" (click)="deleteFormGroupItem($event, i, 'skillitem')">
                        <i _ngcontent-axy-c0="" class="material-icons small"> delete </i>
                        {{ 'BUTTON.DELETE' | translate }}
                      </a> 
                    </h5>
                  </div>  
      
                  <div [formGroup]="skillItem" class="form-row">
                      <div class="form-group col-6">
                        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
                            <mat-label>{{ 'CV.SKILL_LABEL' | translate }}</mat-label>                            
                            <label [hidden]="!skillItem.get('label').value" >
                              <span [hidden]="skillItem.get('translation').value==''">{{ skillItem.get('translation').value }}</span>
                              <span [hidden]="skillItem.get('translation').value!=''">{{ skillItem.get('label').value }}</span>
                            </label>
                            <input [hidden]="skillItem.get('label').value" matInput required type="text" formControlName="label"  >
                        </mat-form-field>
                        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.SKILL_LABEL' | translate }}</span>&nbsp;
                            <span [hidden]="skillItem.get('translation').value==''">{{ skillItem.get('translation').value }}</span>
                            <span [hidden]="skillItem.get('translation').value!=''">{{ skillItem.get('label').value }}</span>
                            <!--
                            {{skillsCV[i].label}}
                            -->
                        </span>
                        
                      </div>

                      <div class="form-group col-6">
                        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
                            <mat-label>{{ 'CV.SKILL_PROFIENCY_LEVEL' | translate }}</mat-label>              
                            <!--              
                            <input matInput required type="text" formControlName="proficiencyLevel"  >
                            -->
                            <mat-select formControlName="proficiencyLevel" >
                              <mat-option value=""> </mat-option>
                              <mat-option *ngFor="let competencie of competencies" [value]="competencie.value">
                                {{ 'COMPETENCY_LEVEL.LEVELS.'+competencie.viewValue | uppercase | translate}}
                              </mat-option>
                            </mat-select>

                        </mat-form-field>                        
                        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.SKILL_PROFIENCY_LEVEL' | translate }}</span> {{skillsCV[i].proficiencyLevel}}</span>
                      </div>
                      <div class="form-group col-6">
                        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
                            <mat-label>{{ 'CV.SKILL_COMMENT' | translate }}</mat-label>                            
                            <input matInput type="text" formControlName="comment"  >
                        </mat-form-field>
                        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.SKILL_COMMENT' | translate }}</span> {{skillsCV[i].comment}}</span>
                      </div>
                    </div>
                </div>
            </div>
        </div> 
        <br/>
        <!-- work history -->
        <div class="card m-3">
            <div class="card-header">
              <span><i _ngcontent-pqf-c0="" class="material-icons"> work </i> {{ 'CV.WORK_HISTORY' | translate }}</span>
              <span *ngIf="canEditCV" class="">  

                <a class="btn btn-primary float-right" ng-href="" (click)="openAddNewItem($event, 'workitem')">
                  <i _ngcontent-axy-c0="" class="material-icons small"> add </i>
                  {{ 'BUTTON.ADD' | translate }}
                </a>
<!--
                        <a class="btn btn-primary float-right" ng-href="" (click)="addFormGroupItem($event, 'workitem')">
                          <i _ngcontent-axy-c0="" class="material-icons small"> add </i>
                          {{ 'BUTTON.ADD' | translate }}
                        </a>                          
-->
              </span>
            </div>
            <div *ngFor="let workItem of w.controls; let i = index" class="list-group list-group-flush card-body">
                <div class="list-group-item">
                  <div>
                    <h5 class="card-title"><span class="CVlabel">{{ 'CV.WORK' | translate }} {{i + 1}}</span>
                      <a *ngIf="canEditCV" class="btn btn-danger float-right" ng-href="" (click)="deleteFormGroupItem($event, i, 'workitem')">
                        <i _ngcontent-axy-c0="" class="material-icons small"> delete </i>                  
                        {{ 'BUTTON.DELETE' | translate }}
                      </a> 
                    </h5>
                  </div>
                    
                    <div [formGroup]="workItem" class="form-row">
                      <div class="form-group col-6">
                        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
                            <mat-label>{{ 'CV.WORK_POSITION' | translate }}</mat-label>                            
                            <input matInput required type="text" formControlName="position"  >
                        </mat-form-field>
                        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.WORK_POSITION' | translate }}</span> {{workHistoryCV[i].position}}</span>
                      </div>
                      <div class="form-group col-6">
                        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
                            <mat-label>{{ 'CV.WORK_FROM' | translate }}</mat-label>                            
                            <input matInput required type="date" formControlName="from"  >
                        </mat-form-field>
                        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.WORK_FROM' | translate }}</span> {{workHistoryCV[i].from}}</span>
                      </div>
                      <div class="form-group col-6">
                        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
                            <mat-label>{{ 'CV.WORK_TO' | translate }}</mat-label>                            
                            <input matInput required type="date" formControlName="to"  >
                        </mat-form-field>
                        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.WORK_TO' | translate }}</span> {{workHistoryCV[i].to}}</span>
                      </div>
                      <div class="form-group col-6">
                        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
                            <mat-label>{{ 'CV.WORK_EMPLOYER' | translate }}</mat-label>                            
                            <input matInput required type="text" formControlName="employer"  >
                        </mat-form-field>
                        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.WORK_EMPLOYER' | translate }}</span> {{workHistoryCV[i].employer}}</span>
                      </div>
                    </div>
              </div>
            </div>
        </div>          
        <br/>        
        <!-- Education history -->
        <div class="card m-3">
            <div class="card-header">
              <span><i _ngcontent-pqf-c0="" class="material-icons"> school </i> {{ 'CV.EDUCATION_HISTORY' | translate }}</span>
              <span *ngIf="canEditCV" class="">  

                <a class="btn btn-primary float-right" ng-href="" (click)="openAddNewItem($event, 'educationitem')">
                  <i _ngcontent-axy-c0="" class="material-icons small"> add </i>
                  {{ 'BUTTON.ADD' | translate }}
                </a>
<!--
                <a class="btn btn-primary float-right" ng-href="" (click)="addFormGroupItem($event, 'educationitem')">
                  <i _ngcontent-axy-c0="" class="material-icons small"> add </i>
                  {{ 'BUTTON.ADD' | translate }}
                </a>
-->
              </span>
            </div>
            
            <div *ngFor="let educationItem of e.controls; let i = index" class="list-group list-group-flush card-body">
              <div class="list-group-item">
                <div>
                  <h5 class="card-title"><span class="CVlabel">{{ 'CV.EDUCATION' | translate }} {{i + 1}}</span>
                    <a *ngIf="canEditCV" class="btn btn-danger float-right" ng-href="" (click)="deleteFormGroupItem($event, i, 'educationitem')">
                      <i _ngcontent-axy-c0="" class="material-icons small"> delete </i>
                      {{ 'BUTTON.DELETE' | translate }}
                    </a> 
                  </h5>
                </div>
                  
                  <div [formGroup]="educationItem" class="form-row">
                    <div class="form-group col-6">
                        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
                            <mat-label>{{ 'CV.EDUCATION_TITLE' | translate }}</mat-label>                            
                            <input matInput required type="text" formControlName="label"  >
                        </mat-form-field>
                        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.EDUCATION_TITLE' | translate }}</span> {{educationHistoryCV[i].label}}</span>
                    </div>
                    <div class="form-group col-6">
                        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
                            <mat-label>{{ 'CV.EDUCATION_FROM' | translate }}</mat-label>                            
                            <input matInput required type="date" formControlName="from"  >
                        </mat-form-field>
                        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.EDUCATION_FROM' | translate }}</span> {{educationHistoryCV[i].from}}</span>
                    </div>
                    <div class="form-group col-6">
                        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
                            <mat-label>{{ 'CV.EDUCATION_TO' | translate }}</mat-label>                            
                            <input matInput required type="date" formControlName="to"  >
                        </mat-form-field>            
                        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.EDUCATION_TO' | translate }}</span> {{educationHistoryCV[i].to}}</span>          
                    </div>
                    <div class="form-group col-6">
                        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
                            <mat-label>{{ 'CV.EDUCATION_ORGANISATION' | translate }}</mat-label>                            
                            <input matInput required type="text" formControlName="organization"  >
                        </mat-form-field>
                        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.EDUCATION_ORGANISATION' | translate }}</span> {{educationHistoryCV[i].organization}}</span>
                    </div>
                    <div class="form-group col-6">
                        <mat-form-field class="cv-full-width" *ngIf="canEditCV">
                            <mat-label>{{ 'CV.EDUCATION_DESCRIPTION' | translate }}</mat-label>                            
                            <input matInput required type="text" formControlName="description"  >
                        </mat-form-field>
                        <span *ngIf="!canEditCV"><span class="CVlabel">{{ 'CV.EDUCATION_DESCRIPTION' | translate }}</span> {{educationHistoryCV[i].description}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>     
            <br/>           

        </div>
    </form>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="modal-footer">      

        <button *ngIf="(!loadingSpinner && canEditCV)" [disabled]="formUserCV.invalid" type="button" class="btn btn-success"  (click)="onSubmit()">
            <i _ngcontent-axy-c0="" class="material-icons"> save </i>
            {{ 'BUTTON.SAVE' | translate }}
        </button>

        <button type="button" class="btn btn-danger" [mat-dialog-close]="false" id="closeAwardModalWindow">
            <i _ngcontent-axy-c0="" class="material-icons"> close </i> {{ 'BUTTON.CLOSE' | translate }}
        </button>
    </div>
</mat-dialog-actions>    