.completeCourseSectiontab {
    overflow-y: auto; 
    max-height: 200px;
    min-height: 200px;
    padding: 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.smartBudgesBody {
    overflow-y: auto; 
    max-height: 180px;    
}

.smartBudge {
    overflow-y: auto; 
    max-height: 100px;    
    min-height: 100px;    
}

div.careeradvisor,
div.cv_gap_analysis {
    padding-top: 14px;
}

div.cv_add_course {
    padding-bottom: 14px;
}

.example-chip-list {
    width: 100%;
  }

.profileLabel {
    font-weight: bold;
}

.float-right {
    float: right!important;
}

.card-header {
    margin-top: 0;
}

.card-ou {
    margin: 3px;
    background: white;
    border: 1px solid #cccccc;    
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);    
    border-color: #b3b3b3;    
}

.card-ou-status-issued {
    background-color: rgb(170, 243, 202);;
}
.card-ou-status-revoked {
    background-color: rgb(232, 167, 167)  
}
.card-ou-status-pending {
    background-color: rgb(253, 197, 113);       
}

.cv-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.cv-full-width {
    width: 100%;
  }

.CVlabel {
    font-weight: bold; 
}