<h1 *ngIf="userId.toString()!=currentUser?.id.toString()">{{ 'PROFILES.PROFILE' | translate }}</h1>
<h1 *ngIf="userId.toString()==currentUser?.id.toString()">{{ 'PROFILE.MY_PROFILE' | translate }}</h1>
<!--
--{{ userdata.id }} --- {{currentUser.id}} --- {{userdata.role}} --- {{userdata.avatar_path}} --
-->


<div class="container">

  <div class="row">   
    <button class="btn btn-primary" (click)="generatePdf('open')">  
      <i _ngcontent-axy-c0="" class="material-icons small"> picture_as_pdf </i> {{ 'BUTTON.OPEN_PDF' | translate }}
    </button>
    <!--
    <button class="btn btn-primary" (click)="generatePdf('download')">
      <i _ngcontent-axy-c0="" class="material-icons small"> cloud_download </i>
      {{ 'BUTTON.DOWNLOAD_PDF' | translate }}
    </button>
    <button class="btn btn-primary" (click)="generatePdf('print')">
      <i _ngcontent-axy-c0="" class="material-icons small"> print </i>
      {{ 'BUTTON.PRINT_PDF' | translate }}
    </button>
    -->
    <!--
    <button *ngIf="((userId.toString()==currentUser.id.toString()) || (isAdmin))" class="btn btn-primary" [routerLink]="['/profiles', userdata.id, 'edit']">
      <i _ngcontent-axy-c0="" class="material-icons small"> edit </i>
      {{ 'BUTTON.EDIT' | translate }}
    </button>
    -->
    <span *appCanAccess="['edit_own_profile']">
      <button *ngIf="userId.toString()==currentUser?.id.toString()" class="btn btn-primary" [routerLink]="['/myprofile', 'edit']">
        <i _ngcontent-axy-c0="" class="material-icons small"> edit </i>
        {{ 'BUTTON.EDIT' | translate }}
      </button>
    </span>
    <span *appCanAccess="['edit_other_profile']">
      <button *ngIf="userId.toString()!=currentUser?.id.toString()" class="btn btn-primary" [routerLink]="['/profiles', userdata?.id, 'edit']">
        <i _ngcontent-axy-c0="" class="material-icons small"> edit </i>
        {{ 'BUTTON.EDIT' | translate }}
      </button>
    </span>
    
    <button *ngIf="((userId.toString()==currentUser?.id.toString()) || (isAdmin))" class="btn btn-primary" [routerLink]="['/profiles', userdata?.id, 'dss-curriculum-re-design']">
      <i _ngcontent-axy-c0="" class="material-icons small"> edit </i>
      DSS CV Re-design
    </button>

    <span *appCanAccess="['delete_own_profile']">
      <button *ngIf="userId.toString()==currentUser?.id.toString()" class="btn btn-danger" [routerLink]="" (click)="confirmDialog()">
        <i _ngcontent-axy-c0="" class="material-icons small"> delete </i>
        {{ 'BUTTON.DELETE_OWN_PROFILE' | translate }}
      </button>
    </span>
  </div>
  <div class="row"><br></div>
  
  <div class="row">
    <!--
    <div class="col" [ngClass]="{'col-lg-8': ((userdata?.id==currentUser?.id) && (userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'))}">
    -->

    <div class="col" [ngClass]="{'col-lg-8':
    (
      (userdata?.id==currentUser?.id)
      &&
      (
        authservice.checkIfPermissionsExistsByUserRoles(['get_job_recommendations'])
        ||
        authservice.checkIfPermissionsExistsByUserRoles(['get_courses_recomendations'])
        ||
        authservice.checkIfPermissionsExistsByUserRoles(['get_skills_recomendations'])
        ||
        authservice.checkIfPermissionsExistsByUserRoles(['get_their_job_applications'])
      )
    )    
    }">

      <div class="row">
        <div class="col col-lg-8">
            <div><span class="profileLabel">{{ 'PROFILES.USERNAME' | translate }}:</span> {{userdata.userName}}</div>            
            <div><span class="profileLabel">{{ 'PROFILES.NAME' | translate }}:</span> {{userdata.name}}</div>
            <div><span class="profileLabel">{{ 'PROFILES.SURNAME' | translate }}:</span>  {{userdata.surname}}</div>
            <div><span class="profileLabel">{{ 'PROFILES.EMAIL' | translate }}:</span>  {{userdata.email}}</div>
            <div><span class="profileLabel">{{ 'PROFILES.ROLE' | translate }}:</span>  <span *ngIf="userdata.role"> {{ 'ROLES.'+userdata.role | translate}}</span></div>
            <div><span class="profileLabel">{{ 'PROFILES.GENDER' | translate }}:</span> <span *ngIf="userdata.gender"> {{ 'PROFILE.GENDER.TYPE.'+userdata.gender.toUpperCase() | translate}}</span></div>
            <div *ngIf="currentJobPosition"><span class="profileLabel">{{ 'PROFILES.CURRENT_JOB_POSITION' | translate }}:</span> {{currentJobPosition}}</div>

            <div class="row"><br></div>
            <div class="row" *ngIf="userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'">

              <div>
                  <button *ngIf="canViewCV" class="btn btn-primary" (click)="openUserCV(userdata.id)" >  
                    <i _ngcontent-axy-c0="" class="material-icons small"> account_box </i> {{ 'PROFILES.CV' | translate }} 
                  </button>
                  
                  <button *ngIf="((userdata.id==currentUser.id) || (isAdmin))" class="btn btn-primary" (click)="uploadUserCVKG(userdata.id)" >  
                    <i _ngcontent-axy-c0="" class="material-icons small">  cloud_upload </i> {{ 'UPLOAD_CV_KG.BUTTON' | translate }} 
                  </button>
                  
                  <button *ngIf="((userdata.id==currentUser.id) || (isAdmin))" class="btn btn-success" [routerLink]="['/profiles', userdata.id,'best-career-options']">  
                    <i _ngcontent-axy-c0="" class="material-icons small"> stars </i> {{ 'PROFILES.BEST_CAREER_OPTIONS' | translate }}
                  </button>
                </div>
            </div>
        </div>
        <div class="col col-lg-2">
            <div>
              <img *ngIf="userdata.avatar_path" [src]="userdata.avatar_path">
              <img *ngIf="!userdata.avatar_path" src="assets/img/no_avatar.jpg">
            </div>
            
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row">
<!-- 
   #acc="ngbAccordion"
-->
        <ngb-accordion *ngIf="userdata.role.toLowerCase()!='recruiter'">

          
                <ngb-panel  id="toggle-0" title="{{ 'PROFILES.CARRER_PATH' | translate }}" *ngIf="userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'">
                  <ng-template ngbPanelContent>
                    <div class="">
                      Mockup chart<br/>
                      <!--
                      <svg id="sankey" width="600" height="350"></svg>
                      -->
                      <app-visualisations-carerr-path-trajectory-chart [userId]=userId></app-visualisations-carerr-path-trajectory-chart>

                    </div>
                  </ng-template>
                </ngb-panel>

                <ngb-panel id="toggle-1" title="{{ 'PROFILES.COMPLETED_COURSES' | translate }}" *ngIf="userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'">
                  <ng-template ngbPanelContent>
                      <div class="">
                            <!--
                            <ngb-tabset [justify]="currentJustify">
                                    <ngb-tab id="tab-selectbyid-{{year}}"  title="Year {{year}}" *ngFor="let year of years; let i = index">
                                      <ng-template ngbTabContent>
                                            <div class="col-lg-4 completeCourseSectiontab">
                                                    <div>
                                                            <select class="form-control form-control-sm">
                                                                    <option selected value="0">{{year}}.Specialisation Flow</option>
                                                                    <option value="1">{{year}}.Specialisation Flow - One</option>
                                                                    <option value="2">{{year}}.Specialisation Flow - Two</option>
                                                                    <option value="3">{{year}}.Specialisation Flow - Three</option>
                                                                  </select>
                                                    </div>
                                                    
                                                    <div>
                                                            <select class="form-control form-control-sm">
                                                                    <option>Semester {{year}}.1</option>
                                                                    <option>Semester {{year}}.2</option>
                                                                    <option>Semester {{year}}.3</option>
                                                                  </select>                                                
        
                                                    </div> 
                                                
                                            </div>
                            -->                                            
                                            <div class="completeCourseSectiontab" [ngClass]="{'col-lg-6':selectedCourse,'col-lg-12':!selectedCourse}">
                                                
                                                    <ul class="list-group list-group-flush">
                                                        <li  *ngFor="let course of listOfCompletedCoursesByUser" class="list-group-item" >
                                                          <a [routerLink]="" (click)="selectedCourse=course">{{course.course.name}}</a>
                                                          <!--
                                                          <table>
                                                            <tr>
                                                              <td><input type="checkbox" class="custom-control-input" id="check_box_course_{{course.course.courseid}}" value="{{course.course.courseid}}"> </td>
                                                              <td><a [routerLink]="" (click)="selectedCourse=course">{{course.course.name}}</a></td>
                                                            </tr>
                                                          </table>  
                                                          -->
                                                        </li>
                                                      </ul>
                                            </div>
                                            <div *ngIf="selectedCourse" class="col-lg-6 completeCourseSectiontab">
                                              <div class=""><h3>{{selectedCourse.course.name}}</h3></div>
                                              <div class="">{{selectedCourse.course.description}}</div>
                                              <div class="">{{ 'COURSE.SCORE.LABEL' | translate }}: {{selectedCourse.grade}}</div>
                                              <div class=""><br/><a class="btn btn-danger" [routerLink]="" (click)="selectedCourse=null">{{ 'BUTTON.CLOSE' | translate }}</a> 
                                               &nbsp; <a class="btn btn-success" [routerLink]="['/courses', selectedCourse.course.courseid]" >{{ 'BUTTON.VIEW_MORE' | translate }}</a>
                                               
                                              
                                              </div>
                                            </div>
                          <!--
                                      </ng-template>
                                    </ngb-tab>
                                    
                                  </ngb-tabset>
                          -->
                      </div>

                  </ng-template>
                </ngb-panel>
                
                <ngb-panel id="toggle-2" title="{{ 'PROFILES.TEACHING_COURSES' | translate }}" *ngIf="userdata.role.toLowerCase()=='professor'">
                  <ng-template ngbPanelContent>
                      <div class="">
                        <div class="row cv_add_course">
                          <div class="col col-lg-12">
                            <button class="btn btn-primary" [routerLink]="['/courses', 'add']">
                              <i _ngcontent-axy-c0="" class="material-icons small"> add </i> {{ 'BUTTON.CREATE' | translate }}
                            </button><br/>
                          </div>
                        </div>
                        

                        <div class="accordion" id="accordionTeacherCourses">
                          <div class="card" *ngFor="let course of listOfCoursesByUser">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#course_' + course.courseid" aria-expanded="true" aria-controls="collapseOne">
                                  {{course.name}}
                                </button>
                              </h5>
                            </div>
                        
                            <div [attr.id]="'course_' + course.courseid" class="collapse" aria-labelledby="headingOne" data-parent="#accordionTeacherCourses">
                              <div class="card-body">
                                  <div class="courseDescription">
                                      <div><h4>{{ 'COURSE.DESCRIPTION.LABEL' | translate }}</h4></div>
                                      <div>{{course.description}}</div>
                                  </div>
                                  <div>&nbsp; </div>
                                  <div class="row courseRelatedData">
                                      <div class="col-lg-6">
                                          <div><h4>{{ 'COURSE.RELATED_SKILLS' | translate }}</h4></div>
                                          <div><span *ngFor="let skill of skillsByCourseInfo[course.courseid]"><a href="/skills/{{skill.skill.id}}">{{skill.skill.name}}</a>, </span></div>
                                          <div *ngIf="skillsByCourseInfo[course.courseid].length==0">{{ 'COURSE.RELATED_SKILLS_NO_DATA' | translate }}</div>
                                      </div>
                                      <div class="col-lg-6">
                                          <div><h4>{{ 'COURSE.COURSE_BADGES' | translate }}</h4></div>                                            
                                          <div>                                             
                                             {{ 'COURSE.COURSE_BADGES_NO_DATA' | translate }}  &nbsp;
                                             <!--<span *ngFor="let badge of course.course_badges">{{badge}}, </span>-->
                                          </div>
                                      </div>                                        
                                  </div>
                                  <div class="row ">&nbsp; </div>                                  
                                  <div *ngIf="userdata.id==currentUser.id" class="row courseActions">
                                      <div class="col-lg-6">
                                        <!--
                                        <a [routerLink]="['/courses', course.id,'edit']" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> {{ 'COURSE.UPDATE' | translate }}</a>
                                        -->
                                        <button class="btn btn-primary" [routerLink]="['/courses', course.courseid]" type="button">  
                                          <i _ngcontent-axy-c0="" class="material-icons small">  details  </i> {{ 'BUTTON.VIEW' | translate }}
                                        </button>

                                        <button class="btn btn-primary" [routerLink]="['/courses', course.courseid,'edit']" type="button">  
                                          <i _ngcontent-axy-c0="" class="material-icons small"> edit </i> {{ 'BUTTON.EDIT' | translate }}
                                        </button>

                                      </div>
                                       <div class="col-lg-6">
                                          <!--
                                          <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-star-empty"></span> {{ 'COURSE.AWARD_SMART_BADGE' | translate }}</button>
                                          -->
                                          <button class="btn btn-primary" [routerLink]="['/courses', course.courseid,'award']" type="button">  
                                            <i _ngcontent-axy-c0="" class="material-icons small"> star </i> {{ 'COURSE.AWARD_SMART_BADGE' | translate }}
                                          </button>  
                                      </div>
                                  </div>
                                  <div *ngIf="userdata.id==currentUser.id">&nbsp; </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>                        

      
                      </div>

                  </ng-template>
                </ngb-panel>

                <ngb-panel id="toggle-3" title="{{ 'PROFILES.SMART_BADGES' | translate }}">
                        <ng-template ngbPanelContent>
                            <div class="row smartBudgesBody">

                              
                              <div *ngIf="smartBadgesByUser.length==0" class="col-lg-8  smartBudge">                                
                                {{ 'PROFILE.NO_SMART_BADGE_YET' | translate }}
                              </div>
                              <div *ngFor="let smartBadge of smartBadgesByUser; let i = index"  class="col-lg-12 card-ou" 
                                [ngClass]="{
                                  'card-ou-status-issued': smartBadge.badge.status==='issued',
                                  'card-ou-status-revoked': smartBadge.badge.status==='revoked',
                                  'card-ou-status-pending': smartBadge.badge.status==='pending'
                                  }">
                                  <div class="col-lg-2 ">
                                    <img style="width:80px" src="{{smartBadge.badge.image}}" alt="{{smartBadge.badge.name}}">
                                  </div>
                                  <div class="col-lg-10 ">
                                    <h5 >{{smartBadge.badge.name}}</h5>
                                    <p >{{smartBadge.badge.description}}</p>
                                    <p >Status: {{smartBadge.badge.status}}</p>
                                  </div>
                                </div>
                              <!--
                              <div *ngFor="let smartBadge of smartBadgesByUser; let i = index"  class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">                                
                                <br/>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <br/>
                                <span matTooltip="{{smartBadge.badge.description}}">{{smartBadge.badge.name}}</span>                                 
                                <br/>
                              </div>
                              -->
                              
                            </div>
                            
                            <!--
                            <div *ngIf="((userdata.id==currentUser.id) || (isAdmin))" class="row smartBudgesBody">
                              <div class="col-lg-12  smartBudge">
                                <button class="btn btn-primary" (click)="openAwardDialogInUserProfile(userdata.id, smartBadgesByUser)">
                                  <i _ngcontent-axy-c0="" class="material-icons"> emoji_events </i> Award
                                </button>
                              </div>
                            </div>
                          -->


                        </ng-template>
                      </ngb-panel>

        </ngb-accordion>

        <div class="row careeradvisor" *ngIf="userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'">
            <div class="col col-lg-8"> </div>
            <div class="col col-lg-2">
              
              <a [routerLink]="['/profiles', userdata.id,'career-advisor']" class="btn btn-success"><span class="glyphicon glyphicon-star"></span> {{ 'PROFILES.CAREER_ADVISOR' | translate }}</a>
                              
              <!-- <button *ngIf="(1==2) && ((userdata.id==currentUser.id) || (isAdmin))" class="btn btn-success" [routerLink]="['/profiles', userdata.id,'career-advisor']">  
                <i _ngcontent-axy-c0="" class="material-icons small"> stars </i> {{ 'PROFILES.CAREER_ADVISOR' | translate }}
              </button> -->
            </div>
            
        </div>

        <div class="row cv_gap_analysis" *ngIf="(userdata.role.toLowerCase()=='professor' && isProfessor)">
          <div class="col col-lg-8"> </div>
          <div class="col col-lg-2">            
            <button class="btn btn-success" [routerLink]="['/profiles', userdata.id,'cv-gap-analysis']">  
              <i _ngcontent-axy-c0="" class="material-icons small"> stars </i> {{ 'PROFILES.CV_GAP_ANALYSIS' | translate }}
            </button>
          </div>
        </div>

    </div>
      
    </div>
    <!--
    <div class="col col-lg-4" *ngIf="(userdata.id==currentUser.id) && (userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee')">
    -->
    <div class="col col-lg-4" *ngIf="(userdata.id==currentUser.id)">
    
      <mat-accordion class="example-headers-align" multi>
        <app-recomended-jobs *appCanAccess="['get_job_recommendations']" userId="{{userdata.id}}"></app-recomended-jobs>
        <app-recomended-courses *appCanAccess="['get_courses_recomendations']" userId="{{userdata.id}}"></app-recomended-courses>
        <app-recomended-skills *appCanAccess="['get_skills_recomendations']" userId="{{userdata.id}}"></app-recomended-skills>
        <app-job-applications-by-user *appCanAccess="['get_their_job_applications']" userId="{{userdata.id}}"></app-job-applications-by-user>
      </mat-accordion>

    </div>
  </div>





</div>