<h1 *ngIf="userId.toString()!=currentUser?.id.toString()">{{ 'PROFILES.PROFILE' | translate }}</h1>
<h1 *ngIf="userId.toString()==currentUser?.id.toString()">{{ 'PROFILE.MY_PROFILE' | translate }}</h1>
<!--
--{{ userdata.id }} --- {{currentUser.id}} --- {{userdata.role}} --- {{userdata.avatar_path}} --
-->


<div class="container">

  <div class="row">   
    <button class="btn btn-primary" (click)="generatePdf('open')">  
      <i _ngcontent-axy-c0="" class="material-icons small"> picture_as_pdf </i> {{ 'BUTTON.OPEN_PDF' | translate }}
    </button>
    <!--
    <button class="btn btn-primary" (click)="generatePdf('download')">
      <i _ngcontent-axy-c0="" class="material-icons small"> cloud_download </i>
      {{ 'BUTTON.DOWNLOAD_PDF' | translate }}
    </button>
    <button class="btn btn-primary" (click)="generatePdf('print')">
      <i _ngcontent-axy-c0="" class="material-icons small"> print </i>
      {{ 'BUTTON.PRINT_PDF' | translate }}
    </button>
    -->
    <!--
    <button *ngIf="((userId.toString()==currentUser.id.toString()) || (isAdmin))" class="btn btn-primary" [routerLink]="['/profiles', userdata.id, 'edit']">
      <i _ngcontent-axy-c0="" class="material-icons small"> edit </i>
      {{ 'BUTTON.EDIT' | translate }}
    </button>
    -->
    <span *appCanAccess="['edit_own_profile']">
      <button *ngIf="(userId.toString()==currentUser?.id.toString())" class="btn btn-primary" [routerLink]="['/myprofile', 'edit']">
        <i _ngcontent-axy-c0="" class="material-icons small"> edit </i>
        {{ 'BUTTON.EDIT' | translate }}
      </button>
    </span>
    <span *appCanAccess="['edit_other_profile']">
      <button *ngIf="(userId.toString()!=currentUser?.id.toString() && isAdmin)" class="btn btn-primary" [routerLink]="['/profiles', userdata?.id, 'edit']">
        <i _ngcontent-axy-c0="" class="material-icons small"> edit </i>
        {{ 'BUTTON.EDIT' | translate }}
      </button>
    </span>
    <button *ngIf="(((userId.toString()==currentUser?.id.toString()) && (isProfessor)))" class="btn btn-primary" [routerLink]="['/profiles', userdata?.id, 'dss-curriculum-re-design']">
      <i _ngcontent-axy-c0="" class="material-icons small"> edit </i>
      {{ 'PROFILES.DSS_CV_RE_DESIGN' | translate }}
    </button>

    <span *appCanAccess="['delete_own_profile']">
      <button *ngIf="(userId.toString()==currentUser?.id.toString())" class="btn btn-danger" [routerLink]="" (click)="confirmDialog()">
        <i _ngcontent-axy-c0="" class="material-icons small"> delete </i>
        {{ 'BUTTON.DELETE_OWN_PROFILE' | translate }}
      </button>
    </span>
  </div>
  <div class="row"><br></div>
  
  <div class="row">
    <!--
    <div class="col" [ngClass]="{'col-lg-8': ((userdata?.id==currentUser?.id) && (userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'))}">
    -->

    <div class="col" [ngClass]="{'col-lg-8':
    (
      (userdata?.id==currentUser?.id)
      &&
      (
        authservice.checkIfPermissionsExistsByUserRoles(['get_job_recommendations'])
        ||
        authservice.checkIfPermissionsExistsByUserRoles(['get_courses_recomendations'])
        ||
        authservice.checkIfPermissionsExistsByUserRoles(['get_skills_recomendations'])
        ||
        authservice.checkIfPermissionsExistsByUserRoles(['get_their_job_applications'])
      )
    )    
    }">

      <div class="row">
        <div class="col" [ngClass]="{'col-lg-6':(canViewCV && (isStudent || isEmployee)) , 'col-lg-8':!(canViewCV && (isStudent || isEmployee))}">
            <div><span class="profileLabel">{{ 'PROFILES.USERNAME' | translate }}:</span>&nbsp;{{userdata.userName}}</div>            
            <div><span class="profileLabel">{{ 'PROFILES.NAME' | translate }}:</span>&nbsp;{{userdata.name}}</div>
            <div><span class="profileLabel">{{ 'PROFILES.SURNAME' | translate }}:</span>&nbsp;{{userdata.surname}}</div>
            <div><span class="profileLabel">{{ 'PROFILES.EMAIL' | translate }}:</span>&nbsp;{{userdata.email}}</div>
            <div *ngIf="(userdata.role && !userdata.roles)"><span class="profileLabel">{{ 'PROFILES.ROLE' | translate }}:</span>&nbsp;<span>{{ 'ROLES.'+userdata.role | translate}}</span></div>
            <div *ngIf="userdata.roles">
              <span *ngIf="(userdata.roles.length==1)" class="profileLabel">{{ 'PROFILES.ROLE' | translate }}:</span>
              <span *ngIf="(userdata.roles.length>1)" class="profileLabel">{{ 'PROFILES.ROLES' | translate }}:</span>
              <span *ngFor="let role of userdata.roles;  let i = index"><span>&nbsp;</span>{{ 'ROLES.'+role | translate}}<span *ngIf="(i<userdata.roles.length-1)">,&nbsp;</span></span></div>
            <div><span class="profileLabel">{{ 'PROFILES.GENDER' | translate }}:</span> <span *ngIf="userdata.gender"> {{ 'PROFILE.GENDER.TYPE.'+userdata.gender.toUpperCase() | translate}}</span></div>
            <div *ngIf="currentJobPosition"><span class="profileLabel">{{ 'PROFILES.CURRENT_JOB_POSITION' | translate }}:</span>&nbsp;{{currentJobPosition}}</div>

            <div class="row"><br></div>
            <!--
            <div class="row" *ngIf="userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'">
            -->
            
        </div>
        <div class="col" [ngClass]="{'col-lg-6':(canViewCV && (isStudent || isEmployee)), 'col-lg-2':!((canViewCV && (isStudent || isEmployee)))}">
          <div class="col " [ngClass]="{'col-lg-4':(canViewCV && (isStudent || isEmployee)), 'col-lg-8':!(canViewCV && (isStudent || isEmployee))}">
              <div *ngIf="userdata.avatar_path" class="user-avatar-img" [ngStyle]="{'background-image': 'url(' + profileAvatarImg + ')'}"> </div>
              <div *ngIf="!userdata.avatar_path" class="user-avatar-img" [ngStyle]="{'background-image': 'url(assets/img/no_avatar.jpg)'}"> </div>
          </div>
          <div  *ngIf="(canViewCV && (isStudent || isEmployee))" class="col col-lg-4 cv_comp">
                <div class="wrapperpiechart2">
                  <canvas id="canvas_pie_chart" baseChart
                      [datasets]="[{ data: [CvPercentatge,(100-CvPercentatge)],
                        label: 'PROFILES.COMPLETENESS' | translate , backgroundColor: [
                      completenessColor,
                      'rgba(0, 0, 0, 1)'
                      ]}]"
                      [labels]="chartLabels"
                      [options]="chartOptions"
                      [chartType]="chartType">
                  </canvas>
                  <p class="profileLabel">{{ 'PROFILES.CV_COMPLETENESS' | translate }}</p>
                </div>

            </div>
            
        </div>
    </div>

    <div class="col" *ngIf="isStudent || isEmployee">
      <div class="row">
        <br>
        <div>
            <button *ngIf="canViewCV" class="btn btn-primary" (click)="openUserCV(userdata.id)" >  
              <i _ngcontent-axy-c0="" class="material-icons small"> account_box </i> {{ 'PROFILES.CV' | translate }} 
            </button>
            
            <button *ngIf="((userdata.id==currentUser.id) || (isAdmin))" class="btn btn-primary" (click)="uploadUserCVKG(userdata.id)" >  
              <i _ngcontent-axy-c0="" class="material-icons small">  cloud_upload </i> {{ 'UPLOAD_CV_KG.BUTTON' | translate }} 
            </button>
            
            <button *ngIf="((userdata.id==currentUser.id) || (isAdmin))" class="btn btn-success" [routerLink]="['/profiles', userdata.id,'best-career-options']">  
              <i _ngcontent-axy-c0="" class="material-icons small"> stars </i> {{ 'PROFILES.BEST_CAREER_OPTIONS' | translate }}
            </button>
          </div>
      </div>
    </div>

    <div class="row"><br></div>
    <div class="row">
<!-- 
   #acc="ngbAccordion"
-->
        <!--
        <ngb-accordion *ngIf="userdata.role.toLowerCase()!='recruiter'">
        -->
        <ngb-accordion>
          <!--
                <ngb-panel  id="toggle-0" title="{{ 'PROFILES.CARRER_PATH' | translate }}" *ngIf="userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'">
          -->
                <ngb-panel  id="toggle-0" title="{{ 'PROFILES.CARRER_PATH' | translate }}" 
                *ngIf="((userdata.id==currentUser.id) && (isStudent || isEmployee))">
                  <ng-template ngbPanelContent>
                    <div class="">
                      <!--
                      <svg id="sankey" width="600" height="350"></svg>
                      -->
                      <app-visualisations-carerr-path-trajectory-chart [userId]=userId></app-visualisations-carerr-path-trajectory-chart>

                    </div>
                  </ng-template>
                </ngb-panel>

                <!--
                <ngb-panel id="toggle-1" title="{{ 'PROFILES.COMPLETED_COURSES' | translate }}" *ngIf="userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee'">
                -->
                <ngb-panel id="toggle-1" title="{{ 'PROFILES.COMPLETED_COURSES' | translate }}" 
                *ngIf="((userdata.id==currentUser.id) && (isStudent || isEmployee))">
                  <ng-template ngbPanelContent>
                      <div class="">
                        <div *ngIf="listOfCompletedCoursesByUser.length==0; else elseBlockConpletedCourses" class="col-lg-8  smartBudge">                                
                          {{ 'CAREER_ADVISOR.COMPLETED_COURSES.NO_DATA' | translate }}
                        </div>

                        <ng-template #elseBlockConpletedCourses>
                          <div class="completeCourseSectiontab" [ngClass]="{'col-lg-6':selectedCourse,'col-lg-12':!selectedCourse}">
                          
                            <ul class="list-group list-group-flush">
                              <li  *ngFor="let course of listOfCompletedCoursesByUser" class="list-group-item" >
                                <a [routerLink]="" (click)="selectedCourse=course">{{course.course.name}}</a>
                              </li>
                            </ul>
                          </div>
                          <div *ngIf="selectedCourse" class="col-lg-6 completeCourseSectiontab">
                            <div class=""><h3>{{selectedCourse.course.name}}</h3></div>
                            <div class="">{{selectedCourse.course.description}}</div>
                            <div class="">{{ 'COURSE.SCORE.LABEL' | translate }}: {{selectedCourse.grade}}</div>
                            <div class=""><br/><a class="btn btn-danger" [routerLink]="" (click)="selectedCourse=null">{{ 'BUTTON.CLOSE' | translate }}</a> 
                              &nbsp; <a class="btn btn-success" [routerLink]="['/courses', selectedCourse.course.courseid]" >{{ 'BUTTON.VIEW_MORE' | translate }}</a>
                            </div>
                          </div>
                        </ng-template>
                      </div>
                  </ng-template>
                </ngb-panel>
                <!--
                <ngb-panel id="toggle-2" title="{{ 'PROFILES.TEACHING_COURSES' | translate }}" *ngIf="userdata.role.toLowerCase()=='professor'">
                -->                                
                <ngb-panel id="toggle-2" title="{{ 'PROFILES.TEACHING_COURSES' | translate }}" 
                  *ngIf="((userdata.id==currentUser.id) && (isProfessor))">
                  <ng-template ngbPanelContent>
                      <div class="">
                        <div class="row cv_add_course">
                          <div class="col col-lg-12">
                            <button class="btn btn-primary" [routerLink]="['/courses', 'add']">
                              <i _ngcontent-axy-c0="" class="material-icons small"> add </i> {{ 'BUTTON.CREATE' | translate }}
                            </button><br/>
                          </div>
                        </div>
                        <div class="accordion" id="accordionTeacherCourses">
                          <div class="card" *ngFor="let course of listOfCoursesByUser">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#course_' + course.courseid" aria-expanded="true" aria-controls="collapseOne">
                                  {{course.name}}
                                </button>
                              </h5>
                            </div>
                        
                            <div [attr.id]="'course_' + course.courseid" class="collapse" aria-labelledby="headingOne" data-parent="#accordionTeacherCourses">
                              <div class="card-body">
                                  <div class="courseDescription">
                                      <div><h4>{{ 'COURSE.DESCRIPTION.LABEL' | translate }}</h4></div>
                                      <div>{{course.description}}</div>
                                  </div>
                                  <div>&nbsp; </div>
                                  <div class="row courseRelatedData">
                                      <div class="col-lg-12">
                                          <div><h4>{{ 'COURSE.RELATED_SKILLS' | translate }}</h4></div>
                                          <div><span *ngFor="let skill of skillsByCourseInfo[course.courseid]"><a href="/skills/{{skill.skill.id}}">{{skill.skill.name}}</a>, </span></div>
                                          <div *ngIf="skillsByCourseInfo[course.courseid].length==0">{{ 'COURSE.RELATED_SKILLS_NO_DATA' | translate }}</div>
                                      </div>
                                  </div>
                                  <div class="row ">&nbsp; </div>                                  
                                  <div *ngIf="userdata.id==currentUser.id" class="row courseActions">
                                      <div class="col-lg-6">

                                        <button class="btn btn-primary" [routerLink]="['/courses', course.courseid]" type="button">  
                                          <i _ngcontent-axy-c0="" class="material-icons small">  details  </i> {{ 'BUTTON.VIEW' | translate }}
                                        </button>

                                        <button class="btn btn-primary" [routerLink]="['/courses', course.courseid,'edit']" type="button">  
                                          <i _ngcontent-axy-c0="" class="material-icons small"> edit </i> {{ 'BUTTON.EDIT' | translate }}
                                        </button>

                                      </div>
                                       <div *appCanAccess="['issue_smart_badge']" class="col-lg-6">
                                       <!--
                                          <button class="btn btn-primary" (click)="openAwardDialogCourse(course.courseid, course)" type="button"><span class="glyphicon glyphicon-star-empty"></span> {{ 'AWARD_SMART_BADGE.BUTTON.AWARD_COURSE' | translate }}</button>
                                       -->
                                          <button class="btn btn-primary" [routerLink]="['/courses', course.courseid,'award']" type="button">  
                                            <i _ngcontent-axy-c0="" class="material-icons small"> star </i> {{ 'COURSE.AWARD_SMART_BADGE' | translate }}
                                          </button>  
                                      </div>
                                  </div>
                                  <div *ngIf="userdata.id==currentUser.id">&nbsp; </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>                        

      
                      </div>

                  </ng-template>
                </ngb-panel>

                <ngb-panel id="toggle-3" title="{{ 'PROFILES.SMART_BADGES' | translate }}"
                *ngIf="((userdata.id==currentUser.id) && (isStudent || isEmployee || isProfessor))">
                  <ng-template ngbPanelContent>
                    <div class="col-lg-12 smartBudgesBody">

                      <!--
                        <div *appCanAccess="['issue_smart_badge']" class="col-lg-12 ">
                          <button class="btn btn-primary" (click)="openAwardDialogInUserProfile(userdata.id, smartBadgesByUser)">
                            <i _ngcontent-axy-c0="" class="material-icons small"> emoji_events </i> Award
                          </button>
                        </div>
                      -->
                        <div>
                          <app-qc-smart-badges-list-by-user [userId]="userdata.id" formatOutput="card"></app-qc-smart-badges-list-by-user>    
                        </div>
                        
                        <br>
                        
                              
                    </div>

                  </ng-template>
                </ngb-panel>

                <ngb-panel id="toggle-4" title="{{ 'PROFILES.COMPETENCY_DEVELOPMENT' | translate }}" 
                *ngIf="((userdata.id==currentUser.id) && (isStudent || isEmployee))">
                  <ng-template ngbPanelContent>
                    <div *ngIf="_reload">
                      <app-competency-development userId="{{userdata.id}}"></app-competency-development>
                    </div>
                  </ng-template>
                </ngb-panel>

        </ngb-accordion>
        
        <div class="row careeradvisor" *ngIf="((userdata.id==currentUser.id) && (isStudent || isEmployee))">

            <div class="col col-lg-8"> </div>
            <div class="col col-lg-2">
              
              <a [routerLink]="['/profiles', userdata.id,'career-advisor']" class="btn btn-success"><span class="glyphicon glyphicon-star"></span> {{ 'PROFILES.CAREER_ADVISOR' | translate }}</a>
                              
              <!-- <button *ngIf="(1==2) && ((userdata.id==currentUser.id) || (isAdmin))" class="btn btn-success" [routerLink]="['/profiles', userdata.id,'career-advisor']">  
                <i _ngcontent-axy-c0="" class="material-icons small"> stars </i> {{ 'PROFILES.CAREER_ADVISOR' | translate }}
              </button> -->
            </div>
            
        </div>

        <div class="row cv_gap_analysis" *ngIf="((userdata.id==currentUser.id) && isProfessor)">          
          <div class="col col-lg-12" style="display: flex; justify-content: flex-end">            
            <button class="btn btn-success" [routerLink]="['/profiles', userdata.id,'cv-gap-analysis']">  
              <i _ngcontent-axy-c0="" class="material-icons small"> stars </i> {{ 'PROFILES.CV_GAP_ANALYSIS' | translate }}
            </button>
          </div>
        </div>

    </div>
      
    </div>
    <!--
    <div class="col col-lg-4" *ngIf="(userdata.id==currentUser.id) && (userdata.role.toLowerCase()=='student' || userdata.role.toLowerCase()=='employee')">
    -->

    <div class="col col-lg-4" *ngIf="(userdata.id==currentUser.id)">
    
      <mat-accordion class="example-headers-align" multi>
        <app-thesis-summary *appCanAccess="['view_thesis_subjects', 'add_and_update_thesis']" userId="{{userdata.id}}" [viewBottons]=true></app-thesis-summary>
        <app-recomended-jobs *appCanAccess="['get_job_recommendations']" userId="{{userdata.id}}"></app-recomended-jobs>
        <div *ngIf="_reload"><app-recomended-courses *appCanAccess="['get_courses_recomendations']" userId="{{userdata.id}}"></app-recomended-courses></div>
        <div *ngIf="_reload"><app-recomended-skills *appCanAccess="['get_skills_recomendations']" userId="{{userdata.id}}"></app-recomended-skills></div>
        <app-job-applications-by-user *appCanAccess="['get_their_job_applications']" userId="{{userdata.id}}"></app-job-applications-by-user>
      </mat-accordion>

    </div>
  </div>





</div>