<h1>{{ 'BCO.TITLE' | translate }}</h1>
<p>(Recommended jobs)</p>
<div class="container">

    <div class="row">
        <div class="col col-lg-2">

            <button class="btn btn-primary" [routerLink]="['/profiles', userid]">
                <i _ngcontent-axy-c0="" class="material-icons small"> arrow_back </i> {{ 'BUTTON.BACK_TO_USER_PROFILE' | translate }}
            </button>
            <!--
                <a [routerLink]="['/profiles', userid]" class="btn btn-primary">❮  Back to user profile</a> 
             -->
            
        </div>
    </div>
    

    <div [hidden]="cardToDisplay!=i" class="bco-card" *ngFor="let bco of pagedListBCO; let i = index">
        <div class="bco-head">{{bco.label}} </div>
        <div class="bco-body">
            <div class="bco-body-title">{{ 'BCO.DESCRIPTION' | translate }}</div>
            <div class="bco-body-content"><p>{{bco.jobDescription}}</p></div>

            <div class="bco-body-title">{{ 'BCO.STATISITICS' | translate }}</div>
            <div class="bco-body-content">
                <div class="row">
                        <div class="col col-lg-4">
                            <!--
                                <p>
                                    <ngb-progressbar showValue="true" type="info" [value]="progress_relation_cv_bar[i]"></ngb-progressbar>                                    
                                    {{progress_relation_cv_bar[i]}}% relation with your CV
                                    <br>
                                    </p>
                                <p>
                                    <ngb-progressbar showValue="true" type="info" [value]="progress_relation_smart_badges_bar[i]"></ngb-progressbar>                                    
                                    {{progress_relation_smart_badges_bar[i]}}% relation with your Smart Badges
                                    <br>
                                </p>
                            -->
                        </div>
                        <div class="col col-lg-8">                            
                            <app-visualisations-user-skillset-coverage-to-applied-job-skills-chart [userId]="userid" [jobId]="bco.id"></app-visualisations-user-skillset-coverage-to-applied-job-skills-chart>                            
                        </div>
                        <!--
                        <div class="col col-lg-4">
                                <div class="chart">
                                        <canvas baseChart
                                          [data]="pieChartData[i]"
                                          [labels]="pieChartLabels"
                                          [chartType]="pieChartType"
                                          [options]="pieChartOptions"                                          
                                          [colors]="pieChartColors"
                                          [legend]="pieChartLegend">
                                        </canvas>
                                      </div>

                        </div>
                        <div class="col col-lg-4">
                            <div class="flex-item">
                                <div style="display: block;">
                                    <canvas baseChart width="400" height="400"
                                        [datasets]="lineChartData[i]"
                                        [labels]="lineChartLabels[i]"
                                        [options]="lineChartOptions"
                                        [colors]="lineChartColors"
                                        [legend]="lineChartLegend"
                                        [chartType]="lineChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                        -->
                </div>

            </div>

            <div class="bco-body-title">{{ 'BCO.RECOMMENDATIONS' | translate }}</div>
            <div  class="bco-body-content">
                <div class="row">
                    <div class="col col-lg-6">                        
                    <a [routerLink]="['/profiles',userid,'recomended','courses']" class="btn btn-primary">{{ 'BCO.BUTTON.COURSE_RECOMMENDATION' | translate }}</a> 
                    </div>
                    <div class="col col-lg-6">
                    <a [routerLink]="['/profiles',userid,'recomended','skills']" class="btn btn-primary">{{ 'BCO.BUTTON.SKILL_RECOMMENDATION' | translate }}</a> 
                    </div>
                </div>
            </div>
<!--
            <div class="bco-body-title">{{ 'BCO.ADDITIONAL_COURSES' | translate }}</div>
            <div  class="bco-body-content">
                <div>Course 1</div>
                <div>Course 2</div>
                <div>Course 3</div>
            </div>
-->
        </div>    
    </div>

    <div class="col-sm-12">
        <mat-paginator 
            [length]="best_career_options.length"
            [pageSize]="best_career_options.slice(0, 1)"
            [pageSizeOptions]="pageSizeOptionsBCO"
            (page)="OnPageChangeBCO($event)">
        </mat-paginator>
    </div>
    <!--
    <div class="row">
            <div class="col-xs-10" >
                    <button title="Previous" [hidden]="cardToDisplay==0" (click)="cardToDisplay = cardToDisplay-1" ng-init="count=0">❮  </button>
                    <button title="Next" [hidden]="cardToDisplay>=(best_career_options.length-1)" (click)="cardToDisplay = cardToDisplay+1" ng-init="count=0">  ❯</button>
            </div>
    </div>
    -->
</div>