.bco-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 7px;
    margin-top: 7px;
}

.bco-head {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.bco-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.bco-body-title {
    font-weight: bold;
}
.bco-body-content {
    margin-bottom: 7px;
}