<h1 mat-dialog-title>{{ 'CHANGE_PASSWORD.TITLE' | translate }} - {{userName}}</h1>
<div mat-dialog-content>

    <div *ngIf="((password == '') || (password!=repeatPassword))" class="alert alert-sm alert-info">
        {{ 'CHANGE_PASSWORD.WARNING_MESSAGE.PASSWORD_MATCH' | translate }}        
    </div>
    <div *ngIf="((password.length<8) || (repeatPassword.length<8))"class="alert alert-sm alert-info">    
        {{ 'CHANGE_PASSWORD.WARNING_MESSAGE.PASSWORD_LENGTH' | translate }}        
    </div>
    <br/>
    <form #formChangePassword="ngForm" class="change-password">
        <!-- new password label -->
        <mat-form-field appearance="fill" class="change-password-full-width">
            <mat-label>{{ 'CHANGE_PASSWORD.NEW_PASSWORD.LABEL' | translate }}</mat-label>
            <input required minlength="8" matInput [(ngModel)]="password" name="password" value="password" [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br/>

        <mat-form-field appearance="fill" class="change-password-full-width">
            <mat-label>{{ 'CHANGE_PASSWORD.REPEAT_PASSWORD.LABEL' | translate }}</mat-label>
            <input required minlength="8" matInput [(ngModel)]="repeatPassword" name="repeatPassword" value="repeatPassword" [type]="hideRepeatPassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatPassword">
            <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

    </form>

</div>
<mat-dialog-actions align="end">
    <!--
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
    -->
    <div class="modal-footer">

        <button (click)="onSubmitChangePasswordModal()" type="button" class="btn btn-success" [disabled]="(password!=repeatPassword || formChangePassword.invalid)" id="saveCreateAwardModal">
            <i _ngcontent-axy-c0="" class="material-icons"> save </i> {{ 'BUTTON.SAVE' | translate }}
        </button>
    
        <button type="button" class="btn btn-danger" [mat-dialog-close]="true" id="closeChangePasswordModalWindow">
            <i _ngcontent-axy-c0="" class="material-icons"> cancel </i> {{ 'BUTTON.CANCEL' | translate }}
        </button>

    </div>

</mat-dialog-actions>
