
        <div class="box">
            <div class="col-6">
                <!--
                <button class="btn btn-info float-right" (click)="showHelpDialog(visualisationHelpId)">
                    <i _ngcontent-axy-c0="" class="material-icons small"> help </i> {{ 'BUTTON.HELP' | translate }}
                </button>
                -->
                <a class="noborder float-right" [routerLink]="" (click)="showHelpDialog(visualisationHelpId)" ><mat-icon>help_outline</mat-icon> </a>

                <a class="noborder float-right" [routerLink]="" (click)="openInNewWindow(urlSafe)" ><mat-icon>open_in_new</mat-icon></a>

            </div>

            <div class="row" [hidden]="cnt>=1">
                <app-qc-spinner></app-qc-spinner>
            </div>
                    
            <iframe [hidden]="cnt<1" name="Framename" [src]="urlSafe | safe: 'resourceUrl' "
            frameborder="0" 
            scrolling="no" 
            class="frame-area"
            [ngClass]="extraClass"
            (load)="loadEvent($event)"
            >
            </iframe>
        
        </div>


