.frame-area {
    display: block;
    width: 100%;  /* RESPONSIVE WIDTH */
    min-height: 350px;
    border: 1px solid rgba(0,0,0,.125);
    margin: 0px;
    padding: 0px;
    }

.user_grade {
    min-height: 550px;
}

.specialization_demand {
    min-height: 500px;
}

.float-right {
    float: right!important;
}

.most_popular_courses {
    height: 550px;
}