<div class="navbar navbar-default" role="navigation">

	<div class="container">

		<div class="row">
        
			<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            	<div class="qc-icon"><a class="page-scroll navbar-brand" routerLink="" (click)="route=''" title="QualiChain"><img src="assets/img/qualichain-icon-white.png" alt="Qualichain Icon"></a></div>
			</div>                

                <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                    <!--<a href="" class="logo" title="ISDS"><img src="/assets/img/ioc-logo.png" alt="ISDS Logo"></a>-->
                    <!--<nav class="nav-collapse">-->
					<nav role="navigation" class="nav">
	                
						<span class="menu-toggle" href="#head-nav">
	                        <div class="hamburger" id="hamburger">
	                          <span class="line"></span>
	                          <span class="line"></span>
	                          <span class="line"></span>
	                        </div>
	                    </span>
						
						<ul id="main-menu" class="top-nav menu clearfix">
							<!--
								<li [hidden]="(!isLogged && !menuOption.public)" *ngFor="let menuOption of menuOptions" class="menu-item menu-item-type-post_type menu-item-object-page" [ngClass]="{current_page_parent: route===menuOption.route}"><a class="btn navbar-item" routerLink="{{ menuOption.route }}" (click)="route=menuOption.route">{{ menuOption.label | translate }}</a></li>
							-->

							<li class="menu-item menu-item-type-post_type menu-item-object-page" [ngClass]="{current_page_parent: route===''}"><a class="btn navbar-item" routerLink="/" (click)="route='/'">{{ 'MENU.HOME' | translate }}</a></li>

<!--
							<li *ngIf="(isStudent || isEmployee || isProfessor || isAdmin)" class="menu-item menu-item-type-post_type menu-item-object-page" [ngClass]="{current_page_parent: route==='/courses'}"><a class="btn navbar-item" routerLink="/courses" (click)="route='/courses'">{{ 'MENU.COURSES' | translate }}</a></li>						
							<li *ngIf="(isStudent || isEmployee || isRecruiter || isAdmin)" class="menu-item menu-item-type-post_type menu-item-object-page" [ngClass]="{current_page_parent: route==='/jobs'}"><a class="btn navbar-item" routerLink="/jobs" (click)="route='/jobs'">{{ 'MENU.JOBS' | translate }}</a></li>
							<li *ngIf="(isProfessor || isEmployee || isRecruiter || isAdmin)" class="menu-item menu-item-type-post_type menu-item-object-page" [ngClass]="{current_page_parent: route==='/profiles'}"><a class="btn navbar-item" routerLink="/profiles" (click)="route='/profiles'">{{ 'MENU.PROFILES' | translate }}</a></li>						
							<li *ngIf="isRecruiter || isAdmin" class="menu-item menu-item-type-post_type menu-item-object-page" [ngClass]="{current_page_parent: route==='/recruitment'}"><a class="btn navbar-item" routerLink="/recruitment" (click)="route='/recruitment'">{{ 'MENU.RECRUITMENT' | translate }}</a></li>
-->

							<li 
							[hidden]="((menuOption.rolesPermissions.indexOf(this.userdata.role.toLowerCase())==-1) && !menuOption.public)"
							*ngFor="let menuOption of menuOptionsPerPilot.menu" 
							class="menu-item menu-item-type-post_type menu-item-object-page topmenubuttonoption dynamicmenuoptions" [ngClass]="displayActivenessMenuOption(route, menuOption.route , 'li')">
								<a *ngIf="menuOption.submenu.length==0" class="btn navbar-item" routerLink="{{ menuOption.route }}" [ngClass]="displayActivenessMenuOption(route, menuOption.route, 'a')" (click)="route=menuOption.route">{{ menuOption.label | translate }}</a>
								<div *ngIf="menuOption.submenu.length>0" class="dropdown dropdown-menu-right">
									<a class="btn navbar-item dropdown-toggle" [ngClass]="displayActivenessMenuOption(route, menuOption.route, 'a')" id="dropdownMenuButtonRecruitment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menuOption.label | translate }}</a>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<ul>
											<li 
												[hidden]="((subMenuOption.rolesPermissions.indexOf(this.userdata.role.toLowerCase())==-1) && !subMenuOption.public)"
												*ngFor="let subMenuOption of menuOption.submenu" 												
												class="dropdown-item menu-item menu-item-type-post_type menu-item-object-page " [ngClass]="displayActivenessSubMenuOption(route, subMenuOption.route, 'li')">
												<a class="navbar-item" [ngClass]="displayActivenessSubMenuOption(route, subMenuOption.route, 'a')" routerLink="{{ subMenuOption.route }}" (click)="route=subMenuOption.route">{{ subMenuOption.label | translate }}</a>												
											</li>
										</ul>
									</div>
								</div>

							</li>


							
								
							
							
							<!--
							<li *ngIf="isLogged" class="menu-item menu-item-type-post_type menu-item-object-page" [ngClass]="{current_page_parent: route==='/logout'}"><a class="navbar-item" routerLink="" (click)="logout();">{{ 'MENU.LOGOUT' | translate }}</a></li>
							-->
							<li *ngIf="!isLogged" class="menu-item menu-item-type-post_type menu-item-object-page" [ngClass]="{current_page_parent: route==='/login'}"><a class="btn navbar-item" routerLink="/login" (click)="route='/login'">{{ 'MENU.LOGIN' | translate }}</a></li>
							
							
							<li *ngIf="isLogged" class="menu-item menu-item-type-post_type menu-item-object-page">
								<a data-toggle="modal" class="btn navbar-item" data-target="#myModal" href="#">
									<span [hidden]="( (messages | FilterArrayByValue : 'read' : 'false') <=0)" class="nav-item__badge">
										<span aria-hidden="true" class="nav-item__badge-count">
											{{ messages | FilterArrayByValue : 'read' : 'false'}}
										</span>
										<span class="visually-hidden">{{ messages | FilterArrayByValue : 'read' : 'false'}} notificaciones nuevas.</span>
									</span>
									<span class="glyphicon glyphicon-bell"></span>
								</a>
							</li>
							<!--
							<li *ngIf="isLogged" class="menu-item menu-item-type-post_type menu-item-object-page">
								<a data-toggle="modal" data-target="#myModal" href="#">
									<span [hidden]="( (messages | FilterArrayByValue : 'read' : 'false') <=0)" class="nav-item__badge">
										<span aria-hidden="true" class="nav-item__badge-count">{{ messages | FilterArrayByValue : 'read' : 'false'}}</span>
										<span class="visually-hidden">{{ messages | FilterArrayByValue : 'read' : 'false'}} notificaciones nuevas.</span>
									</span>
									<span class="glyphicon glyphicon-envelope"></span>
								</a>
							</li>
							-->
							
							<li *ngIf="isLogged" class="menu-item menu-item-type-post_type menu-item-object-page topmenubuttonoption">
								<div class="dropdown dropdown-menu-right">
									<button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span >
											<div class="user-authenticated-container">
												<div class="user-authenticated-picture-image" [ngStyle]="{'background-image': 'url(' + currentUser.avatar_path + ')'}"> </div>												
											</div>
										</span>									
									</button>

									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<ul>
											<li *ngIf="isLogged" class="dropdown-item menu-item menu-item-type-post_type menu-item-object-page" >
													<div class="user-authenticated-name">
															{{ 'MENU.WELCOME_MESSAGE' | translate }}
													</div>
													<div class="user-authenticated-name">
															{{currentUser.name}} {{currentUser.surname}}
															<hr>
													</div>															
											</li>

											<li *ngIf="isLogged" class="dropdown-item menu-item menu-item-type-post_type menu-item-object-page" [ngClass]="{current_page_parent: router.url==='/profiles/'+currentUser.id}"><a class="navbar-item" [ngClass]="{selectedItem: router.url==='/profiles/'+currentUser.id}" routerLink="/profiles/{{currentUser.id}}" (click)="route='/profiles/'+currentUser.id" >{{ 'MENU.PROFILE' | translate }}</a></li>
											<li *ngIf="isLogged" class="dropdown-item menu-item menu-item-type-post_type menu-item-object-page" [ngClass]="{current_page_parent: router.url==='/preferences/'+currentUser.id}"><a class="navbar-item" [ngClass]="{selectedItem: router.url==='/preferences/'+currentUser.id}" routerLink="/profiles/{{currentUser.id}}/notifications-preferences" (click)="route='/profiles/'+currentUser.id+'/notifications-preferences'" >{{ 'MENU.NOTIFICATION_PREFERENCES' | translate }}</a></li>
											<li *ngIf="isLogged" class="dropdown-item menu-item menu-item-type-post_type menu-item-object-page" [ngClass]="{current_page_parent: router.url==='/preferences/'+currentUser.id}"><a class="navbar-item" [ngClass]="{selectedItem: router.url==='/preferences/'+currentUser.id}" routerLink="/profiles/{{currentUser.id}}/personal-files-repository" (click)="route='/profiles/'+currentUser.id+'/personal-files-repository'" >{{ 'MENU.PERSONAL_FILES_REPOSITORY' | translate }}</a></li>

											<li *ngIf="isLogged" class="dropdown-item menu-item menu-item-type-post_type menu-item-object-page" ><a class="navbar-item" [routerLink]="" (click)="openChangePasswordDialogFromHeader(currentUser.id)"   >{{ 'BUTTON.CHANGE_PASSWORD' | translate }}</a></li>

											<li *ngIf="isLogged" class="dropdown-item menu-item menu-item-type-post_type menu-item-object-page" ><a class="navbar-item" [routerLink]="" (click)="logout();">{{ 'MENU.LOGOUT' | translate }}</a></li>
										</ul>
									</div>

								</div>
							</li>

							<li class="menu-item menu-item-type-post_type menu-item-object-page topmenubuttonoption">
								<div class="dropdown dropdown-menu-right">
									<button title="{{ 'LANGUAGE_SELECTOR.SELECT' | translate }}" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="glyphicon glyphicon-globe"></span>
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="block-languageswitcher">
										<ul class="links">
											<li *ngFor="let lang of translate.getLangs()" [ngClass]="{'current_page_parent': lang===translate.currentLang, 'is-active': lang===translate.currentLang}" class="{{lang}}"><a (click)="translate.use(lang)" [routerLink]="" class="language-link" [ngClass]="{'is-active': lang===translate.currentLang}" hreflang="{{lang}}" >{{ 'LANGUAGE_SELECTOR.'+lang | translate }}</a></li>
											<!-- 
												<li *ngFor="let lang of translate.getLangs()" [ngClass]="{current_page_parent: lang===translate.currentLang}" ><a class="dropdown-item " (click)="translate.use(lang)" [routerLink]="" >{{ 'LANGUAGE_SELECTOR.'+lang | translate }} </a></li>
											-->											
										</ul>
									</div>
								</div>
							</li>
	
						</ul>							                
					<!--
						<span *ngIf="userdata.authenticated">Welcome {{userdata.name}} !!!						
						</span>
					-->				

					</nav>                    

					

                </div>



                
		</div>

	</div>

</div>

<div *ngIf="route==''" id="banner-sub">
            <article>
                <div class="imgtxt"><img src="assets/img/qualichain-logo.png" alt="Qualichain Logo"></div>
            </article>
            <div class="desktop">
                <video autoplay="" playsinline="" muted="" loop="" preload="" class="fillWidth fadeIn animated" id="video-background" poster="assets/img/qualichain-hero.png"></video>
            </div>
            <div class="phone">
                <video autoplay="" playsinline="" muted="" loop="" preload="" class="fillWidth fadeIn animated" id="video-background" poster="assets/img/qualichain-hero-mobile.png"></video>
            </div>
            <div class="clearfix"></div>
        </div>
<div class="clearfix"></div>
<div *ngIf="route!=''" id="socialbarTop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centered">
                  <span></span>
                </div>
            </div>
        </div>
	</div>
	

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{ 'NOTIFICATIONS.NOTIFICATIONS' | translate }}</h4>
			</div>
			<div class="modal-body">
				<span *ngIf="messages.length<=0">{{ 'NOTIFICATIONS.NO_NOTIFICATIONS_AVAILABLE' | translate }} </span>
				<div *ngFor="let message of messages; let i = index" class="alert alert-sm alert-info view-layout-custom" [ngClass]="{'readed-class': message.read, 'unreaded-class': !message.read }">
					{{message.message}}
					<!-- 					
					<span *ngIf="message.read" _ngcontent-cjg-c2="" class="glyphicon glyphicon glyphicon-eye-open">Readed</span>
					<span *ngIf="!message.read" _ngcontent-cjg-c2="" class="glyphicon glyphicon glyphicon-eye-close">Unreaded</span>
					-->
					<!--
					<button class="btn btn-danger" (click)="deleteItemMessages(message.id)">Delete</button>
					-->
					<div>
						<mat-spinner diameter="20" color="warn" *ngIf="loadingNotificationSpinnerid==message.id"></mat-spinner>

						<button *ngIf="loadingNotificationSpinnerid!=message.id" class="btn" 
						[ngClass]="{'btn-primary': message.read, 'btn-secondary': !message.read}"
						(click)="changeItemStatus(message)">
						    <span *ngIf="message.read"> <i _ngcontent-axy-c0="" class="material-icons"> cancel </i> {{ 'NOTIFICATIONS.SET_AS_UNREADED' | translate }}</span>
							<span *ngIf="!message.read"> <i _ngcontent-axy-c0="" class="material-icons"> done </i> {{ 'NOTIFICATIONS.SET_AS_READED' | translate }}</span>
						</button>

						<button *ngIf="loadingNotificationSpinnerid!=message.id" class="btn btn-danger" (click)="deleteNotificationItem(message, i)">
							<i _ngcontent-axy-c0="" class="material-icons"> delete </i> {{ 'BUTTON.DELETE' | translate }}
						</button>


					</div>
					
				</div>  
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">
				<i _ngcontent-axy-c0="" class="material-icons"> close </i> {{ 'BUTTON.CLOSE' | translate }}
			</button>
			</div>
		  </div>
		  
		</div>
	  </div>	