<div><h2>{{ 'JOB.CANDIDATES' | translate }}</h2></div>


<div *ngIf="jobCandidates.length==0">{{ 'RECRUITMENT.NO_DATA' | translate }}</div>
<div [hidden]="jobCandidates.length==0">

    <div [hidden]="!dataSource.data.length" class="col-lg-12">  
        <mat-form-field>
            <input matInput [(ngModel)]="searchTxt" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>

    <table id="candidatestable" mat-table [dataSource]="dataSource" matSort class="table table-striped">
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{ 'ACTION' | translate }} </th>
            <td mat-cell *matCellDef="let element; let i=index" style="white-space: nowrap;">
                <button [disabled]="!element.candidateName" class="btn btn-primary" [routerLink]="['/profiles', element.id]">
                    <i _ngcontent-axy-c0="" class="material-icons small"> details </i> {{ 'BUTTON.VIEW' | translate }}
                </button>
                <button [disabled]="(!element.candidateName || element.candidateSelected==1) " class="btn btn-info" (click)="assignThisApply(jobId, element.id)">
                    <i _ngcontent-axy-c0="" class="material-icons small"> done_outline </i> {{ 'BUTTON.ASSIGN' | translate }}
                </button>                
                <button class="btn btn-danger" (click)="deleteThisApply(jobId, element.id, i)">
                    <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> {{ 'BUTTON.DELETE_APPLY_JOB' | translate }}
                </button>
                <button class="btn btn-success" [hidden]="element.candidateSelected==0"> <i _ngcontent-axy-c0="" class="material-icons small"> assignment_turned_in </i> {{ 'JOB.ASSIGNED' | translate }} </button>
            </td>
        </ng-container>

        <!-- candidate surname -->
        <ng-container matColumnDef="candidateSurname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROFILES.SURNAME' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.candidateSurname}} </td>
        </ng-container>
        <!-- candidate name -->
        <ng-container matColumnDef="candidateName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROFILES.NAME' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.candidateName}} </td>
        </ng-container>
        <!-- AVAILABLE column -->
        <ng-container matColumnDef="available">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'JOB_APPLY.AVAILABLE.TITLE' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.available}} </td>
        </ng-container>
        <!-- EXPECTED_SALARY column -->
        <ng-container matColumnDef="expsalary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'JOB_APPLY.EXPECTED_SALARY.TITLE' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.expsalary}} </td>
        </ng-container> 
        <!-- SCORE column -->
        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'JOB_APPLY.SCORE' | translate }} </th>
            <td mat-cell *matCellDef="let element"> <!-- {{element.score}}  -->
                <div class="wrapperpiechart">
                    <canvas id="canvas_pie_chart_{{element.id}}" baseChart
                        [datasets]="[{ data: [element.score,(100-element.score)],label: 'Matching Score', backgroundColor: [
                        'rgba(30, 144, 255, 1)',
                        'rgba(0, 0, 0, 1)'
                        ]}]"
                        [labels]="chartLabels"
                        [options]="chartOptions"
                        [chartType]="chartType">
                    </canvas>
                </div>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
