
.user-authenticated-container {
    display: flex;
    align-items: center;
    width: auto;
}

.user-authenticated-picture-image {
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 50%; 
    height: 1.95rem;
    width: 1.95rem; position: relative;
    flex-shrink: 0;     
    background-color: transparent;
    border: 1px solid #edf1f7; 
    box-sizing: border-box;
}

.user-authenticated-name {
    color: #ffffff;
}

#socialbarTop {
    background: #0e3664;
    padding: 1px 0;
    margin-top: 65px;
}

.view-layout-custom {
    margin: 1.5rem 0;
    background: white;
    border: 1px solid #cccccc;
    padding: 5px 15px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    padding: 1.5rem;
    border-color: #b3b3b3;
    position: relative;
}

.readed-class {    
    color: #000;
    border-color: #86a080;
    background-color: #e6f1e4;
}

.unreaded-class {
    color: #000;
    border-color: #936b6a;
    background-color: #e6a4a2;
}


#block-languageswitcher .links li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#block-languageswitcher {
    padding: 10px;
}

#block-languageswitcher ul {
    text-align: left;
}

#block-languageswitcher .links a {
    display: block;
    text-decoration: none;
    padding: 10px;
    padding-left: 30px;
    background-image: url('/assets/img/flags/en.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px;
    color: #fff;
    font-size: .8125em;
    text-transform: uppercase;
    font-size: 1.2rem;
}

#block-languageswitcher .links a.is-active {
    color: #464646;
}

#block-languageswitcher .links li.current_page_parent a {
    background-color: #2b69b1;
    color: #21a959 !important;
}



#block-languageswitcher .links .en a {
    background-image: url('/assets/img/flags/en.png');
}

#block-languageswitcher .links .pt a {
    background-image: url('/assets/img/flags/pt.png');
}

#block-languageswitcher .links .el a {
    background-image: url('/assets/img/flags/el.png');
}
