
<div id="userAwardList">
    <mat-spinner diameter="20" color="warn" *ngIf="lodingspinnerid; else loadEnd"></mat-spinner>
    <ng-template #loadEnd>
<!--
        <div *ngIf="formatOutput=='card'">
            <div *appCanAccess="['issue_smart_badge']" class="col-lg-12 ">
                <button class="btn btn-primary" (click)="openAwardDialogInUserProfile(+userId, aqcuired_badges_by_user)">
                    <i _ngcontent-axy-c0="" class="material-icons small"> emoji_events </i> Award
                </button>
            </div> 
        </div>
-->
        <div *ngIf="aqcuired_badges_by_user.length==0; else userHasBadges" class="col-lg-8  smartBudge">                                
            {{ 'PROFILE.NO_SMART_BADGE_YET' | translate }}
        </div>
        <ng-template #userHasBadges>
            <div *ngIf="formatOutput=='small'">
                <span *ngFor="let element_badge of aqcuired_badges_by_user; index as i">
                    <a href="" class="noborder" (click)="intialerts()" data-toggle="modal" [attr.data-target]="'#smdesc_user_' + i + '_' + userId"><img style="width:30px" *ngIf="element_badge.badge.oubadge.image" [src]="element_badge.badge.oubadge.image" [title]="element_badge.badge.name" [alt]="element_badge.badge.name" > </a>
                </span>
            </div>
            <div *ngIf="formatOutput=='card'">
                                
                <span *ngFor="let element_badge of aqcuired_badges_by_user; index as i">

                    <mat-card class="col-lg-6 example-card" >
                        <mat-card-header>
                            <div mat-card-avatar title="{{element_badge.badge.name}}" class="example-header-image" style='background-size: cover;background-image: url("{{element_badge.oubadge_user.badge.image}}");'></div>
                            <mat-card-title>
                                <a href="" class="noborder" (click)="intialerts()" data-toggle="modal" [attr.data-target]="'#smdesc_user_' + i + '_' + userId">
                                    <span *ngIf="element_badge.badge.name.length<=20">{{element_badge.badge.name}}</span>
                                    <span *ngIf="element_badge.badge.name.length>20">{{element_badge.badge.name | slice:0:20}} ...</span>
                                </a>
                            </mat-card-title>
                        </mat-card-header>
                        
                        <mat-card-content>                                                              
                            <div><label>{{ 'BADGES.BADGE.ISSUER.ISSUER_NAME.LABEL' | translate }}:</label> {{element_badge.badge.issuer}}</div>                            
                        </mat-card-content>
                    </mat-card>                    
                </span>

            </div>

        </ng-template>
    </ng-template>
</div>


<!-- Modal -->
<div *ngFor="let element_badge of aqcuired_badges_by_user; index as i" class="modal fade" id="smdesc_user_{{i}}_{{userId}}" role="dialog">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">
<!--
    <img style="width:30px" *ngIf="element_badge.badge.oubadge.image" [src]="element_badge.badge.oubadge.image" [title]="element_badge.badge.name" [alt]="element_badge.badge.name" >
-->
            {{element_badge.badge.name}}</h4>                                              
        </div>
        <div class="modal-body">
                  
            <div class="row" *ngIf="loadingLoginSpinner">
                <app-qc-spinner></app-qc-spinner>
            </div>   

            <div [hidden]="loadingLoginSpinner">
                <!--
                <br *ngIf="showErrorMessage || validationSuccess">
                <div *ngIf="showErrorMessage" class="alert alert-danger" role="alert">                    
                    {{ 'SMART_BADGE.MAIN_DATA_TAB.MESSAGES.VALIDATION_KO' | translate }}
                </div>
                <div *ngIf="validationSuccess" class="alert alert-info" role="alert">                    
                    {{ 'SMART_BADGE.MAIN_DATA_TAB.MESSAGES.VALIDATION_OK' | translate }}
                </div>
                -->
                <app-qc-smart-badge-card [awardId]="element_badge.badge.id"></app-qc-smart-badge-card>
            </div>

            <div *ngIf="isAdmin || isProfessor || isAcademicOrganisation">
                <br>
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel  hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ 'SMART_BADGE.DOWNLOAD_TAB.TITLE' | translate }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
            
                        <br>
                        <div [innerHTML]="'SMART_BADGE.DOWNLOAD_TAB.HELP' | translate"></div>
                        <br>
                        <button class="btn btn-primary" type="button" mat-raised-button (click)="fileInputCD.click()">
                            <i _ngcontent-axy-c0="" class="material-icons small"> attach_file </i> {{ 'SMART_BADGE.DOWNLOAD_TAB.BUTTONS.UPLOAD_PNG_IMAGE' | translate }}
                        </button>
                        <input hidden required #fileInputCD name="pngFile" ngModel type="file" (change)="handleFile($event.target.files)">
                        <br>
                        <div *ngIf="invalidDetailsFile">
                            <div class="alert alert-danger">
                                {{ 'SMART_BADGE.DOWNLOAD_TAB.MESSAGES.NOT_VALID_FILE' | translate: {file_name: messageErrorDetailsFile } }}
                            </div>
                        </div>  
                        <div *ngIf="fileToUploadDetails" >
                            <div class="alert alert-success">
                                <h4 class="name">{{ fileToUploadDetails?.name }}</h4>
                                <p class="size"> {{ 'FILE.SIZE' | translate }}: {{ formatBytes(fileToUploadDetails?.size) }} {{ 'FILE.TYPE' | translate }}: {{fileToUploadDetails?.type}}</p>                                
                            </div>

                            <div *ngIf="showErrorDowloadingPNG">
                                <div class="alert alert-danger">
                                    {{ 'SMART_BADGE.DOWNLOAD_TAB.MESSAGES.ERROR_DOWNLOADING_PNG_FILE' | translate }}
                                </div>
                            </div> 

                            <button class="btn btn-primary" type="button" mat-raised-button (click)="downloadBadgeAsPNG(element_badge)">                            
                            <i _ngcontent-axy-c0="" class="material-icons small"> download </i> {{ 'SMART_BADGE.DOWNLOAD_TAB.BUTTONS.DOWNLOAD' | translate }}
                            </button>
                        </div>

                    </mat-expansion-panel>

                </mat-accordion>
            </div>
            
            <div [hidden]="loadingLoginSpinner">
                <br *ngIf="showErrorMessage || validationSuccess">
                <div *ngIf="showErrorMessage" class="alert alert-danger" role="alert">                    
                    {{ 'SMART_BADGE.MAIN_DATA_TAB.MESSAGES.VALIDATION_KO' | translate }}
                </div>
                <div *ngIf="validationSuccess" class="alert alert-info" role="alert">                    
                    {{ 'SMART_BADGE.MAIN_DATA_TAB.MESSAGES.VALIDATION_OK' | translate }}
                </div>
            </div>

        </div>
        <div class="modal-footer">    
           <button [hidden]="loadingLoginSpinner" (click)="verifySmartBadge(element_badge)" type="button" class="btn btn-secondary">
                <i _ngcontent-axy-c0="" class="material-icons small">  star  </i> {{ 'AWARD_SMART_BADGE.BUTTON.VALIDATE_AWARD' | translate }}
           </button>     
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'BUTTON.CLOSE' | translate }}</button>                                              
        </div>
      </div>
    </div>
</div>                                                                          