
<div id="userAwardList">
    <mat-spinner diameter="20" color="warn" *ngIf="lodingspinnerid; else loadEnd"></mat-spinner>
    <ng-template #loadEnd>

        <div *ngIf="aqcuired_badges_by_user.length==0; else userHasBadges" class="col-lg-8  smartBudge">                                
            {{ 'PROFILE.NO_SMART_BADGE_YET' | translate }}
        </div>
        <ng-template #userHasBadges>
            <div *ngIf="formatOutput=='small'">
                <span *ngFor="let element_badge of aqcuired_badges_by_user; index as i">          
                        <div class="sbbox" [ngClass]='whatClassIsIt(element_badge?.badge_details?.oubadge_user?.signature?.account)'>                                                                        
                            <span matBadge="{{element_badge?.count}}" 
                            matBadgePosition="before" 
                            matBadgeOverlap="true">
                                <a href="" (click)="modalClass=whatClassIsIt(element_badge?.badge_details?.oubadge_user?.signature?.account);intialerts(element_badge?.badge_details?.id)" class="noborder" data-toggle="modal" [attr.data-target]="'#smdesc_user_' + i + '_' + userId"><img style="margin: 3px 7px 3px 1px; width: 30px;" *ngIf="element_badge.badge_details.oubadge.image" class="center" [src]="element_badge.badge_details.oubadge.image" [title]="element_badge.badge_details.name" [alt]="element_badge.badge_details.name" > </a>
                            </span>
                        </div> 
                        &nbsp;
                </span>
            </div>
            <div *ngIf="formatOutput=='card'">
                <span *ngFor="let element_badge of aqcuired_badges_by_user; index as i">

                    <mat-card class="col-lg-6 example-card" >
                        <mat-card-header>
                            
                            <div [ngClass]='whatClassIsIt(element_badge?.badge_details?.oubadge_user?.signature?.account)' mat-card-avatar title="{{element_badge?.badge_details?.name}}" class="example-header-image" style='border-radius: 0%; background-size: cover;background-image: url("{{element_badge?.badge_details?.oubadge?.image}}");'>
                                <span matBadge="{{element_badge?.count}}" 
                                matBadgePosition="after" 
                                matBadgeOverlap="true">                                
                                </span>
                            </div>
                            
                            <mat-card-title>
                                <a href="" class="noborder" (click)="modalClass=whatClassIsIt(element_badge?.badge_details?.oubadge_user?.signature?.account);intialerts(element_badge?.badge_details?.id)" data-toggle="modal" [attr.data-target]="'#smdesc_user_' + i + '_' + userId">
                                    <span *ngIf="element_badge?.badge_details?.name?.length<=20">{{element_badge?.badge_details?.name}}</span>
                                    <span *ngIf="element_badge?.badge_details?.name?.length>20">{{element_badge?.badge_details?.name | slice:0:20}} ...</span>
                                </a>
                            </mat-card-title>
                        </mat-card-header>
                        
                        <mat-card-content>                                                              
                            <div><label>{{ 'BADGES.BADGE.ISSUER.ISSUER_NAME.LABEL' | translate }}:</label> {{element_badge.badge_details.issuer}}</div>                            
                        </mat-card-content>
                    </mat-card>                    
                </span>

            </div>

            <div *ngIf="formatOutput=='list'">
                                
                <span *ngFor="let element_badge of aqcuired_badges_by_user; index as i">

                    <mat-card class="col-lg-12 example-card" >
                        <mat-card-header>
                            <div [ngClass]='whatClassIsIt(element_badge.badge_details?.oubadge_user?.signature?.account)' mat-card-avatar title="{{element_badge?.badge_details?.name}}" class="example-header-image" style='border-radius: 0%; background-size: cover;background-image: url("{{element_badge?.badge_details?.oubadge?.image}}");'>
                                <span matBadge="{{element_badge?.count}}" 
                                matBadgePosition="after" 
                                matBadgeOverlap="true">
                                </span>
                            </div>
                            <mat-card-title>
                                <a href="" class="noborder" (click)="modalClass=whatClassIsIt(element_badge.badge_details?.oubadge_user?.signature?.account);intialerts(element_badge?.badge_details?.id)" data-toggle="modal" [attr.data-target]="'#smdesc_user_' + i + '_' + userId">
                                    <span *ngIf="element_badge.badge_details?.name.length<=20">{{element_badge.badge_details?.name}}</span>
                                    <span *ngIf="element_badge.badge_details?.name.length>20">{{element_badge.badge_details?.name | slice:0:20}} ...</span>
                                </a>
                            </mat-card-title>
                        </mat-card-header>
                        
                        <mat-card-content>                                                              
                            <div><label>{{ 'BADGES.BADGE.ISSUER.ISSUER_NAME.LABEL' | translate }}:</label> {{element_badge.badge_details?.issuer}}</div>                            
                        </mat-card-content>
                    </mat-card>                    
                </span>

            </div>

        </ng-template>
    </ng-template>
</div>


<!-- Modal -->
<div *ngFor="let element_badge of aqcuired_badges_by_user; index as i" class="modal fade" id="smdesc_user_{{i}}_{{userId}}" role="dialog">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">           
                {{element_badge.badge_details?.name}}
                <span matBadge="{{element_badge?.count}}" 
                matBadgePosition="after" 
                matBadgeOverlap="true"></span> 
          </h4>                                              
                   
        </div>
        <div class="modal-body">
                  
            <div class="row" *ngIf="loadingLoginSpinner">
                <app-qc-spinner></app-qc-spinner>
            </div>   

            <div [hidden]="loadingLoginSpinner">

                <div *ngIf="awardedBy"> 
                    <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>                                                    
                                {{'AWARDED_BY' | translate}}:
                            </mat-panel-title>
                            <mat-panel-description>
                              
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p>
                              
                            <span *ngFor="let role of awardedBy | keyvalue ; index as i">  
                                <div *ngIf="role.key!='null'">{{'ROLES.'+role.key.toLowerCase() | translate}}: {{role.value}}</div>
                                <div *ngIf="role.key=='null'">{{'UNKNOWN_ROLE' | translate}}: {{role.value}}</div>
                            </span>

                          </p>
                        </mat-expansion-panel>
                        
                    </mat-accordion>
                    <br>

                </div>

                <div [ngClass]="modalClass">
                    <app-qc-smart-badge-card [awardId]="element_badge.badge_details?.id"></app-qc-smart-badge-card>
                </div>
            </div>
<!--
            <div *ngIf="((isAdmin || isProfessor || isAcademicOrganisation) && (element_badge?.badge_details?.oubadge_user))">
                <br>
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel  hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ 'SMART_BADGE.DOWNLOAD_TAB.TITLE' | translate }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
            
                        <br>
                        <div [innerHTML]="'SMART_BADGE.DOWNLOAD_TAB.HELP' | translate"></div>
                        <br>
                        <button class="btn btn-primary" type="button" mat-raised-button (click)="fileInputCD.click()">
                            <i _ngcontent-axy-c0="" class="material-icons small"> attach_file </i> {{ 'SMART_BADGE.DOWNLOAD_TAB.BUTTONS.UPLOAD_PNG_IMAGE' | translate }}
                        </button>
                        <input hidden required #fileInputCD name="pngFile" ngModel type="file" (change)="handleFile($event.target.files)">
                        <br>
                        <div *ngIf="invalidDetailsFile">
                            <div class="alert alert-danger">
                                {{ 'SMART_BADGE.DOWNLOAD_TAB.MESSAGES.NOT_VALID_FILE' | translate: {file_name: messageErrorDetailsFile } }}
                            </div>
                        </div>  
                        <div *ngIf="fileToUploadDetails" >
                            <div class="alert alert-success">
                                <h4 class="name">{{ fileToUploadDetails?.name }}</h4>
                                <p class="size"> {{ 'FILE.SIZE' | translate }}: {{ formatBytes(fileToUploadDetails?.size) }} {{ 'FILE.TYPE' | translate }}: {{fileToUploadDetails?.type}}</p>                                
                            </div>

                            <div *ngIf="showErrorDowloadingPNG">
                                <div class="alert alert-danger">
                                    {{ 'SMART_BADGE.DOWNLOAD_TAB.MESSAGES.ERROR_DOWNLOADING_PNG_FILE' | translate }}
                                </div>
                            </div> 

                            <button class="btn btn-primary" type="button" mat-raised-button (click)="downloadBadgeAsPNG(element_badge)">                            
                            <i _ngcontent-axy-c0="" class="material-icons small"> download </i> {{ 'SMART_BADGE.DOWNLOAD_TAB.BUTTONS.DOWNLOAD' | translate }}
                            </button>
                        </div>

                    </mat-expansion-panel>

                </mat-accordion>
            </div>
-->            
            <div [hidden]="loadingLoginSpinner">
                <br *ngIf="showErrorMessage || validationSuccess">
                <div *ngIf="cntValidationOK>0" class="alert alert-info" role="alert">
                    {{ 'SUCCESSFUL_VALIDATIONS' | translate }}: {{cntValidationOK}} / {{listOfAwardsToValidate.length}}
                </div>
                <div *ngIf="cntValidationKO>0" class="alert alert-danger" role="alert">                    
                    {{ 'INCORRECT_VALIDATIONS' | translate }}: {{cntValidationKO}} / {{listOfAwardsToValidate.length}}
                </div>
                <!--
                <div *ngIf="showErrorMessage" class="alert alert-danger" role="alert">                    
                    {{ 'SMART_BADGE.MAIN_DATA_TAB.MESSAGES.VALIDATION_KO' | translate }}
                </div>
                <div *ngIf="validationSuccess" class="alert alert-info" role="alert">                    
                    {{ 'SMART_BADGE.MAIN_DATA_TAB.MESSAGES.VALIDATION_OK' | translate }}
                </div>
                -->
            </div>

        </div>
        <div class="modal-footer">    
           <button [hidden]="loadingLoginSpinner" [disabled]="this.listOfAwardsToValidate.length==0" (click)="verifySmartBadgeV2()" type="button" class="btn btn-secondary">
                <i _ngcontent-axy-c0="" class="material-icons small">  star  </i> {{ 'AWARD_SMART_BADGE.BUTTON.VALIDATE_AWARD' | translate }}
           </button>     
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'BUTTON.CLOSE' | translate }}</button>                                              
        </div>
      </div>
    </div>
</div>                                                         