<h1>{{ 'CVS.TITLE' | translate }}</h1>


<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

<div class="">
    <table mat-table [dataSource]="dataSource" matSort class="table">
  
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- role_applied Column -->
      <ng-container matColumnDef="role_applied">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role applied </th>
        <td mat-cell *matCellDef="let element"> {{element.role_applied}} </td>
      </ng-container>

      
      <!-- available Column -->
      <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Available </th>
        <td mat-cell *matCellDef="let element"> {{element.available}} </td>
      </ng-container>

      <!-- maching_score Column -->
      <ng-container matColumnDef="maching_score">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Maching score </th>
        <td mat-cell *matCellDef="let element"> {{element.maching_score}} 

            <div style="display: block;" class="chart"  style="display: block; width: 300px; height: 300px;">
                <canvas baseChart
                    [datasets]="labelList[element.id]"
                    [labels]="chartLabels"
                    [options]="chartOptions"
                    [chartType]="ChartType">
                </canvas>
            </div>

        </td>
      </ng-container>      


      <!-- expected_salary Column -->
      <ng-container matColumnDef="expected_salary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Expected Salary </th>
        <td mat-cell *matCellDef="let element"> {{element.expected_salary}} </td>
      </ng-container>

      <!-- maching_score cv -->
      <ng-container matColumnDef="cv">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> cv </th>
        <td mat-cell *matCellDef="let element"> {{element.cv}} </td>
      </ng-container> 

      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
