<h1>{{ 'JOBS.TITLE' | translate }} - <span *ngIf="mode=='Create'">Create</span><span *ngIf="mode=='Edit'">Edit</span></h1>

<div class="container">
  <div class="row">

          <form  #formEditJob="ngForm" class="create-job-form" novalidate>
            

              <!-- title -->
              <mat-form-field class="create-job-full-width">
                <mat-label>{{ 'JOB.TITLE.LABEL' | translate }}</mat-label>
                <input matInput required [(ngModel)]="dataIn.label" name="title" value="title" placeholder="{{ 'JOB.TITLE.PLACEHOLDER' | translate }}" #jobTitleInput="ngModel">
              </mat-form-field>
              <br/>
              <!-- description -->
              <mat-form-field class="create-job-full-width">
                <mat-label>{{ 'JOB.DESCRIPTION.LABEL' | translate }}</mat-label>
                <textarea matInput required [(ngModel)]="dataIn.jobDescription" name="job_description" value="job_description" placeholder="{{ 'JOB.DESCRIPTION.PLACEHOLDER' | translate }}"></textarea>
              </mat-form-field>
              <br/>
              <!-- start_date -->
              <mat-form-field class="create-job-full-width">
                <mat-label>{{ 'JOB.START_DATE.PLACEHOLDER' | translate }}</mat-label>
                <input matInput [matDatepicker]="pickerStartDate" name="start_date" [(ngModel)]="dataIn.startDate" #startDateInput="ngModel" required>
                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerStartDate startView="year" [startAt]="dataIn.startDate" format="DD-MM-YYYY"></mat-datepicker>
              </mat-form-field>
              <br/>
              <!-- end_date -->
              <mat-form-field class="create-job-full-width">
                <mat-label>{{ 'JOB.END_DATE.PLACEHOLDER' | translate }}</mat-label>
                <input matInput [matDatepicker]="pickerEndDate" name="end_date" [(ngModel)]="dataIn.endDate" #endDateInput="ngModel" required>
                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerEndDate startView="year" [startAt]="dataIn.endDate"></mat-datepicker>
              </mat-form-field>
              <br/>
              <!-- employment_type -->
              <mat-form-field class="create-job-full-width">
                <mat-label>{{ 'JOB.EMPLOYMENT_TYPE.LABEL' | translate }}</mat-label>
                <mat-select  [(ngModel)]="dataIn.contractType" name="employment_type" required>
                  <mat-option value="full_time">{{ 'JOB.EMPLOYMENT_TYPE.OPTIONS.FULL_TIME' | translate }}</mat-option>
                  <mat-option value="part_time">{{ 'JOB.EMPLOYMENT_TYPE.OPTIONS.PART_TIME' | translate }}</mat-option>
                  <mat-option value="contract">{{ 'JOB.EMPLOYMENT_TYPE.OPTIONS.CONTRACT' | translate }}</mat-option>
                  <mat-option value="temporary">{{ 'JOB.EMPLOYMENT_TYPE.OPTIONS.TEMPORARY' | translate }}</mat-option>
                  <mat-option value="volunteer">{{ 'JOB.EMPLOYMENT_TYPE.OPTIONS.VOLUNTEER' | translate }}</mat-option>
                  <mat-option value="internship">{{ 'JOB.EMPLOYMENT_TYPE.OPTIONS.INTERNSHIP' | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
              <br/>
              <!-- level -->
              <mat-form-field class="create-job-full-width">
                <mat-label>{{ 'JOB.EMPLOYMENT_LEVEL.LABEL' | translate }}</mat-label>
                <mat-select  [(ngModel)]="dataIn.seniorityLevel" name="level" required>
                  <mat-option value="internership">{{ 'JOB.EMPLOYMENT_LEVEL.OPTIONS.INTERNERSHIP' | translate }}</mat-option>
                  <mat-option value="entity_level">{{ 'JOB.EMPLOYMENT_LEVEL.OPTIONS.ENTITY_LEVEL' | translate }}</mat-option>
                  <mat-option value="associate">{{ 'JOB.EMPLOYMENT_LEVEL.OPTIONS.ASSOCIATE' | translate }}</mat-option>
                  <mat-option value="mid_senior_level">{{ 'JOB.EMPLOYMENT_LEVEL.OPTIONS.MID_SENIOR_LEVEL' | translate }}</mat-option>
                  <mat-option value="director">{{ 'JOB.EMPLOYMENT_LEVEL.OPTIONS.DIRECTOR' | translate }}</mat-option>
                  <mat-option value="executive">{{ 'JOB.EMPLOYMENT_LEVEL.OPTIONS.EXECUTIVE' | translate }}</mat-option>
                  <mat-option value="expert">{{ 'JOB.EMPLOYMENT_LEVEL.OPTIONS.EXPERT' | translate }}</mat-option>
                  <mat-option value="not_applicable">{{ 'JOB.EMPLOYMENT_LEVEL.OPTIONS.NOT_APPLICABLE' | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
              <br/>
              <!-- skills -->
              <div class="form-group">
                <br/>          
                <div class="card mb-3">
                  <div class="card-header">
                    <span>{{ 'JOBS.REQUIRED_SKILLS' | translate }}</span>
                  </div>
                  <div class="card-body">
  
                    <div>

                      <div *ngFor="let skill of dataIn.skillReq; let i=index" class="panel panel-default">
                        <div class="card-subtitle">      
                          <h3>{{ 'JOB.SKILL.TITLE' | translate }} {{i + 1}}</h3>                        
                        </div>
                      
                        <!-- SkillLabel -->
                        <mat-form-field class="create-job-full-width">
                          <mat-label>{{ 'JOB.SKILL.NAME.LABEL' | translate }}</mat-label>
                            <input matInput required [(ngModel)]="skill.label" name="label_{{i}}" value="label" placeholder="{{ 'JOB.SKILL.NAME.PLACEHOLDER' | translate }}" #jobTitleInput="ngModel">
                        </mat-form-field>
                        <br/>
                        <!-- proficiencyLevel -->
                        <mat-form-field class="create-job-full-width">
                          <mat-label>{{ 'JOB.SKILL.LEVEL.LABEL' | translate }}</mat-label>
                          <mat-select  [(ngModel)]="skill.proficiencyLevel" name="skillproficiencyLevel_{{i}}" required>
                            <mat-option value="basic">{{ 'JOB.SKILL.LEVEL.OPTIONS.BASIC' | translate }}</mat-option>
                            <mat-option value="intermediate">{{ 'JOB.SKILL.LEVEL.OPTIONS.INTERMEDIATE' | translate }}</mat-option>
                            <mat-option value="advanced">{{ 'JOB.SKILL.LEVEL.OPTIONS.ADVANCED' | translate }}</mat-option>
                            <mat-option value="expert">{{ 'JOB.SKILL.LEVEL.OPTIONS.EXPERT' | translate }}</mat-option>          
                          </mat-select>
                        </mat-form-field>                        
                        <br/>
                        <!-- assign 
                        <mat-form-field class="create-job-full-width">
                          <mat-label>{{ 'JOB.SKILL.ASSIGN.LABEL' | translate }}</mat-label>
                            <input matInput required [(ngModel)]="skill.assign" name="SkillAssign_{{i}}" value="SkillAssign" placeholder="{{ 'JOB.SKILL.ASSIGN.PLACEHOLDER' | translate }}" #jobTitleInput="ngModel">
                        </mat-form-field>
                        <br/>-->
                        <!-- priority -->
                        <mat-form-field class="create-job-full-width">
                          <mat-label>{{ 'JOB.SKILL.PRIORITY.LABEL' | translate }}</mat-label>
                          <mat-select  [(ngModel)]="skill.priorityLevel" name="priority_{{i}}" required>
                            <mat-option value="low">{{ 'JOB.SKILL.PRIORITY.OPTIONS.LOW' | translate }}</mat-option>
                            <mat-option value="medium">{{ 'JOB.SKILL.PRIORITY.OPTIONS.MEDIUM' | translate }}</mat-option>
                            <mat-option value="high">{{ 'JOB.SKILL.PRIORITY.OPTIONS.HIGH' | translate }}</mat-option>
                          </mat-select>
                        </mat-form-field> 
                        
                        
                        <br/>
                        <button *ngIf="i>-1" class="btn btn-danger" (click) = "removeSkill(i)">
                          <i _ngcontent-axy-c0="" class="material-icons"> delete </i>
                          {{ 'JOBS.BUTTON.DELETE_SKILL' | translate }}
                        </button>
                        

                      </div>
                    </div>

                  <div>
                    <span class="table-add float-right mb-3 mr-2">
                      <button class="btn btn-primary" (click) = "addSkill()">
                        <i _ngcontent-axy-c0="" class="material-icons"> add </i>
                        {{ 'JOBS.BUTTON.ADD_SKILL' | translate }}</button>
                    </span>
                  </div>
  
                   </div>
                </div>
    
              </div>

              <!-- educations -->
              <div class="form-group">
                <br/>          
                <div class="card mb-3">
                  <div class="card-header">
                    <span>{{ 'JOBS.REQUIRED_EDUCATIONS' | translate }}</span>
                  </div>
                  <div class="card-body">
  
                    <div>

                      <div *ngFor="let education of dataIn.educationReq; let i=index" class="panel panel-default">
                        <div class="card-subtitle">      
                          <h3>{{ 'JOB.EDUCATION.TITLE' | translate }} {{i + 1}}</h3>                        
                        </div>
                      
                        <!-- title -->
                        <mat-form-field class="create-job-full-width">
                          <mat-label>{{ 'JOB.EDUCATION.NAME.LABEL' | translate }}</mat-label>
                            <input matInput required [(ngModel)]="education.title" name="EducationTitle_{{i}}" value="EducationTitle" placeholder="{{ 'JOB.EDUCATION.NAME.PLACEHOLDER' | translate }}" #educationTitleInput="ngModel">
                        </mat-form-field>
                        <br/>
                        <!-- description -->
                        <mat-form-field class="create-job-full-width">
                          <mat-label>{{ 'JOB.EDUCATION.DESCRIPTION.LABEL' | translate }}</mat-label>
                            <input matInput required [(ngModel)]="education.description" name="EducationDescription_{{i}}" value="EducationDescription" placeholder="{{ 'JOB.EDUCATION.DESCRIPTION.PLACEHOLDER' | translate }}">
                        </mat-form-field>
                        <br/>
                        
                        
                        <br/>
                        <button *ngIf="i>-1" class="btn btn-danger" (click) = "removeEducation(i)">
                          <i _ngcontent-axy-c0="" class="material-icons"> delete </i>
                          {{ 'JOBS.BUTTON.DELETE_EDUCATION' | translate }}
                        </button>
                        

                      </div>
                    </div>

                  <div>
                    <span class="table-add float-right mb-3 mr-2">
                      <button class="btn btn-primary" (click) = "addEducation()">
                        <i _ngcontent-axy-c0="" class="material-icons"> add </i>
                        {{ 'JOBS.BUTTON.ADD_EDUCATION' | translate }}</button>
                    </span>
                  </div>
  
                   </div>
                </div>
    
              </div>

              <!-- Experience -->
              <div class="form-group">
                <br/>          
                <div class="card mb-3">
                  <div class="card-header">
                    <span>{{ 'JOBS.REQUIRED_EXPERIENCES' | translate }}</span>
                  </div>
                  <div class="card-body">
  
                    <div>

                      <div *ngFor="let experience of dataIn.workExperienceReq; let i=index" class="panel panel-default">
                        <div class="card-subtitle">      
                          <h3>{{ 'JOB.EXPERIENCE.TITLE' | translate }} {{i + 1}}</h3>                        
                        </div>
                      
                        <!-- title -->
                        <mat-form-field class="create-job-full-width">
                          <mat-label>{{ 'JOB.EXPERIENCE.NAME.LABEL' | translate }}</mat-label>
                            <input matInput required [(ngModel)]="experience.position" name="ExperiencePosition_{{i}}" value="ExperiencePosition" placeholder="{{ 'JOB.EXPERIENCE.NAME.PLACEHOLDER' | translate }}" #experiencePositionInput="ngModel">
                        </mat-form-field>
                        <br/>
                        <!-- description -->
                        <mat-form-field class="create-job-full-width">
                          <mat-label>{{ 'JOB.EXPERIENCE.DESCRIPTION.LABEL' | translate }}</mat-label>
                            <input matInput required [(ngModel)]="experience.comment" name="ExperienceDescription_{{i}}" value="ExperienceDescription" placeholder="{{ 'JOB.EXPERIENCE.DESCRIPTION.PLACEHOLDER' | translate }}">
                        </mat-form-field>
                        <br/>
                        
                        
                        <br/>
                        <button *ngIf="i>-1" class="btn btn-danger" (click) = "removeExperience(i)">
                          <i _ngcontent-axy-c0="" class="material-icons"> delete </i>
                          {{ 'JOBS.BUTTON.DELETE_EXPERIENCE' | translate }}
                        </button>
                        

                      </div>
                    </div>

                  <div>
                    <span class="table-add float-right mb-3 mr-2">
                      <button class="btn btn-primary" (click) = "addExperience()">
                        <i _ngcontent-axy-c0="" class="material-icons"> add </i>
                        {{ 'JOBS.BUTTON.ADD_EXPERIENCE' | translate }}</button>
                    </span>
                  </div>
  
                   </div>
                </div>
    
              </div>
              
              <div class="form-group">
                <button [disabled]="formEditJob.invalid" *ngIf="mode=='Create'" (click) = "addJob()" type="submit" class="btn btn-primary">
                  <i _ngcontent-axy-c0="" class="material-icons"> add </i>
                    {{ 'JOBS.BUTTON.CREATE_JOB' | translate }}
                </button>
                <button [disabled]="formEditJob.invalid" *ngIf="mode=='Edit'" (click) = "updateJob(dataIn.id)" type="submit" class="btn btn-primary">
                  <i _ngcontent-axy-c0="" class="material-icons"> add </i>
                    {{ 'JOBS.BUTTON.UPDATE_JOB' | translate }}
                </button>
                <button class="btn btn-danger" (click)="confirmDialog()">
                  <i _ngcontent-axy-c0="" class="material-icons"> cancel </i>
                  {{ 'BUTTON.CANCEL' | translate }}</button>
              </div>
          </form>
            

        </div>
      </div>