<h1>{{ 'LOGIN.TITLE' | translate }}</h1>

      <div class="alert alert-info">
        <strong>Valid credentials for a student</strong> - U: student P: student<br>
        <strong>Valid credentials for a recruiter</strong> - U: recruiter P: recruiter<br>
        <strong>Valid credentials for a teacher</strong> - U: teacher P: teacher<br>
      </div>

      <div *ngIf="invalidCredentials" class="alert alert-danger" role="alert">
        {{ 'LOGIN.INVALID_CREDENTIALS_MESSAGE' | translate }}<br>
        </div>

      <div class="card-body">

      <form #formLogin="ngForm" (ngSubmit)="processForm()">
          <!-- name -->
          
          <div class="form-group field" [class.has-error]="usernameInput.invalid">
              <label>{{ 'LOGIN.USERNAME' | translate }}</label>
            <input 
              type="text" 
              name="username" 
              class="form-control input" 
              placeholder="Username" 
              [(ngModel)]="name"
              required
              minlength="3"
              #usernameInput="ngModel">
            <div class="help is-error alert-warning" *ngIf="(usernameInput.invalid && usernameInput.dirty)  || (!name)">
              {{ 'LOGIN.USERNAME_HELP' | translate }}
            </div>
          </div>
          <!-- email -->
          <div class="form-group field" [class.has-error]="passwordInput.invalid">  
              <label>{{ 'LOGIN.PASSWORD' | translate }}</label>        
            <input 
              type="password" 
              name="password"               
              class="form-control password" 
              placeholder="Your Password" 
              [(ngModel)]="password"
              required
              minlength="3"
              #passwordInput="ngModel">
            <div class="help is-error alert-warning" *ngIf="(passwordInput.invalid && passwordInput.dirty) || (!password)">
              {{ 'LOGIN.PASSWORD_HELP' | translate }}
            </div>
          </div>
          
          <button type="submit" class="button is-danger is-large" [disabled]="formLogin.invalid">{{ 'LOGIN.LOGIN_BUTTON' | translate }}</button>

        </form>      

    </div>
      
      <!-- form goes here -->
      
    <!--
          <div>
                <button (click)="openModal('custom-modal-login')">Open Modal Window</button>
          </div>
            
              
            <jw-modal id="custom-modal-login">
                <h1>Test</h1>
                <button (click)="closeModal('custom-modal-login');">Close</button>
            </jw-modal>
          -->