<h1>{{ 'LOGIN.TITLE' | translate }}</h1>


<ul class="nav nav-tabs" id="myTab2" role="tablist">
  <li class="nav-item active">
    <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="home" aria-selected="true">{{ 'LOGIN.TAB.LOGIN' | translate }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="resetpassword-tab" data-toggle="tab" href="#resetpassword" role="tab" aria-controls="resetpassword" aria-selected="false">{{ 'LOGIN.TAB.REQUEST_YOUR_PASSWORD' | translate }}</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent2">
  <div class="tab-pane fade active in" id="login" role="tabpanel" aria-labelledby="login-tab">
    <br/>
    <div class="alert alert-info">
      <strong>Valid credentials for a student</strong> - U: student P: student<br>
      <strong>Valid credentials for a recruiter</strong> - U: recruiter P: recruiter<br>
      <strong>Valid credentials for a teacher</strong> - U: teacher P: teacher<br>
    </div>

    <div *ngIf="invalidCredentials" class="alert alert-danger" role="alert">
      {{ 'LOGIN.INVALID_CREDENTIALS_MESSAGE' | translate }}<br>
    </div>

    <div class="card-body">
        <form #formLogin="ngForm" (ngSubmit)="processForm()">
            <!-- name -->            
            <div class="form-group field" [class.has-error]="usernameInput.invalid">
                <label>{{ 'LOGIN.USERNAME' | translate }}</label>
              <input 
                type="text" 
                name="username" 
                class="form-control input" 
                placeholder="{{ 'LOGIN.USERNAME' | translate }}"
                [(ngModel)]="name"
                required
                minlength="3"
                #usernameInput="ngModel">
              <div class="help is-error alert-warning" *ngIf="(usernameInput.invalid && usernameInput.dirty)  || (!name)">
                {{ 'LOGIN.USERNAME_HELP' | translate }}
              </div>
            </div>
            <!-- email -->
            <div class="form-group field" [class.has-error]="passwordInput.invalid">  
                <label>{{ 'LOGIN.PASSWORD' | translate }}</label>        
              <input 
                type="password" 
                name="password"               
                class="form-control password" 
                placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
                [(ngModel)]="password"
                required
                minlength="3"
                #passwordInput="ngModel">
              <div class="help is-error alert-warning" *ngIf="(passwordInput.invalid && passwordInput.dirty) || (!password)">
                {{ 'LOGIN.PASSWORD_HELP' | translate }}
              </div>
            </div>
            
            <button type="submit" class="button is-danger is-large" [disabled]="formLogin.invalid">{{ 'LOGIN.BUTTON.LOGIN' | translate }}</button>

          </form>      

    </div>

  </div>
  <div class="tab-pane fade" id="resetpassword" role="tabpanel" aria-labelledby="resetpassword-tab">
    <br/>
    <div *ngIf="requestPasswordError" class=" alert-danger" role="alert">
      {{ 'LOGIN.INVALID_REQUEST_CREDANTIALS_MESSAGE' | translate }}<br>
    </div>
    <div *ngIf="requestPasswordConfirmation" class=" alert-success" role="alert">
      {{ 'LOGIN.VALID_REQUEST_CREDANTIALS_MESSAGE' | translate }}<br>
    </div>

    <div class="card-body">
      <form #formRequestPassword="ngForm" (ngSubmit)="processFormRequestPassword()">         
          <!-- email -->
          <div class="form-group field" [class.has-error]="emailInput.invalid">  
              <label>{{ 'LOGIN.EMAIL' | translate }}</label>
            <input 
              type="email" 
              name="email"               
              class="form-control email" 
              placeholder="{{ 'LOGIN.EMAIL' | translate }}"
              [(ngModel)]="email"
              ngModel email="true"
              required
              minlength="3"
              #emailInput="ngModel">
            <div class="help is-error alert-warning">
              {{ 'LOGIN.EMAIL_HELP' | translate }}
            </div>
          </div>
          
          <button type="submit" class="button is-danger is-large" [disabled]="formRequestPassword.invalid">{{ 'LOGIN.BUTTON.SUBMIT' | translate }}</button>

        </form>      

      </div>
    

  </div>
</div> 

      
      
      <!-- form goes here -->
      
    <!--
          <div>
                <button (click)="openModal('custom-modal-login')">Open Modal Window</button>
          </div>
            
              
            <jw-modal id="custom-modal-login">
                <h1>Test</h1>
                <button (click)="closeModal('custom-modal-login');">Close</button>
            </jw-modal>
          -->