<h1>{{ 'JOBS.TITLE' | translate }}</h1>

<div class="row">
  <div class="col" [ngClass]="{'col-lg-8': currentUser.role.toLowerCase()=='student' || currentUser.role.toLowerCase()=='employee'}">

    <div class="" *ngIf="currentUser.role.toLowerCase()=='teacher' || currentUser.role.toLowerCase()=='recruiter' || currentUser.role.toLowerCase()=='administrator'">
      <button class="btn btn-primary" [routerLink]="['/jobs/add']">
        <i _ngcontent-axy-c0="" class="material-icons"> add </i> {{ 'JOBS.BUTTON.CREATE_JOB' | translate }}
      </button>
      &nbsp;     
      <button class="btn btn-primary" (click)="exportExcel()">
        <i _ngcontent-axy-c0="" class="material-icons"> import_export </i> {{ 'BUTTON.EXPORT_TO_EXCEL' | translate }}
      </button>
    </div>

    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'FILTER' | translate }}">
      </mat-form-field>
    </div>

    <div class="">  
      <table mat-table [dataSource]="dataSource" matSort class="table">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> {{ 'ACTION' | translate }} </th>
                <td mat-cell *matCellDef="let element">
    
                  <button class="btn btn-primary" [routerLink]="['/jobs', element.id]">
                    <i _ngcontent-axy-c0="" class="material-icons small"> details </i> {{ 'BUTTON.VIEW' | translate }}
                  </button>    
                  
                  <button *ngIf="(currentUser.role.toLowerCase()=='teacher' && element.creator_id==currentUser.id) || (currentUser.role.toLowerCase()=='recruiter' && element.creator_id==currentUser.id) || currentUser.role.toLowerCase()=='administrator'" class="btn btn-primary" [routerLink]="['/jobs', element.id, 'edit']">
                    <i _ngcontent-axy-c0="" class="material-icons small"> edit </i> {{ 'BUTTON.EDIT' | translate }}
                  </button>    
                  
                  <button *ngIf="(currentUser.role.toLowerCase()=='teacher' && element.creator_id==currentUser.id) || (currentUser.role.toLowerCase()=='recruiter' && element.creator_id==currentUser.id) || currentUser.role.toLowerCase()=='administrator'" class="btn btn-danger" (click)="confirmDialog(element.id, element.Label)">
                    <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> {{ 'BUTTON.DELETE' | translate }}
                  </button>
                  <!--
                  <button class="btn btn-inform" (click)="openApllyJobDialog(element.id, element.label)">
                    <i _ngcontent-axy-c0="" class="material-icons"> assignment_ind </i> {{ 'BUTTON.APPLY_JOB' | translate }}
                  </button>
                  -->
                </td>
              </ng-container>
    
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Label Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'JOB.TITLE.LABEL' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.label}} </td>
        </ng-container>
      
      
        <!-- employmentType Column -->
        <ng-container matColumnDef="employment_type">
          <th mat-header-cell *matHeaderCellDef > {{ 'JOB.EMPLOYMENT_TYPE.LABEL' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{ 'JOB.EMPLOYMENT_TYPE.OPTIONS.'+element.contractType | uppercase | translate }} </td>
        </ng-container>
    
        <!-- level Column -->
        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef > {{ 'JOB.EMPLOYMENT_LEVEL.LABEL' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{ 'JOB.EMPLOYMENT_LEVEL.OPTIONS.'+element.seniorityLevel | uppercase | translate }} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>

  <div class="col col-lg-4" *ngIf="currentUser.role.toLowerCase()=='student' || currentUser.role.toLowerCase()=='employee'">
    <app-recomended-jobs userId="{{currentUser.id}}"></app-recomended-jobs>
  </div>

</div>






