<h1>{{ 'JOBS.TITLE' | translate }}</h1>

<div *ngIf="showLoading">
  <div class="col-md-4 col-md-offset-4">
    <app-qc-spinner ></app-qc-spinner>
  </div>  
</div>

<div [hidden]="showLoading">
  <div class="row">

    <div class="col" [ngClass]="{'col-lg-8': authservice.checkIfPermissionsExistsByUserRoles(['get_job_recommendations'])}">
    
      <div class="" *appCanAccess="['add_job_post']">
        <button class="btn btn-primary" [routerLink]="['/jobs/add']">
          <i _ngcontent-axy-c0="" class="material-icons small"> add </i> {{ 'JOBS.BUTTON.CREATE_JOB' | translate }}
        </button>
        &nbsp;     
        <button [hidden]="dataSource.data.length==0" class="btn btn-primary" (click)="exportExcel()">
          <i _ngcontent-axy-c0="" class="material-icons small"> import_export </i> {{ 'BUTTON.EXPORT_TO_EXCEL' | translate }}
        </button>
      </div>

      <div [hidden]="dataSource.data.length>0" class="col-lg-8"><br/>{{ 'JOBS.NO_JOBS_AVAILABLE' | translate }}</div>
      <div [hidden]="dataSource.data.length==0">

  <!--
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'FILTER' | translate }}">
        </mat-form-field>
  -->
        <div class="col-lg-12">
          <strong>{{ 'FILTER' | translate }}:</strong>
          
          &nbsp;

          <mat-form-field>
            <input matInput [formControl]="nameFilter" placeholder="{{ 'JOBS.FILTER.TITLE' | translate }}">
          </mat-form-field>
          
          &nbsp;
          <mat-form-field>
            <mat-select [formControl]="organizationFilter" placeholder="{{ 'JOBS.FILTER.ORGANIZATION' | translate }}" (selectionChange)="selectCompany($event.value)">          
              <mat-option>{{ 'JOBS.NONE' | translate }}</mat-option>
              <mat-option *ngFor="let company of companies" [value]="company">{{company}}</mat-option>
            </mat-select>
          </mat-form-field>

          &nbsp;
          <mat-form-field>
            <mat-label>{{'JOB.SUBMISSION_START_DATE.PLACEHOLDER' | translate}} (>=)</mat-label>
            <input #dateRangeStart matInput [matDatepicker]="picker1" (dateChange)="dateRangeChangeStart(dateRangeStart)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-label>{{'JOB.SUBMISSION_END_DATE.PLACEHOLDER' | translate}} (<=)</mat-label>
            <input #dateRangeEnd matInput [matDatepicker]="picker2" (dateChange)="dateRangeChangeEnd(dateRangeEnd)">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          &nbsp;
          <mat-checkbox *ngIf="isRecruiter" class="example-margin" [(ngModel)]="createdByMe" ngDefaultControl name="createdByMe" (change)="onChangeCreatedByMeCheckbox($event.checked)">{{ 'JOBS.CREATED_BY_ME' | translate }}</mat-checkbox>
<!--
          &nbsp;
          <mat-form-field id=selectDates>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="{{'JOB.START_DATE.PLACEHOLDER' | translate}}" #dateRangeStart>
              <input matEndDate placeholder="{{'JOB.END_DATE.PLACEHOLDER' | translate}}"  #dateRangeEnd
              (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)"
              >
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        -->                  
        </div>
      </div>

      <div class="" [hidden]="dataSource.data.length==0">  
        <table mat-table [dataSource]="dataSource" matSort class="table table-striped" (matSortChange)="sortData($event)">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> {{ 'ACTION' | translate }} </th>
                  <td mat-cell *matCellDef="let element" style="white-space: nowrap;">
      
                    <button class="btn btn-primary" [routerLink]="['/jobs', element.id]">
                      <i _ngcontent-axy-c0="" class="material-icons small"> pageview </i> {{ 'BUTTON.VIEW' | translate }}
                    </button>    

                    <span *appCanAccess="['edit_job_post']">
                      <button *ngIf="((element.creator_id==currentUser.id.toString()) || (element.creator_id==':'+currentUser.id.toString()) || isAdmin)" class="btn btn-primary" [routerLink]="['/jobs', element.id, 'edit']">
                        <i _ngcontent-axy-c0="" class="material-icons small"> edit </i> {{ 'BUTTON.EDIT' | translate }}
                      </button>    
                    </span>
                    <span *appCanAccess="['delete_job_post']">
                      <button *ngIf="((element.creator_id==currentUser.id.toString()) || (element.creator_id==':'+currentUser.id.toString()) || isAdmin)" class="btn btn-danger" (click)="confirmDialog(element.id, element.label)">
                        <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> {{ 'BUTTON.DELETE' | translate }}
                      </button>
                    </span>
                    <!--
                    <button class="btn btn-primary" (click)="openApllyJobDialog(element.id, element.label)">
                      <i _ngcontent-axy-c0="" class="material-icons"> assignment_ind </i> {{ 'BUTTON.APPLY_JOB' | translate }}
                    </button>
                    -->
                  </td>
                </ng-container>
      
          <!-- id Column -->
          <!--
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          -->
          <!-- Label Column -->
          <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="label"> {{ 'JOB.TITLE.LABEL' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.label}} </td>
          </ng-container>
        
        
          <!-- employmentType Column -->
          <ng-container matColumnDef="contractType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="contractType"> {{ 'JOB.EMPLOYMENT_TYPE.LABEL' | translate }} </th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.contractType">{{ 'JOB.EMPLOYMENT_TYPE.OPTIONS.'+element.contractType | uppercase | translate }} </span></td>
          </ng-container>
      
          <!-- level Column -->
          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="seniorityLevel"> {{ 'JOB.EMPLOYMENT_LEVEL.LABEL' | translate }} </th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="element.seniorityLevel">{{ 'JOB.EMPLOYMENT_LEVEL.OPTIONS.'+element.seniorityLevel | uppercase | translate }}</span> </td>
          </ng-container>
          
          <!-- hiringOrganization Column -->          
          <ng-container matColumnDef="hiringOrganization">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="hiringOrganization"> {{ 'JOB.RECRUITMENT_ORGANIZATION.LABEL' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element?.hiringOrganization }} </td>
          </ng-container>
          
          <!-- startDate Column -->
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="startDate"> {{ 'JOB.SUBMISSION_START_DATE.PLACEHOLDER' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element?.startDate | date }} </td>
          </ng-container>
          <!-- endDate Column -->
          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="endDate"> {{ 'JOB.SUBMISSION_END_DATE.PLACEHOLDER' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element?.endDate | date }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </div>

    <div class="col col-lg-4" *appCanAccess="['get_job_recommendations','get_their_job_applications']">

      <mat-accordion class="example-headers-align" multi>
        <app-recomended-jobs userId="{{currentUser.id}}" *appCanAccess="['get_job_recommendations']"></app-recomended-jobs>
        <app-job-applications-by-user userId="{{currentUser.id}}" *appCanAccess="['get_their_job_applications']"></app-job-applications-by-user>
      </mat-accordion>
      
    </div>

  </div>

</div>






