<h1>{{ 'JOBS.TITLE' | translate }}</h1>

<div class="">
  <!-- 
  <a [routerLink]="['/jobs/add']" class="btn btn-primary">{{ 'JOBS.BUTTON.CREATE_JOB' | translate }}</a>
  -->  
  <button class="btn btn-primary" [routerLink]="['/jobs/add']">
    <i _ngcontent-axy-c0="" class="material-icons"> add </i> {{ 'JOBS.BUTTON.CREATE_JOB' | translate }}
  </button>
  &nbsp;     
  <!--
  <button class="btn btn-primary" (click)="exportExcel()">{{ 'BUTTON.EXPORT_TO_EXCEL' | translate }}</button>
  -->
  <button class="btn btn-primary" (click)="exportExcel()">
    <i _ngcontent-axy-c0="" class="material-icons"> import_export </i> {{ 'BUTTON.EXPORT_TO_EXCEL' | translate }}
  </button>

</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'FILTER' | translate }}">
</mat-form-field>

<div class="">  
  <table mat-table [dataSource]="dataSource" matSort class="table">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{ 'ACTION' | translate }} </th>
            <td mat-cell *matCellDef="let element">
              <!--
              <a [routerLink]="['/jobs', element.id, 'edit']" class="btn btn-primary">{{ 'BUTTON.EDIT' | translate }}</a> 
              -->
              <button class="btn btn-primary" [routerLink]="['/jobs', element.id, 'edit']">
                <i _ngcontent-axy-c0="" class="material-icons"> edit </i> {{ 'BUTTON.EDIT' | translate }}
              </button>

              &nbsp;
              <!--
              <button class="btn btn-danger" (click)="confirmDialog(element.id, element.Label)">{{ 'BUTTON.DELETE' | translate }}</button>
              -->              
              <button class="btn btn-danger" (click)="confirmDialog(element.id, element.Label)">
                <i _ngcontent-axy-c0="" class="material-icons"> delete </i> {{ 'BUTTON.DELETE' | translate }}
              </button>

              &nbsp;
                            
              <button class="btn btn-inform" (click)="openApllyJobDialog(element.id, element.Label)">
                <i _ngcontent-axy-c0="" class="material-icons"> assignment_ind </i> {{ 'BUTTON.APPLY_JOB' | translate }}
              </button>

            </td>
          </ng-container>

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Label Column -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'JOB.TITLE.LABEL' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.label}} </td>
    </ng-container>

    <!-- jobDescription Column --> 
    <ng-container matColumnDef="jobDescription">
      <th mat-header-cell *matHeaderCellDef > {{ 'JOB.Description' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{ element.jobDescription | translate }} </td>
    </ng-container>

  
    <!-- employmentType Column 
    <ng-container matColumnDef="employment_type">
      <th mat-header-cell *matHeaderCellDef > {{ 'JOB.EMPLOYMENT_TYPE.LABEL' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{ element.employment_type | employmentType | translate }} </td>
    </ng-container>-->

    <!-- level Column 
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef > {{ 'JOB.EMPLOYMENT_LEVEL.LABEL' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{ element.level | levelType | translate }} </td>
    </ng-container> -->

    <ng-container matColumnDef="jobLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.jobLocation}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
