<h1 *ngIf="fromURL">{{ 'PROFILES.COMPETENCY_DEVELOPMENT' | translate }}</h1>

<div class="row" [hidden]="!showLoading">
    <app-qc-spinner></app-qc-spinner>
</div>

<button [hidden]="showLoading" *ngIf="userId==currentUser.id" class="btn btn-primary" (click)="openItem('create',null)">
    <i _ngcontent-axy-c0="" class="material-icons small"> add </i> {{ 'BUTTON.CREATE' | translate }}
</button>

<div [hidden]="dataSource.data.length!=0">
  <br>{{ 'COMPETENCY_LEVEL.NO_COMPETENCES_YET' | translate }}
</div>

<div [hidden]="dataSource.data.length==0">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'FILTER' | translate }}">
    </mat-form-field>
  
    <div class="competenesbyuser">  
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
            <ng-container matColumnDef="action" >
              <th [hidden]="userId!=currentUser.id" mat-header-cell *matHeaderCellDef> {{ 'ACTION' | translate }} </th>
              <td [hidden]="userId!=currentUser.id" mat-cell *matCellDef="let element">
  
                <button class="btn btn-primary" (click)="openItem('edit', element)">
                  <i _ngcontent-axy-c0="" class="material-icons small"> edit  </i> {{ 'BUTTON.EDIT' | translate }}
                </button>
                <!--
                <button class="btn btn-danger" (click)="confirmDialog(element.id, element.competency)">
                  <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> {{ 'BUTTON.DELETE' | translate }}
                </button>
                -->
              </td>
            </ng-container>
  
      <!-- id Column -->
    <!--
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    -->

      <!-- label Column -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMPETENCY_LEVEL.COMPETENCY' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element?.label}}  </td>
      </ng-container>  
  
      <!-- proficiencyLevel Column -->
      <ng-container matColumnDef="proficiencyLevel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMPETENCY_LEVEL.LEVEL' | translate }} </th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element?.proficiencyLevel">{{ 'COMPETENCY_LEVEL.LEVELS.'+element?.proficiencyLevel | uppercase | translate}}</span> 
        </td>
      </ng-container>  

      <!-- progress Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMPETENCY_LEVEL.PROGRESS' | translate }} </th>
        <td mat-cell *matCellDef="let element">             
            <div class="progress" >
                <div *ngIf="element?.progress" title="{{+element?.progress}}%" class="progress-bar" role="progressbar" [ngStyle]="{'width.%':((+element?.progress)/1)}" attr.aria-valuenow="{{+element?.progress}}"  aria-valuemin="0" aria-valuemax="100"><span>{{+element?.progress}}%</span></div>
            </div>
            
        </td>
      </ng-container>

      <!-- acquiredDate Column -->
      <ng-container matColumnDef="acquiredDate">
        <th mat-header-cell *matHeaderCellDef > {{ 'COMPETENCY_LEVEL.ACQUIRED_DATE' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element?.acquiredDate | date:'dd/MM/yyyy' }} </td>
      </ng-container>

      <!-- next_evaluation Column -->
      <ng-container matColumnDef="evalDate">
        <th mat-header-cell *matHeaderCellDef > {{ 'COMPETENCY_LEVEL.NEXT_EVALUATION' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element?.evalDate | date:'dd/MM/yyyy' }} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>