<h1 mat-dialog-title>{{ 'COMPETENCY_LEVEL.HEADER' | translate }} - {{mode}} {{skillNameTranslation}}</h1>

<div class="row" *ngIf="loadingSpinner">
  <div class="col-md-4 col-md-offset-4">
    <app-qc-spinner></app-qc-spinner>
  </div>
</div>

<div *ngIf="!loadingSpinner">
<mat-dialog-content class="mat-typography">
    <form #formCDItem="ngForm" class="cv-form" (ngSubmit)="onSubmit()">
      <!--
        <mat-form-field class="item-full-width" >
            <mat-label>{{ 'COMPETENCY_LEVEL.COMPETENCY' | translate }}</mat-label>
            <input matInput required [(ngModel)]="item.competency" name="competency" value="competency" placeholder="{{ 'COMPETENCY_LEVEL.COMPETENCY' | translate }}">
        </mat-form-field>
      -->


        <mat-form-field class="item-full-width">
            <mat-label>{{ 'CV.SKILL_FIELD' | translate }}</mat-label>  
            <mat-select [(ngModel)]="skill_field" name="skill_field" (selectionChange)="SkillFieldOptionSelected($event)" required>
                <mat-option *ngFor="let skill_value of skillsFields" [value]="skill_value">
                  {{ 'CV.SKILL_FIELD_VALUE.'+skill_value | uppercase | translate}}
                </mat-option>
              </mat-select>
        </mat-form-field>                        

      <div *ngIf="skill_field">
        <mat-form-field class="item-full-width" >
            <mat-label>{{ 'COMPETENCY_LEVEL.COMPETENCY' | translate }}</mat-label>
            <input required type="text"
                   placeholder="{{ 'PICK_ONE' | translate }}"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="OptionSelected($event)">
              <mat-option *ngFor="let opt of options of filteredOptions | async" [id]="opt.id" [value]="opt.translations[currentUserLang] ">
                {{opt.translations[currentUserLang]}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        

        <mat-form-field class="item-full-width" >
            <mat-label>{{ 'COMPETENCY_LEVEL.LEVEL' | translate }}</mat-label>
            <mat-select required [(ngModel)]="item.proficiencyLevel" name="level" value="level" (selectionChange)="OptionChanged($event)">
              <mat-option *ngFor="let competencie of competencies" [value]="competencie.value">
                {{ 'COMPETENCY_LEVEL.LEVELS.'+competencie.viewValue | uppercase | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
<!--
        <mat-form-field class="item-full-width" >
            <mat-label>{{ 'COMPETENCY_LEVEL.LEVEL' | translate }}</mat-label>
            <input matInput type="number" min="0" max="10" required [(ngModel)]="item.level" name="level" value="level" placeholder="{{ 'COMPETENCY_LEVEL.LEVEL' | translate }}">
        </mat-form-field>
-->
        <mat-form-field class="item-full-width" >
            <mat-label>{{ 'COMPETENCY_LEVEL.PROGRESS' | translate }}</mat-label>
            <input matInput [formControl]="numberFormControl"  type="number" min="0" max="100" required [(ngModel)]="item.progress" name="progress" value="progress" placeholder="{{ 'COMPETENCY_LEVEL.PROGRESS' | translate }}">

            <mat-error *ngIf="numberFormControl.hasError('min')">            
              {{ 'COMPETENCY_LEVEL.PROGRESS_MIN_VALUE_ERROR' | translate }}
            </mat-error>
            <mat-error *ngIf="numberFormControl.hasError('max')">            
              {{ 'COMPETENCY_LEVEL.PROGRESS_MAX_VALUE_ERROR' | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="item-full-width" >
          <mat-label>{{ 'COMPETENCY_LEVEL.ACQUIRED_DATE' | translate }}</mat-label>
          <input matInput [matDatepicker]="pickerAcquiredDate" name="acquiredDate" [(ngModel)]="item.acquiredDate" #adquiredDateInput="ngModel" required>
          <mat-datepicker-toggle matSuffix [for]="pickerAcquiredDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerAcquiredDate startView="year" [startAt]="item.acquiredDate" format="DD-MM-YYYY"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="item-full-width" >
            <mat-label>{{ 'COMPETENCY_LEVEL.NEXT_EVALUATION' | translate }}</mat-label>
            <input matInput [matDatepicker]="pickerNextEvaluation" name="nextEvaluation" [(ngModel)]="item.evalDate" #nextEvaluationDateInput="ngModel" required>
            <mat-datepicker-toggle matSuffix [for]="pickerNextEvaluation"></mat-datepicker-toggle>
            <mat-datepicker #pickerNextEvaluation startView="year" [startAt]="item.evalDate" format="DD-MM-YYYY"></mat-datepicker>
          </mat-form-field>

          <!--
          <mat-form-field class="item-full-width" >
            <mat-label>{{ 'COMPETENCY_LEVEL.LABEL' | translate }}</mat-label>
            <input matInput  [(ngModel)]="item.label" name="label" value="label" placeholder="{{ 'COMPETENCY_LEVEL.LABEL' | translate }}">
          </mat-form-field>
          -->
          
          <mat-form-field class="item-full-width">
            <mat-label>{{ 'COMPETENCY_LEVEL.COMMENT' | translate }}</mat-label>
            <textarea matInput [(ngModel)]="item.comment" name="comment" placeholder="{{ 'COMPETENCY_LEVEL.COMMENT' | translate }}"></textarea>
          </mat-form-field>
        </div>
    </form> 
</mat-dialog-content>

<mat-dialog-actions align="end">
    <div class="modal-footer">      

        <button [disabled]="formCDItem.invalid || item.progress<0 || item.progress>100" type="button" class="btn btn-success"  (click)="onSubmit()">
            <i _ngcontent-axy-c0="" class="material-icons"> save </i>
            {{ 'BUTTON.SAVE' | translate }}
        </button>

        <button type="button" class="btn btn-danger" [mat-dialog-close]="false" id="closeAwardModalWindow">
            <i _ngcontent-axy-c0="" class="material-icons"> close </i> {{ 'BUTTON.CLOSE' | translate }}
        </button>
    </div>
</mat-dialog-actions>  
</div>