<div class="card">
    <div class="card-body">
        <h3>{{ 'RECOMENDED_JOBS.TITLE' | translate }}</h3>
        <!-- #acc="ngbAccordion" -->

        <div *ngIf="recomendedJobs.length==0" class="col-lg-8">
          This user does not have any recomended job yet. 
        </div>

        <ngb-accordion *ngIf="recomendedJobs.length>=0" activeIds="job-0">
          
          <ngb-panel id="job-{{i}}" *ngFor="let job of recomendedJobs; let i = index" >

            <ng-template ngbPanelTitle>
              <span>&#9733; <b>{{job.job.title}}</b> &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="job-card">                    
                  <div class="job-card-body">                      
                    <p class="job-card-text">
                      {{job.job.job_description}}
                      <br/>
                      Match: 
                    </p>
                    <div class="progress">                      
                      <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>                      
                    </div>
                    <!-- 
                      <a [routerLink]="['/jobs','1']" class="btn btn-primary">{{ 'BUTTON.VIEW' | translate }}</a>
                    -->
                    <!--
                    <a [routerLink]="['/jobs',job.job.id]" class="btn btn-primary">{{ 'BUTTON.VIEW' | translate }}</a>
                    -->
                    <button class="btn btn-primary" [routerLink]="['/jobs', job.job.id]">
                      <i _ngcontent-axy-c0="" class="material-icons"> details </i> {{ 'BUTTON.VIEW' | translate }}
                    </button>

                  </div>
              </div>
            </ng-template>

          </ngb-panel>
          <!--
            <ngb-panel id="job-1">
              <ng-template ngbPanelTitle>
                <span>&#9733; <b>Technical Application Administrator</b> &#9733;</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="card">                    
                    <div class="card-body">                      
                      <p class="card-text">
                        This is just a Hardcoded course for testing propouses. Skills Required: Computer Science
                        <br/>
                        Match: 
                      </p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                      <a [routerLink]="" class="btn btn-primary">{{ 'BUTTON.VIEW' | translate }}</a>
                    </div>
                </div>
              </ng-template>
            </ngb-panel>
            
            <ngb-panel id="job-2">
                <ng-template ngbPanelTitle>
                  <span>&#9733; <b>Oracle database administrator</b> &#9733;</span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="card">                        
                        <div class="card-body">                      
                          <p class="card-text">
                            This is just a Hardcoded course for testing propouses. Skills Required: Oracle
                            <br/>
                            Match: 
                          </p>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 83%" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100">83%</div>
                          </div>
                          <a [routerLink]="" class="btn btn-primary">{{ 'BUTTON.VIEW' | translate }}</a>
                        </div>
                    </div>
                    
                </ng-template>
              </ngb-panel>
            -->
        </ngb-accordion>

    </div>
</div>

    