<mat-expansion-panel  [expanded]="recomendedJobs.length>0 ? true : false">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ 'RECOMENDED_JOBS.TITLE' | translate }}</mat-panel-title>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>

  <div *ngIf="recomendedJobs.length==0">{{ 'RECOMENDED_JOBS.NO_DATA' | translate }} </div>

  <mat-accordion *ngIf="recomendedJobs.length>=0" activeIds="job-0">
    <mat-expansion-panel  id="job-{{i}}" *ngFor="let job of recomendedJobs | slice:0:5; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{job?.label}}
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <div class="job-card">                    
        <div class="job-card-body">                      
          <div class="job-card-text">
            {{job?.jobDescription}}
            <br/>
            <!--{{ 'RECOMENDED_JOBS.MATCH' | translate }}:-->
          </div>
          
          <!--
          <div class="progress" >
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%':job.job.rating}" attr.aria-valuenow="{{job.job.rating}}"  aria-valuemin="0" aria-valuemax="100">{{job.job.rating}}%</div>
          </div>
          -->

          <br/>
          <button *appCanAccess="['view_jobs']" class="btn btn-primary" [routerLink]="['/jobs', job?.id]">
            <i _ngcontent-axy-c0="" class="material-icons small"> details </i> {{ 'BUTTON.VIEW' | translate }}
          </button>

        </div>
    </div>


    </mat-expansion-panel>
    
  </mat-accordion>


  <div *ngIf="recomendedJobs.length>5" class="col-lg-8">
    <br>
    <a [routerLink]="['/profiles',userId,'recomended','jobs']" class="btn btn-primary">{{ 'BUTTON.VIEW_MORE' | translate }}</a>
  </div>

</mat-expansion-panel>