<h1 >{{ 'COURSE.TITLE' | translate }}: {{courseData.name}}</h1>

<div class="container">
    <div class="row">
      <button *ngIf="isAdmin || isProfessor" class="btn btn-primary" [routerLink]="['/courses', courseData.courseid, 'edit']">
        <i _ngcontent-axy-c0="" class="material-icons small"> edit </i> {{ 'BUTTON.EDIT' | translate }}
      </button>          
      
      <mat-spinner diameter="20" color="warn" *ngIf="loadSpinner"></mat-spinner>

      <button *ngIf="!loadSpinner && !isUserAsEnrolled && !isUserAsDone && !isUserAsTaught && (isStudent || isEmployee)" class="btn btn-primary" (click)="relationUserCourse(courseData.courseid, 'add' ,'enrolled', this.currentUser.id)">
        <i _ngcontent-axy-c0="" class="material-icons small" > assignment_turned_in </i> {{ 'COURSE.BUTTON.ENROLL_TO_COURSE' | translate }}
      </button>
      <button *ngIf="!loadSpinner && isUserAsEnrolled && (isStudent || isEmployee)" class="btn btn-danger" (click)="relationUserCourse(courseData.courseid, 'delete' ,'enrolled', this.currentUser.id)">
        <i _ngcontent-axy-c0="" class="material-icons small" > delete </i> {{ 'COURSE.BUTTON.UNENROLL_TO_COURSE' | translate }}
      </button>

      <button *ngIf="!loadSpinner && !isUserAsDone && !isUserAsEnrolled && !isUserAsTaught && (isStudent || isEmployee)" class="btn btn-primary" (click)="openDialogGrade(courseData.courseid, this.currentUser.id)">
        <i _ngcontent-axy-c0="" class="material-icons small" > done </i> {{ 'COURSE.BUTTON.COURSE_DONE' | translate }}
      </button>
      <button *ngIf="!loadSpinner && isUserAsDone && (isStudent || isEmployee)" class="btn btn-danger" (click)="relationUserCourse(courseData.courseid, 'delete' ,'done', this.currentUser.id)">
        <i _ngcontent-axy-c0="" class="material-icons small" > delete </i> {{ 'COURSE.BUTTON.COURSE_UNDONE' | translate }}
      </button>

      <button *ngIf="!loadSpinner && !isUserAsEnrolled && !isUserAsDone && !isUserAsTaught && isProfessor" class="btn btn-primary" (click)="relationUserCourse(courseData.courseid, 'add' ,'taught', this.currentUser.id)">
        <i _ngcontent-axy-c0="" class="material-icons small" > book </i> {{ 'COURSE.BUTTON.TOUGH_THE_COURSE' | translate }}
      </button>
      <button *ngIf="!loadSpinner && isUserAsTaught && isProfessor" class="btn btn-danger" (click)="relationUserCourse(courseData.courseid, 'delete' ,'taught', this.currentUser.id)">
        <i _ngcontent-axy-c0="" class="material-icons small" > delete </i> {{ 'COURSE.BUTTON.UNTOUGH_THE_COURSE' | translate }}
      </button>

      <button *ngIf="isAdmin || isProfessor" class="btn btn-primary" (click)="openDialogUserSelection(courseData.courseid, this.currentUser.id)">
        <i _ngcontent-axy-c0="" class="material-icons small" > add </i> {{ 'COURSE.BUTTON.ADD_NEW_RELATION' | translate }}
      </button>      
      
    </div>

    <div class="row"><br></div>

    <div class="row">

      <div class="col col-lg-12">
          <div class="col ">
              <div><span class="labelcourse">{{ 'COURSE.DESCRIPTION.LABEL' | translate }}:</span> {{courseData.description}}</div> 
          </div>
          <div class="col ">
            <div><span class="labelcourse">{{ 'COURSE.SEMESTER.LABEL' | translate }}:</span> {{courseData.semester}}</div> 
          </div>
          <!--
          <div class="col ">
              <div><span class="labelcourse">{{ 'COURSE.STARTDATE.LABEL' | translate }}:</span> {{courseData.startDate }}</div> 
          </div>
          -->
          <!--
          <div class="col ">
              <div><span class="labelcourse">{{ 'COURSE.ENDDATE.LABEL' | translate }}:</span> {{courseData.endDate }}</div> 
          </div>
          -->
          
          <div *ngIf="courseData.skills.length>0" class="col ">
            <div><span class="labelcourse">{{ 'COURSE.SKILLS.LABEL' | translate }}:</span> 
                <span *ngFor="let skill of courseData.skills; let i=index">
                  <span *ngIf="i>0">,</span> <a href="/skills/{{skill.skill.id}}">{{ skill.skill.name }}</a>
                </span>
            </div> 
          </div>

          <div *ngIf="courseData.events.length>0" class="col ">
            <div><span class="labelcourse">{{ 'COURSE.EVENTS.LABEL' | translate }}:</span> 
                <span *ngFor="let event of courseData.events; let i=index">
                  <span *ngIf="i>0">,</span> {{ event.name }}
                </span>
            </div> 
          </div>

      </div>
    </div>

    
    <div class="row">

      <!-- professors users -->
      <div><h2>{{ 'COURSE.PROFESSORS' | translate }}</h2></div>

        <div *ngIf="(enrolledUsers | FilterArrayByValue : 'course_status' : 'taught')==0"> {{ 'COURSE.NO_TEACHERS' | translate }}</div>

        <div *ngIf="(enrolledUsers | FilterArrayByValue : 'course_status' : 'taught')>0" class="col col-lg-12">
      

            <table *ngIf="(enrolledUsers | FilterArrayByValue : 'course_status' : 'taught')>0" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'PROFILE.SURNAME.LABEL' | translate }}</th>
                    <th scope="col">{{ 'PROFILE.NAME.LABEL' | translate }}</th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let enrolledUser of enrolledUsers | FilterArrayByValueGetList : 'course_status' : 'taught' ; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{enrolledUser.user.surname}}</td>
                    <td>{{enrolledUser.user.name}}</td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['/profiles', enrolledUser.user.id]">
                            <i _ngcontent-axy-c0="" class="material-icons small"> details </i> {{ 'BUTTON.VIEW' | translate }}
                        </button>
                        <button *ngIf="(isAdmin || isProfessor)" class="btn btn-danger" (click)="relationUserCourse(courseData.courseid, 'delete' ,'taught', enrolledUser.user.id)">
                          <i _ngcontent-axy-c0="" class="material-icons small" > delete </i> {{ 'BUTTON.DELETE' | translate }}
                        </button>
                    </td>
                  </tr>                  
                </tbody>
              </table>
        </div>


        <!-- enrolled users -->
        <div><h2>{{ 'COURSE.ENROLLED_USERS' | translate }}</h2></div>

        <div *ngIf="(enrolledUsers | FilterArrayByValue : 'course_status' : 'enrolled')==0"> {{ 'COURSE.NO_ENROLLED_USERS' | translate }}</div>

        <div *ngIf="(enrolledUsers | FilterArrayByValue : 'course_status' : 'enrolled')>0" class="col col-lg-12">
     
            <table *ngIf="(enrolledUsers | FilterArrayByValue : 'course_status' : 'enrolled')>0" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'PROFILE.SURNAME.LABEL' | translate }}</th>
                    <th scope="col">{{ 'PROFILE.NAME.LABEL' | translate }}</th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let enrolledUser of enrolledUsers | FilterArrayByValueGetList : 'course_status' : 'enrolled' ; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{enrolledUser.user.surname}}</td>
                    <td>{{enrolledUser.user.name}}</td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['/profiles', enrolledUser.user.id]">
                            <i _ngcontent-axy-c0="" class="material-icons small"> details </i> {{ 'BUTTON.VIEW' | translate }}
                        </button>
                        <button class="btn btn-danger" *ngIf="(isAdmin || isProfessor)" (click)="relationUserCourse(courseData.courseid, 'delete' ,'enrolled', enrolledUser.user.id)">
                          <i _ngcontent-axy-c0="" class="material-icons small" > delete </i> {{ 'BUTTON.DELETE' | translate }}
                        </button>
                    </td>
                  </tr>                  
                </tbody>
              </table>
        </div>


        <!-- done users -->
        <div><h2>{{ 'COURSE.DONE_BY' | translate }}</h2></div>

        <div *ngIf="(enrolledUsers | FilterArrayByValue : 'course_status' : 'done')==0"> {{ 'COURSE.NO_DONE_BY_USERS' | translate }}</div>

        <div *ngIf="(enrolledUsers | FilterArrayByValue : 'course_status' : 'done')>0" class="col col-lg-12">

            <table *ngIf="(enrolledUsers | FilterArrayByValue : 'course_status' : 'done')>0" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'PROFILE.SURNAME.LABEL' | translate }}</th>
                    <th scope="col">{{ 'PROFILE.NAME.LABEL' | translate }}</th>
                    <th scope="col">{{ 'COURSE.SCORE.LABEL' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let enrolledUser of enrolledUsers | FilterArrayByValueGetList : 'course_status' : 'done' ; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{enrolledUser.user.surname}}</td>
                    <td>{{enrolledUser.user.name}}</td>
                    <td>{{enrolledUser?.score}}</td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['/profiles', enrolledUser.user.id]">
                            <i _ngcontent-axy-c0="" class="material-icons small"> details </i> {{ 'BUTTON.VIEW' | translate }}
                        </button>
                        <button class="btn btn-danger" *ngIf="(isAdmin || isProfessor)" (click)="relationUserCourse(courseData.courseid, 'delete' ,'done', enrolledUser.user.id)">
                          <i _ngcontent-axy-c0="" class="material-icons small" > delete </i> {{ 'BUTTON.DELETE' | translate }}
                        </button>
                    </td>
                  </tr>                  
                </tbody>
              </table>
        </div>        

    </div>    

</div>