<mat-expansion-panel  [expanded]="myCourses.length>0 ? true : false">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ 'PROFILES.TEACHING_COURSES' | translate }}</mat-panel-title>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
  
    <mat-spinner diameter="20" color="warn" *ngIf="lodingspinner; else loadEnd"></mat-spinner>
    <ng-template #loadEnd>
        <div *ngIf="myCourses.length==0">{{ 'CAREER_ADVISOR.COMPLETED_COURSES.NO_DATA' | translate }} </div>
  
        <mat-accordion *ngIf="myCourses.length>=0" activeIds="course-0">
        <mat-expansion-panel  id="course-{{i}}" *ngFor="let course of myCourses; let i = index">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{course?.course?.name}}
            </mat-panel-title>
            <mat-panel-description>
                
            </mat-panel-description>
            </mat-expansion-panel-header>
            
            <div class="course-card">                    
            <div class="course-card-body">                      
                <div class="course-card-text">
                {{course?.course?.description}}
                <br/>
                 </div>       
    
                <br/>
                <button *appCanAccess="['view_courses']" class="btn btn-primary" [routerLink]="['/courses', course?.course?.courseid]">
                <i _ngcontent-axy-c0="" class="material-icons small"> details </i> {{ 'BUTTON.VIEW' | translate }}
                </button>
    
            </div>
        </div>
    
    
        </mat-expansion-panel>
        
        </mat-accordion>
  
    </ng-template>

  
  </mat-expansion-panel>