<h1 >{{ 'JOB.HEADER_TITLE' | translate }}: {{jobData.label}}</h1>

<div class="container">

    <div class="row">
          <button *ngIf="((isProfessor && jobData.creator_id==currentUser.id) || (isRecruiter && jobData.creator_id==currentUser.id) || isAdmin)" class="btn btn-primary" [routerLink]="['/jobs', jobData.id, 'edit']">
            <i _ngcontent-axy-c0="" class="material-icons small"> edit </i> {{ 'BUTTON.EDIT' | translate }}
          </button>
          <button *ngIf="!userHasAnApply" class="btn btn-primary" (click)="openApllyJobDialog(jobData.id, jobData)">
            <i _ngcontent-axy-c0="" class="material-icons small"> assignment_ind </i> {{ 'BUTTON.APPLY_JOB' | translate }}
          </button>
          <button *ngIf="userHasAnApply" class="btn btn-danger" (click)="deleteThisApply(jobData.id, currentUser.id, -1)">
            <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> {{ 'BUTTON.DELETE_APPLY_JOB' | translate }}
          </button>
      </div>
      <div class="row"><br></div>

    <div class="row">

        <div class="col col-lg-12">

            <div class="col ">
                <div><span class="labeljob">{{ 'JOB.DESCRIPTION.LABEL' | translate }}:</span> {{jobData.jobDescription}}</div> 
            </div>
            <div class="col ">
                <div><span class="labeljob">{{ 'JOB.START_DATE.LABEL' | translate }}:</span> {{jobData.startDate | date }}</div> 
            </div>
            <div class="col ">
                <div><span class="labeljob">{{ 'JOB.END_DATE.LABEL' | translate }}:</span> {{jobData.endDate | date }}</div> 
            </div>
            <div class="col ">
                <div><span class="labeljob">{{ 'JOB.EMPLOYMENT_TYPE.LABEL' | translate }}:</span> {{ 'JOB.EMPLOYMENT_TYPE.OPTIONS.'+jobData.contractType | uppercase | translate }}</div> 
            </div>
            <div class="col ">
                <div><span class="labeljob">{{ 'JOB.EMPLOYMENT_LEVEL.LABEL' | translate }}:</span> {{ 'JOB.EMPLOYMENT_LEVEL.OPTIONS.'+jobData.seniorityLevel | uppercase | translate }}</div> 
            </div>
            <div class="col ">
              <div><span class="labeljob">{{ 'JOB.ORGANIZATION' | translate }}:</span> {{ jobData?.hiringOrg }} </div> 
            </div>
            
            <div class="col ">
                <div class="labeljob"><h2>{{ 'JOBS.REQUIRED_SKILLS' | translate }}</h2></div> 
                <div>
                  <div *ngIf="jobData.skillReq.length==0">{{ 'JOBS.REQUIRED_SKILLS_NOT_AVAILABLE' | translate }}</div>
                    <table *ngIf="jobData.skillReq.length>0" class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ 'JOB.SKILL.NAME.LABEL' | translate }}</th>
                            <th scope="col">{{ 'JOB.SKILL.PRIORITY.LABEL' | translate }}</th>
                            <th scope="col">{{ 'JOB.SKILL.LEVEL.LABEL' | translate }}</th>
                            <!--<th scope="col">{{ 'JOB.SKILL.ASSIGN.LABEL' | translate }}</th>-->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let skill of jobData.skillReq; let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{skill.label}}</td>
                            <td>{{ 'JOB.SKILL.PRIORITY.OPTIONS.'+skill.priorityLevel | uppercase | translate }}</td>
                            <td>{{ 'JOB.SKILL.LEVEL.OPTIONS.'+skill.proficiencyLevel | uppercase | translate }}</td>
                            <!--<td>{{skill.assign}}</td>-->
                          </tr>                  
                        </tbody>
                      </table>

                    
                </div> 
            </div>

            <div class="col ">
              <div class="labeljob"><h2>{{ 'JOBS.REQUIRED_EDUCATIONS' | translate }}</h2></div>
              <div>
                  <div *ngIf="jobData.educationReq.length==0">{{ 'JOBS.REQUIRED_EDUCATIONS_NOT_AVAILABLE' | translate }}</div>
                  <table *ngIf="jobData.educationReq.length>0" class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">{{ 'JOB.EDUCATION.NAME.LABEL' | translate }}</th>
                          <th scope="col">{{ 'JOB.EDUCATION.DESCRIPTION.LABEL' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let education of jobData.educationReq; let i=index">
                          <th scope="row">{{i+1}}</th>
                          <td>{{education.title}}</td>
                          <td>{{education.description}}</td>
                        </tr>                  
                      </tbody>
                    </table>

                  
              </div> 
          </div>

          <div class="col ">
            <div class="labeljob"><h2>{{ 'JOBS.REQUIRED_EXPERIENCES' | translate }}</h2></div>
            <div>
                <div *ngIf="jobData.workExperienceReq.length==0">{{ 'JOBS.REQUIRED_EXPERIENCES_NOT_AVAILABLE' | translate }}</div>
                <table *ngIf="jobData.workExperienceReq.length>0" class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ 'JOB.EXPERIENCE.NAME.LABEL' | translate }}</th>
                        <th scope="col">{{ 'JOB.EXPERIENCE.DESCRIPTION.LABEL' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let experience of jobData.workExperienceReq; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{experience.position}}</td>
                        <td>{{experience.comment}}</td>
                      </tr>                  
                    </tbody>
                  </table>

                
            </div> 
        </div>          
        </div>
    </div>
    
    <div class="col" [hidden]="!(isAdmin || isRecruiter)">
      
      <div><h2>{{ 'JOB.CANDIDATES' | translate }}</h2></div>

        <div *ngIf="jobCandidates.length==0">{{ 'JOB.NO_CANDIDATES' | translate }}</div>

        <div [hidden]="jobCandidates.length==0">
          <table mat-table [dataSource]="dataSource" matSort class="table table-striped">
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> {{ 'ACTION' | translate }} </th>
              <td mat-cell *matCellDef="let element; let i=index" style="white-space: nowrap;">

                <button class="btn btn-primary" [routerLink]="['/profiles', element.id]">
                  <i _ngcontent-axy-c0="" class="material-icons small"> details </i> {{ 'BUTTON.VIEW' | translate }}
              </button>

              <button class="btn btn-danger" (click)="deleteThisApply(jobData.id, element.id, i)">
                  <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> {{ 'BUTTON.DELETE_APPLY_JOB' | translate }}
              </button>

              </td>
            </ng-container>

            <!-- candidate surname -->
            <ng-container matColumnDef="candidateSurname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROFILES.SURNAME' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{element.candidateSurname}} </td>
            </ng-container>
            <!-- candidate name -->
            <ng-container matColumnDef="candidateName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PROFILES.NAME' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{element.candidateName}} </td>
            </ng-container>
            <!-- AVAILABLE column -->
            <ng-container matColumnDef="available">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'JOB_APPLY.AVAILABLE.TITLE' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{element.available}} </td>
            </ng-container>

            <!-- EXPECTED_SALARY column -->
            <ng-container matColumnDef="expsalary">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'JOB_APPLY.EXPECTED_SALARY.TITLE' | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{element.expsalary}} </td>
            </ng-container>
            
            <!-- SCORE column -->
            <ng-container matColumnDef="score">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'JOB_APPLY.SCORE' | translate }} </th>
              <td mat-cell *matCellDef="let element"> <!-- {{element.score}}  -->
                <div class="wrapperpiechart">
                  <canvas id="canvas_pie_chart_{{element.id}}" baseChart
                  [datasets]="[{ data: [element.score,(100-element.score)],label: 'Matching Score', backgroundColor: [
                  'rgba(30, 144, 255, 1)',
                  'rgba(0, 0, 0, 1)'
              ]}]"
                  [labels]="chartLabels"
                  [options]="chartOptions"
                  [chartType]="chartType">
                </canvas>
                </div>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
<!--
            <table *ngIf="jobCandidates.length>0" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'PROFILES.NAME' | translate }}</th>
                    <th scope="col">{{ 'JOB_APPLY.AVAILABLE.TITLE' | translate }}</th>
                    <th scope="col">{{ 'JOB_APPLY.EXPECTED_SALARY.TITLE' | translate }}</th>
                    <th scope="col">{{ 'JOB_APPLY.SCORE' | translate }}</th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let candidate of jobCandidates; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{candidate.candidateName}}</td>
                    <td>{{candidate.available}}</td>
                    <td>{{candidate.expsalary}}</td>
                    <td>{{candidate.score}}</td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['/profiles', candidate.id]">
                            <i _ngcontent-axy-c0="" class="material-icons small"> details </i> {{ 'BUTTON.VIEW' | translate }}
                        </button>

                        <button class="btn btn-danger" (click)="deleteThisApply(jobData.id, candidate.id, i)">
                            <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> {{ 'BUTTON.DELETE_APPLY_JOB' | translate }}
                        </button>
                    </td>
                  </tr>                  
                </tbody>
              </table>
-->
            
        </div>



        
    </div>

</div>