<h1 >{{ 'JOB.HEADER_TITLE' | translate }}: {{jobData.label}}</h1>

<div class="container">

    <div class="row">
<!--
          <button *ngIf="((isProfessor && jobData.creator_id==currentUser.id) || (isRecruiter && jobData.creator_id==currentUser.id) || isAdmin)" class="btn btn-primary" [routerLink]="['/jobs', jobData.id, 'edit']"></button>
-->

          <button class="btn btn-primary" *ngIf="((jobData.creator_id==currentUser.id.toString() || jobData.creator_id==':'+currentUser.id.toString()) && authservice.checkIfPermissionsExistsByUserRoles(['edit_job_post']))"
          [routerLink]="['/jobs', jobData.id, 'edit']"
          >       
            <i _ngcontent-axy-c0="" class="material-icons small"> edit </i> {{ 'BUTTON.EDIT' | translate }}
          </button>

          <span *appCanAccess="['apply_for_a_job_position']">
            <button [hidden]="!isJobApplyanceOpened" *ngIf="!userHasAnApply && currentUserHasCV" class="btn btn-primary" (click)="openApllyJobDialog(jobData.id, jobData)">
              <i _ngcontent-axy-c0="" class="material-icons small"> assignment_ind </i> {{ 'BUTTON.APPLY_JOB' | translate }}
            </button>
            <div [hidden]="!isJobApplyanceOpened" *ngIf="!currentUserHasCV" class="alert alert-danger" role="alert">
              <span [innerHTML]=" 'JOB.APPLY.NO_CV_MESSAGE' | translate "></span>
            </div>
            <div *ngIf="!isJobApplyanceOpened" class="alert alert-danger" role="alert">
              {{'JOB.APPLY.NOT_OPENED_TO_RECEIVE_APPLIES' | translate }}
            </div>
            
          </span>

          <span *ngIf="isJobApplyanceOpened">
            <button *ngIf="userHasAnApply" class="btn btn-danger" (click)="deleteThisApply(jobData.id, currentUser.id, -1)">
              <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> {{ 'BUTTON.DELETE_APPLY_JOB' | translate }}
            </button>
          </span>
      </div>
      <div class="row"><br></div>

    <div class="row">

        <div class="col col-lg-12">

            <div class="col "  *ngIf="jobData.jobDescription">
                <div><span class="labeljob">{{ 'JOB.DESCRIPTION.LABEL' | translate }}:</span> {{jobData.jobDescription}}</div> 
            </div>
            <div class="col " *ngIf="jobData.specialization">
              <div><span class="labeljob">{{ 'JOB.SPECIALIZATION' | translate }}:</span> {{jobData.specialization}}</div> 
          </div>            
            <div *ngIf="jobData.startDate" class="col ">
                <div><span class="labeljob">{{ 'JOB.SUBMISSION_START_DATE.LABEL' | translate }}:</span> {{jobData.startDate | date }}</div> 
            </div>
            <div *ngIf="jobData.endDate" class="col ">
                <div><span class="labeljob">{{ 'JOB.SUBMISSION_END_DATE.LABEL' | translate }}:</span> {{jobData.endDate | date }}</div> 
            </div>
            <div class="col " *ngIf="jobData.contractType" >
                <div><span class="labeljob">{{ 'JOB.EMPLOYMENT_TYPE.LABEL' | translate }}:</span> {{ 'JOB.EMPLOYMENT_TYPE.OPTIONS.'+jobData.contractType | uppercase | translate }}</div> 
            </div>
            <div class="col " *ngIf="jobData.seniorityLevel" >
                <div><span class="labeljob">{{ 'JOB.EMPLOYMENT_LEVEL.LABEL' | translate }}:</span> {{ 'JOB.EMPLOYMENT_LEVEL.OPTIONS.'+jobData.seniorityLevel | uppercase | translate }}</div> 
            </div>
            <div class="col " *ngIf="jobData?.hiringOrganization">
              <div><span class="labeljob">{{ 'JOB.RECRUITMENT_ORGANIZATION.LABEL' | translate }}:</span> {{ jobData?.hiringOrganization }} </div> 
            </div>
<!--
            <div class="col " *ngIf="jobData?.jobLocation">
              <div><span class="labeljob">{{ 'JOB.LOCATION.LABEL' | translate }}:</span> {{ jobData?.jobLocation }} </div> 
            </div>
-->            
            <div class="col " *ngIf="jobData?.country">
              <div><span class="labeljob">{{ 'JOB.COUNTRY.LABEL' | translate }}:</span> {{ jobData?.country }} </div> 
            </div>
            <div class="col " *ngIf="jobData?.state">
              <div><span class="labeljob">{{ 'JOB.STATE.LABEL' | translate }}:</span> {{ jobData?.state }} </div> 
            </div>
            <div class="col " *ngIf="jobData?.city">
              <div><span class="labeljob">{{ 'JOB.CITY.LABEL' | translate }}:</span> {{ jobData?.city }} </div> 
            </div>

            <div class="col ">
                <div class="labeljob"><h2>{{ 'JOBS.REQUIRED_SKILLS' | translate }}</h2></div> 
                <div class="col col-lg-12">
                  <div *ngIf="jobData.skillReq.length==0">{{ 'JOBS.REQUIRED_SKILLS_NOT_AVAILABLE' | translate }}</div>
                  <div *ngIf="jobData.skillReq.length>0" class="col col-lg-8">
                    <table class="table table-striped">
                        <thead role="rowgroup">
                          <tr class="mat-header-row cdk-header-row ng-star-inserted">
                            <th scope="col" class="mat-header-cell cdk-header-cell cdk-column-label mat-column-label ng-star-inserted">#</th>
                            <th scope="col" class="mat-header-cell cdk-header-cell cdk-column-label mat-column-label ng-star-inserted">{{ 'JOB.SKILL.NAME.LABEL' | translate }}</th>
                            <th scope="col" class="mat-header-cell cdk-header-cell cdk-column-label mat-column-label ng-star-inserted">{{ 'JOB.SKILL.PRIORITY.LABEL' | translate }}</th>
                            <th scope="col" class="mat-header-cell cdk-header-cell cdk-column-label mat-column-label ng-star-inserted">{{ 'JOB.SKILL.LEVEL.LABEL' | translate }}</th>
                            <!--<th scope="col">{{ 'JOB.SKILL.ASSIGN.LABEL' | translate }}</th>-->
                          </tr>
                        </thead>
                        <tbody role="rowgroup">
                          <tr *ngFor="let skill of jobData.skillReq; let i=index" class="mat-row cdk-row ng-star-inserted" >
                            <td role="gridcell" class="mat-cell cdk-cell cdk-column-label mat-column-label ng-star-inserted">{{i+1}}</td>
                            <td role="gridcell" class="mat-cell cdk-cell cdk-column-label mat-column-label ng-star-inserted">
                              <span *ngIf="(skill.translations[currentLang])">{{skill.translations[currentLang]}}</span>
                              <span *ngIf="!(skill.translations[currentLang])">{{skill.label}}</span>
                            </td>
                            <td role="gridcell" class="mat-cell cdk-cell cdk-column-label mat-column-label ng-star-inserted"><span *ngIf="skill.priorityLevel">{{ 'JOB.SKILL.PRIORITY.OPTIONS.'+skill.priorityLevel | uppercase | translate }}</span></td>
                            <td role="gridcell" class="mat-cell cdk-cell cdk-column-label mat-column-label ng-star-inserted"><span *ngIf="skill.proficiencyLevel">{{ 'JOB.SKILL.LEVEL.OPTIONS.'+skill.proficiencyLevel | uppercase | translate }}</span></td>
                            <!--<td>{{skill.assign}}</td>-->
                          </tr>                  
                        </tbody>
                    </table>
                  </div>  
                  <div *ngIf="jobData.skillReq.length>0 && !isRecruiter" class="col col-lg-4">
                    <app-visualisations-user-skills-job-skills-chart [userId]="currentUser.id" [jobId]="jobData.id"></app-visualisations-user-skills-job-skills-chart>
                  </div>
                    
                </div> 
            </div>
            <br>
            <div class="col ">
              <div class="labeljob"><h2>{{ 'JOBS.REQUIRED_EDUCATIONS' | translate }}</h2></div>
              <div class="col col-lg-12">
                  <div *ngIf="jobData.educationReq.length==0">{{ 'JOBS.REQUIRED_EDUCATIONS_NOT_AVAILABLE' | translate }}</div>
                  <div *ngIf="jobData.educationReq.length>0" class="col col-lg-12">
                    <table class="table table-striped">
                      <thead role="rowgroup">
                        <tr class="mat-header-row cdk-header-row ng-star-inserted">
                          <th scope="col" class="mat-header-cell cdk-header-cell cdk-column-label mat-column-label ng-star-inserted">#</th>
                          <th scope="col" class="mat-header-cell cdk-header-cell cdk-column-label mat-column-label ng-star-inserted">{{ 'JOB.EDUCATION.NAME.LABEL' | translate }}</th>
                          <th scope="col" class="mat-header-cell cdk-header-cell cdk-column-label mat-column-label ng-star-inserted">{{ 'JOB.EDUCATION.DESCRIPTION.LABEL' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody role="rowgroup">
                        <tr *ngFor="let education of jobData.educationReq; let i=index" class="mat-row cdk-row ng-star-inserted" >
                          <td role="gridcell" class="mat-cell cdk-cell cdk-column-label mat-column-label ng-star-inserted">{{i+1}}</td>
                          <td role="gridcell" class="mat-cell cdk-cell cdk-column-label mat-column-label ng-star-inserted">{{education.label}}</td>
                          <td role="gridcell" class="mat-cell cdk-cell cdk-column-label mat-column-label ng-star-inserted">{{education.description}}</td>
                        </tr>                  
                      </tbody>
                    </table>
                  </div>
                  
              </div> 
          </div>
          <br>
          <div class="col ">
            <div class="labeljob"><h2>{{ 'JOBS.REQUIRED_EXPERIENCE' | translate }}</h2></div>
            <div class="col col-lg-12">
                <div *ngIf="jobData.workExperienceReq.length==0">{{ 'JOBS.REQUIRED_EXPERIENCES_NOT_AVAILABLE' | translate }}</div>
                <div *ngIf="jobData.workExperienceReq.length>0" class="col col-lg-12">
                  <table class="table table-striped">
                    <thead role="rowgroup">
                      <tr class="mat-header-row cdk-header-row ng-star-inserted">
                        <th scope="col" class="mat-header-cell cdk-header-cell cdk-column-label mat-column-label ng-star-inserted">#</th>
                        <th scope="col" class="mat-header-cell cdk-header-cell cdk-column-label mat-column-label ng-star-inserted">{{ 'JOB.EXPERIENCE.NAME.LABEL' | translate }}</th>
                        <th scope="col" class="mat-header-cell cdk-header-cell cdk-column-label mat-column-label ng-star-inserted">{{ 'JOB.EXPERIENCE.DESCRIPTION.LABEL' | translate }}</th>
                        <th scope="col" class="mat-header-cell cdk-header-cell cdk-column-label mat-column-label ng-star-inserted">{{ 'JOB.EXPERIENCE.DURATION.LABEL' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody role="rowgroup">
                      <tr *ngFor="let experience of jobData.workExperienceReq; let i=index" class="mat-row cdk-row ng-star-inserted" >
                        <td role="gridcell" class="mat-cell cdk-cell cdk-column-label mat-column-label ng-star-inserted">{{i+1}}</td>
                        <td role="gridcell" class="mat-cell cdk-cell cdk-column-label mat-column-label ng-star-inserted">{{experience.position}}</td>
                        <td role="gridcell" class="mat-cell cdk-cell cdk-column-label mat-column-label ng-star-inserted">{{experience.comment}}</td>
                        <td role="gridcell" class="mat-cell cdk-cell cdk-column-label mat-column-label ng-star-inserted">{{experience.duration}}</td>
                      </tr>                  
                    </tbody>
                  </table>
                </div> 
                
              
                
            </div> 
        </div>          
        </div>
    </div>
    
    <!--     
    <div class="col" [hidden]="!(isAdmin || isRecruiter)">
    -->        
    <div class="row" [hidden]="((jobData.creator_id!=currentUser.id.toString()) && (jobData.creator_id!=':'+currentUser.id.toString())) && !isAdmin" *appCanAccess="['view_recruitment']">      
      <div class="col col-lg-12 ">
        <app-qc-job-candidates-management [jobId]="jobData.id"  [reload]="cntReloads"></app-qc-job-candidates-management>
      </div>
    </div>

</div>