<h1 mat-dialog-title>{{ 'AWARD_SMART_BADGE.SELECTED_BADGES' | translate }} - {{userDataRec.userName}}</h1>

<mat-dialog-content class="mat-typography">

      <div *ngFor="let itemBadgeData of listOfSmartAwards; let i = index" class="alert alert-sm alert-info">

        <div class="row">
          <div class="col col-lg-12">
            <img style="width:30px" *ngIf="itemBadgeData.imageurl" [src]="itemBadgeData.imageurl">
            <h2>{{itemBadgeData.name}}</h2><br/>
            <p>
              <span *ngIf="itemBadgeData.status">Status: {{itemBadgeData.status}} <br/></span>
              Description: {{itemBadgeData.description}}<br/>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col col-lg-5">
            
          </div>
          <div class="col col-lg-3">
            <mat-spinner diameter="20" color="warn" *ngIf="lodingspinnerid==itemBadgeData.id"></mat-spinner>

            <button *ngIf="(itemBadgeData.status=='issued') && lodingspinnerid!=itemBadgeData.id" (click)="updateSmartAwardStatusOU(itemBadgeData.id, i, itemBadgeData, 'delete')" type="button" class="btn btn-danger">
              <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> {{ 'AWARD_SMART_BADGE.BUTTON.REVOKE_AWARD' | translate }}
            </button>
          </div>
          <div class="col col-lg-3">
            <button *ngIf="!itemBadgeData.assigned && lodingspinnerid!=itemBadgeData.id && itemBadgeData.status!='revoked' && itemBadgeData.status!='issued'" (click)="updateSmartAwardStatusOU(itemBadgeData.id, i, itemBadgeData, 'add')" type="button" class="btn btn-primary">
              <i _ngcontent-axy-c0="" class="material-icons small">  emoji_events  </i> {{ 'AWARD_SMART_BADGE.BUTTON.ASSIGN_AWARD' | translate }}
            </button>

            <button *ngIf="itemBadgeData.assigned && itemBadgeData.status=='pending' && lodingspinnerid!=itemBadgeData.id" (click)="updateSmartAwardStatusOU(itemBadgeData.id, i, itemBadgeData, 'validate')" type="button" class="btn btn-primary">
              <i _ngcontent-axy-c0="" class="material-icons small">  emoji_events  </i> {{ 'AWARD_SMART_BADGE.BUTTON.VALIDATE_AWARD' | translate }}
            </button>

            <button *ngIf="itemBadgeData.status=='revoked' && lodingspinnerid!=itemBadgeData.id" (click)="updateSmartAwardStatusOU(itemBadgeData.id, i, itemBadgeData, 'validate')" type="button" class="btn btn-primary">
              <i _ngcontent-axy-c0="" class="material-icons small">  emoji_events  </i> {{ 'AWARD_SMART_BADGE.BUTTON.VALIDATE_AWARD' | translate }}
            </button>

          </div>

        </div>
       
        
      </div>


<!-- 

<div *ngFor="let item of listOfSmartAwards; let i = index" 
      class="alert alert-sm alert-info"        
      [ngClass]="{'selected': listOfSmartBadgesByUser.indexOf(item.id)!==-1}"     
      >            
      <a href="javascript:;" (click)="onSelectItemModalWindow(item)">
        <span *ngIf="listOfSmartBadgesByUser.indexOf(item.id)===-1"><i _ngcontent-axy-c0="" class="material-icons"> check_box_outline_blank </i></span>
        <span *ngIf="listOfSmartBadgesByUser.indexOf(item.id)!==-1"><i _ngcontent-axy-c0="" class="material-icons"> check_box </i></span>
        {{item.name}}
      </a>
      <br/>
      <br/>
      Issuer: {{item.issuer}} <br/>
      Description: {{item.description}}     
        
</div>  
-->

</mat-dialog-content>
<mat-dialog-actions align="end">
    <!--
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
    -->
    <div class="modal-footer">
      
      <button class="btn btn-primary" (click)="openCreateAwardDialogInModal()">
        <i _ngcontent-axy-c0="" class="material-icons"> add </i> {{ 'AWARD_SMART_BADGE.CREATE_BADGE' | translate }}
      </button>
      
      <!--
      <button (click)="onSubmitAwardsModal()" type="button" class="btn btn-success" id="saveAwardModal">
        <i _ngcontent-axy-c0="" class="material-icons"> save </i> {{ 'BUTTON.SAVE' | translate }}
      </button>
      -->
      <button type="button" class="btn btn-danger" [mat-dialog-close]="true" id="closeAwardModalWindow">
        <i _ngcontent-axy-c0="" class="material-icons"> close </i> {{ 'BUTTON.CLOSE' | translate }}
      </button>
<!-- 
        <button type="button" class="btn btn-success" id="saveAwardModal" mat-button (click)="onSubmitAwardsModal()">{{ 'BUTTON.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" id="closeAwardModalWindow" mat-button [mat-dialog-close]="true" >{{ 'BUTTON.CANCEL' | translate }}</button>
-->

    </div>

</mat-dialog-actions>