<h1 mat-dialog-title>{{ 'AWARD_SMART_BADGE.CREATE_BADGE' | translate }}</h1>
<div mat-dialog-content>
    
    <div *ngIf="showErrorMessage" class="alert alert-danger">
        {{errorMessage}}
    </div>
    <form #formAddAward="ngForm" class="create-award-form" (ngSubmit)="onSubmitCreateNewAwardsModal()">

        <h2 class="mat-dialog-title">{{ 'BADGES.BADGE.BADGE_MAIN_DATA' | translate }}</h2>

        <!-- badge type -->
        <mat-form-field class="create-award-full-width">
            <mat-label>{{ 'BADGES_TYPES.LABEL' | translate }}</mat-label>
            <mat-select [(ngModel)]="smartBadgeType" name="smartBadgeType" value="smartBadgeType" required ngDefaultControl>
                <mat-option *ngFor="let type of smartBadgesTypes" [value]="type.value">
                  {{'BADGES_TYPES.OPTIONS.'+type.viewValue.toUpperCase() | translate}}
                </mat-option>
              </mat-select>
        </mat-form-field>  

        <!-- badge title -->
        <mat-form-field class="create-award-full-width">
            <mat-label>{{ 'BADGES.BADGE.TITLE.LABEL' | translate }}</mat-label>
            <input matInput required [(ngModel)]="badgetitle" name="badgetitle" value="badgetitle" placeholder="{{ 'BADGES.BADGE.TITLE.PLACEHOLDER' | translate }}">
        </mat-form-field>        

        <!-- badge description -->
        <mat-form-field class="create-award-full-width">
            <mat-label>{{ 'BADGES.BADGE.DESCRIPTION.LABEL' | translate }}</mat-label>
            <textarea matInput required [(ngModel)]="badgedescription" name="badgedescription" value="badgedescription" placeholder="{{ 'BADGES.BADGE.DESCRIPTION.LABEL' | translate }}"></textarea>
        </mat-form-field>

        <!-- badge skills -->
        <mat-form-field class="create-award-full-width">
            <mat-label>{{ 'BADGES.BADGE.SKILLS.LABEL' | translate }}</mat-label>
            <input matInput [(ngModel)]="badgeskills" name="badgeskills" value="badgeskills" placeholder="{{ 'BADGES.BADGE.SKILLS.PLACEHOLDER' | translate }}">
        </mat-form-field>

        <!-- badge version -->
        <mat-form-field class="create-award-full-width">
            <mat-label>{{ 'BADGES.BADGE.VERSION.LABEL' | translate }}</mat-label>
            <input matInput required [(ngModel)]="badgeversion" name="badgeversion" value="badgeversion" placeholder="{{ 'BADGES.BADGE.VERSION.PLACEHOLDER' | translate }}">
        </mat-form-field>

        <!-- badge imageurl -->
        <mat-form-field class="create-award-full-width">
            <mat-label>{{ 'BADGES.BADGE.IMAGEURL.LABEL' | translate }}</mat-label>
            <input matInput required 
            type="url" [pattern]="myreg"
            [(ngModel)]="badgeimageurl" name="badgeimageurl" value="badgeimageurl" placeholder="{{ 'BADGES.BADGE.IMAGEURL.PLACEHOLDER' | translate }}">
            
        </mat-form-field>        
        <img *ngIf="badgeimageurl" [src]="badgeimageurl">
        

        <h2 class="mat-dialog-title">{{ 'BADGES.BADGE.ISSUER.ISSUER_MAIN_DATA' | translate }}</h2>

        <!-- badge issuer issuername -->
        <mat-form-field class="create-award-full-width">
            <mat-label>{{ 'BADGES.BADGE.ISSUER.ISSUER_NAME.LABEL' | translate }}</mat-label>
            <input matInput required [(ngModel)]="badgeissuername" name="badgeissuername" value="badgeissuername" placeholder="{{ 'BADGES.BADGE.ISSUER.ISSUER_NAME.PLACEHOLDER' | translate }}">
        </mat-form-field>        
        <!-- badge issuer issuerurl -->
        <mat-form-field class="create-award-full-width">
            <mat-label>{{ 'BADGES.BADGE.ISSUER.ISSUER_URL.LABEL' | translate }}</mat-label>
            <input matInput 
            type="url" [pattern]="myreg"
            [(ngModel)]="badgeissuerurl" name="badgeissuerurl" value="badgeissuerurl" placeholder="{{ 'BADGES.BADGE.ISSUER.ISSUER_URL.PLACEHOLDER' | translate }}">

        </mat-form-field>
        <!-- badge issuer issueremail -->
        <mat-form-field class="create-award-full-width">
            <mat-label>{{ 'BADGES.BADGE.ISSUER.ISSUER_EMAIL.LABEL' | translate }}</mat-label>
            <input matInput
            type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [(ngModel)]="badgeissueremail" name="badgeissueremail" value="badgeissueremail" placeholder="{{ 'BADGES.BADGE.ISSUER.ISSUER_EMAIL.PLACEHOLDER' | translate }}">

        </mat-form-field>
        <!-- badge issuer issuertelephone -->
        <mat-form-field class="create-award-full-width">
            <mat-label>{{ 'BADGES.BADGE.ISSUER.ISSUER_TELEPHONE.LABEL' | translate }}</mat-label>
            <input matInput [(ngModel)]="badgeissuertelephone" name="badgeissuertelephone" value="badgeissuertelephone" placeholder="{{ 'BADGES.BADGE.ISSUER.ISSUER_TELEPHONE.PLACEHOLDER' | translate }}">
        </mat-form-field>
        <!-- badge issuer issuerdescription -->
        <mat-form-field class="create-award-full-width">
            <mat-label>{{ 'BADGES.BADGE.ISSUER.ISSUER_DESCRIPTION.LABEL' | translate }}</mat-label>
            <textarea matInput required [(ngModel)]="badgeissuerdescription" name="badgeissuerdescription" value="badgeissuerdescription" placeholder="{{ 'BADGES.BADGE.ISSUER.ISSUER_DESCRIPTION.LABEL' | translate }}"></textarea>
        </mat-form-field>
        <!-- badge issuer issuerimageurl -->
        <mat-form-field class="create-award-full-width">
            <mat-label>{{ 'BADGES.BADGE.ISSUER.ISSUER_IMAGE_URL.LABEL' | translate }}</mat-label>
            <input matInput 
            type="url" [pattern]="myreg"
            [(ngModel)]="badgeissuerimageurl" name="badgeissuerimageurl" value="badgeissuerimageurl" placeholder="{{ 'BADGES.BADGE.ISSUER.ISSUER_IMAGE_URL.PLACEHOLDER' | translate }}">

        </mat-form-field>
        <img *ngIf="badgeissuerimageurl" [src]="badgeissuerimageurl">

    </form>

</div>
<mat-dialog-actions align="end">
    <!--
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
    -->
    <div class="modal-footer">

        <button (click)="onSubmitCreateNewAwardsModal()" type="button" class="btn btn-success" [disabled]="formAddAward.invalid" id="saveCreateAwardModal">
            <i _ngcontent-axy-c0="" class="material-icons"> save </i> {{ 'BUTTON.SAVE' | translate }}
        </button>
    
        <button type="button" class="btn btn-danger" [mat-dialog-close]="true" id="closeCreateAwardModalWindow">
            <i _ngcontent-axy-c0="" class="material-icons"> cancel </i> {{ 'BUTTON.CANCEL' | translate }}
        </button>

<!-- 
        <button type="button" [disabled]="!badgelabel" class="btn btn-success" id="saveCreateAwardModal" mat-button (click)="onSubmitCreateAwardsModal()">{{ 'BUTTON.SAVE' | translate }}</button>
        <button type="button" class="btn btn-danger" id="closeCreateAwardModalWindow" mat-button [mat-dialog-close]="true" >{{ 'BUTTON.CLOSE' | translate }}</button>
-->
    </div>

</mat-dialog-actions>
