<h1>{{ 'RECOMENDED_COURSES.TITLE' | translate }}</h1>
<div class="row">
    <div *ngIf="dataSource.data.length==0">
        {{ 'RECOMENDED_COURSES.NO_DATA' | translate }} 
    </div>

    <div [hidden]="!dataSource.data.length" >  
        <div >
            <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'FILTER' | translate }}">
            </mat-form-field>
        </div>

        <div >  
            <table  mat-table [dataSource]="dataSource" matSort class="table">
            <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
                    <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> {{ 'ACTION' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/courses',element.course_id]" class="btn btn-primary small">
                            <i _ngcontent-axy-c0="" class="material-icons small"> details </i> {{ 'BUTTON.VIEW' | translate }}
                        </a>
                    </td>
                    </ng-container>
        
            <!-- Label Column -->
            <ng-container matColumnDef="course_title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COURSE.NAME.LABEL' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.course_title}} </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="course_decription">
                <th mat-header-cell *matHeaderCellDef > {{ 'COURSE.DESCRIPTION.LABEL' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.course_decription}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        
            <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>  
    </div>
</div>
