<mat-expansion-panel  [expanded]="recomendedCourses.length>0 ? true : false">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ 'RECOMENDED_COURSES.TITLE' | translate }}</mat-panel-title>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>

  <div *ngIf="recomendedCourses.length==0">{{ 'RECOMENDED_COURSES.NO_DATA' | translate }} </div>

  <mat-accordion *ngIf="recomendedCourses.length>=0" activeIds="course-0">
    <mat-expansion-panel  id="course-{{i}}" *ngFor="let course of recomendedCourses | slice:0:5; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{course.course_title}}
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <div class="course-card">                    
        <div class="course-card-body">                      
          <div class="course-card-text">
            {{course?.data?.description}}
            <br/>
            <!--{{ 'RECOMENDED_COURSE.MATCH' | translate }}:-->
          </div>
          
         <!--
                    <div class="progress" >
                      <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%':course.rating}" attr.aria-valuenow="{{course.rating}}"  aria-valuemin="0" aria-valuemax="100">{{course.rating}}%</div>
                    </div>
                    -->

          <br/>
          <button class="btn btn-primary" [routerLink]="['/courses', course.course_id]">
            <i _ngcontent-axy-c0="" class="material-icons small"> details </i> {{ 'BUTTON.VIEW' | translate }}
          </button>

        </div>
    </div>


    </mat-expansion-panel>
    
  </mat-accordion>


  <div *ngIf="recomendedCourses.length>5" class="col-lg-8">
    <br>
    <a [routerLink]="['/profiles',userId,'recomended','courses']" class="btn btn-primary">{{ 'BUTTON.VIEW_MORE' | translate }}</a>
  </div>

</mat-expansion-panel>