<ngx-loading-bar color="#21a959"></ngx-loading-bar>
<!-- header -->
<app-header></app-header>

<div id="content" role="main">
	<div class="container">
		<div class="row">

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="edit-link"></div>
				<div class="clearfix"></div>
					<!--
					<a [routerLink]="" (click)="trackEvent('Matomo', 'link test', null, null)">Matomo Test</a>
					-->
					<!-- routes will be rendered here -->		
					<router-outlet *ngIf="!loadSpinner"></router-outlet>
					<app-qc-spinner *ngIf="loadSpinner"></app-qc-spinner>
					
		    	<div class="entry-links"></div>
			</div>		

			
        </div>
	</div>
</div>			

<!-- footer -->
<app-footer></app-footer>
