
<div id="socialbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centered">
                    <a href="https://twitter.com/QualiChain" class="noborder" title="QualiChain on Twitter" target="_blank"><i class="icon ion-social-twitter-outline"></i></a> <a href="https://www.facebook.com/QualiChain" class="noborder" title="QualiChain on Facebook" target="_blank"><i class="icon ion-social-facebook-outline"></i></a> <a href="https://www.linkedin.com/company/QualiChain" class="noborder" title="QualiChain on LinkedIn" target="_blank"><i class="icon ion-social-linkedin-outline"></i></a> <a href="https://qualichain-project.eu/newsletter/" class="noborder green-tooltip" data-toggle="tooltip" data-placement="bottom" title="Sign up for the QualiChain Newsletter" target="_blank"><i class="icon ion-email"></i><!--<span class="desktop"> Subscribe to our newsletter</span>--></a>
                </div>
            </div>
        </div>
    </div>
    
<!-- footer -->	
        <div id="footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <!-- 
                        <p><a href="https://qualichain-project.eu/#contact" data-toggle="modal" data-target="#contact" title="Contact Us">Contact</a></p>
                        -->   
                        <!--
                        <p><a href="https://qualichain-project.eu/privacy-policy/" title="View the privacy policy">Privacy Policy</a></p>
                        -->
                        <p><a routerLink="/terms-of-use" title="{{ 'TERMS_OF_USE.FOOTER_LINK' | translate}}">{{ 'TERMS_OF_USE.FOOTER_LINK' | translate}}</a></p>                        
                        <div class="clearfix margin-bottom-20"></div>
                        <!--
                        <h3>Website Developed By</h3>
                        <a href="https://atos.net/en/" title="Atos" class="noborder" target="_blank"><img src="assets/img/atos-logo.png" class="ou" alt="Atos Logo" scale="0"></a> 
                        -->                        
                        <!--
                        <a href="http://www.open.ac.uk/" title="The Open University" class="noborder" target="_blank"><img src="assets/img/ou-logo.png" class="ou" alt="The Open University Logo" scale="0"></a> 
                        <a href="http://kmi.open.ac.uk/" title="Knowledge Media Institute" class="noborder" target="_blank"><img src="assets/img/kmi-logo.png" class="kmi" alt="Knowledge Media Institute Logo" scale="0"></a>
                        -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <p><a href="https://ec.europa.eu/commission/index_en" title="European Commission" class="alignright noborder"><img src="assets/img/european-commission-colour.jpg" height="100" alt="European Commission Logo" scale="0"></a></p>
                        <div class="clearfix"></div>
                        <p class="alignright"><small>This project has received funding from the<br>European Union's Horizon 2020 research<br>and innovation programme under grant<br>agreement No 822404.</small></p>
                    </div>
                </div>
            </div>
        </div>
