<h1 >{{ 'SKILL.TITLE' | translate }}: {{skillData.name}}</h1>

<div class="container">
    <!--
    <div class="row" *ngIf="isAdmin || isProfessor">
      <button class="btn btn-primary" [routerLink]="['/skills', skillData.id, 'edit']">
        <i _ngcontent-axy-c0="" class="material-icons small"> edit </i> {{ 'BUTTON.EDIT' | translate }}
      </button>          
    </div>
    -->

    <div class="row"><br></div>

    <div class="row">

      <div class="col col-lg-12">
          <div class="col ">
              <div><span class="labelskill">{{ 'SKILL.TYPE.LABEL' | translate }}:</span> {{skillData.type}}</div> 
          </div>
          <div class="col ">
            <div><span class="labelskill">{{ 'SKILL.HARD_SKILL.LABEL' | translate }}:</span> {{skillData.hard_skill}}</div> 
          </div>

      </div>
    </div>
    

</div>