  <div class="upladfilesdnd">

    <h1>Upload files</h1>
    <div *ngIf="validFiles.length>0">
      <p>
        Allowed types:
        <span *ngFor="let validFile of validFiles; let i = index"> {{validFile}}<span *ngIf="validFiles.length>1 && i<validFiles.length-1">,</span> </span>
      </p>
    </div>
    <div *ngIf="maxNumberOfFiles">
      <p>
        You can upload {{maxNumberOfFiles}} <span *ngIf="maxNumberOfFiles==1">file</span><span *ngIf="maxNumberOfFiles>1">files</span>.
      </p>
    </div>

    <div *ngIf="tooMuchFiles" class="errormessage">Too much files, you can only upload {{maxNumberOfFiles}} files.</div>
    <div *ngIf="((files.length<maxNumberOfFiles) || maxNumberOfFiles==null)" class="containerdnd" appDnd (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
        <!-- 
        <img class="uploadclass" src="assets/img/dnd/ic-upload-file.svg" alt="" id="20px">
        -->    
        <i _ngcontent-axy-c0="" class="material-icons"> cloud_upload </i>
        <h3>Drag and drop file here</h3>
        <h3>or</h3>
        <label for="fileDropRef">Browse for file</label>
    </div>
    
    <div class="files-list">
        <div class="single-file" [ngClass]="{'validfile': file.validfile === true, 'invalidfile': file.validfile === false }" *ngFor="let file of files; let i = index">
          <!--
          <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">
          -->
          <div class="row">
            <div class="col col-lg-12">
              <!--
              --{{file | json}}--
              -->
              <app-progress *ngIf="file?.validfile==true && file?.error===false" [progress]="file?.progress"></app-progress>
              <div *ngIf="file?.error===true"><h4 class="errormessage">Error loading file</h4></div>
              <div *ngIf="file?.validfile===false"><h4 class="errormessage">This file is not valid to be uploaded</h4></div>
              <br/>
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-10">
                <i _ngcontent-axy-c0="" class="material-icons" > description </i>
                <div class="info">
                    <h4 class="name">{{ file?.name }}</h4>
                    <p class="size">{{ 'FILE.SIZE' | translate }}: {{ formatBytes(file?.size) }} {{ 'FILE.TYPE' | translate }}: {{file.type}}</p>
                    <p><img [src]="imgURL[i]" id="preloadImg" *ngIf="imgURL[i]"></p>
                </div>
            </div>
    
            <div class="col col-lg-2">
                <button type="button" class="btn btn-danger" (click)="deleteFile(i)">
                    <i *ngIf="file.uploaded==false" _ngcontent-axy-c0="" class="material-icons" > delete_forever </i>
                    <i *ngIf="file.uploaded==true" _ngcontent-axy-c0="" class="material-icons" > cloud_off </i>
                </button>

            </div> 
            
          </div>
          
          <!-- 
            <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
          -->
          
        </div>
    </div>

    <button type="button" class="btn btn-primary" [disabled]="( (files | FilterArrayByValue : 'uploaded' : 'false') == 0 || (files | FilterArrayByValue : 'validfile' : 'true') == 0 )" (click)="uploadFilesToServer()">
      <i _ngcontent-axy-c0="" class="material-icons"> cloud_upload </i> Upload pending files
    </button>

  </div>

