<h1 >{{ 'MCDSS.TITLE' | translate }}</h1>

<div [hidden]="!displayError" class="container">
    <div class="row1">
        <div class="help is-error alert alert-danger" >
            {{errorMessage}}
        </div>
    </div>
    <br>
</div>



<div [hidden]="!displayResults" class="container">


        <div class="col col-lg-12">
            <button *ngIf="!viewCompare" class="btn btn-primary" (click)="displayResults=false; viewCompare=false; this.selection.clear()">
                <i _ngcontent-axy-c0="" class="material-icons small">  arrow_back  </i> {{ 'BUTTON.BACK' | translate}}
            </button>

            <button *ngIf="viewCompare" class="btn btn-primary" (click)="viewCompare=false;">
                <i _ngcontent-axy-c0="" class="material-icons small">  arrow_back  </i> {{ 'BUTTON.BACK' | translate}}
            </button>

            <button *ngIf="!byFile && !viewCompare" 
            [hidden]="electredSelected"
            [disabled]="(selection.selected.length!=2)"
            class="btn btn-info" (click)="compareSelection()">
                <i _ngcontent-axy-c0="" class="material-icons small"> compare </i>  {{ 'MCDSS.BUTTON.COMPARE' | translate }}
            </button>
        </div>



        <div class="row1 result-mcdss">              

            <div class="col col-lg-12 ">
                <br>
                <span *ngIf="!viewCompare" class="resultsTitle">{{ 'MCDSS.RESULTS.TITLE' | translate }}</span>
                <span *ngIf="viewCompare" class="resultsTitle">{{ 'MCDSS.COMPARE.TITLE' | translate }}</span>
            </div>

            <div [hidden]="!viewCompare" class="col col-lg-12">
                <div class="col containercompare">
                        <div class="col col-lg-5 compare-results-align-right">
                            <div class="rowCompareCandidate candidateHeader candidateBorder"><span>{{dataToCompare[0]?.AlternativeName}}&nbsp;</span></div>
                            <div class="candidateBody candidateBorder">
                                <div class="rowCompareCandidate" *ngFor="let value of dataToCompare[0]?.Criterias; let i = index">
                                    <span>
                                        <div class="progress" >
                                            <div class="progress-bar" 
                                            [ngClass]="{
                                                'lowerbar': (value<dataToCompare[1]?.Criterias[i])                                                
                                                }"
                                            role="progressbar" style="display: block; float: right;" [ngStyle]="{'width.%':((100*value)/dataToCompare[0]?.maxCriterias[i])}" attr.aria-valuenow="{{value}}"  aria-valuemin="0" aria-valuemax="100">{{value}}</div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="rowCompareCandidate candidateBorder"><span 
                                [ngClass]="{
                                    'lower': (dataToCompare[0]?.Score<dataToCompare[1]?.Score),
                                    'higher': (dataToCompare[0]?.Score>dataToCompare[1]?.Score)
                                    }"
                                >{{dataToCompare[0]?.Score}}</span><span> :{{ 'MCDSS.COMPARE.FINAL_SCORE' | translate }}&nbsp;</span></div>
                        </div>
                        <div class="col col-lg-2 compare-results-align-center">
                            <div class="rowCompareCandidate candidateHeader candidateBorder"><span>Vs.</span></div>
                            <div class="candidateBody">
                                <div class="rowCompareCandidate" *ngFor="let criteria of dataToPost?.Decision_Matrix?.Criteria; let i = index">
                                    <span>{{criteria}}</span>
                                </div>
                            </div>
                            <div class="rowCompareCandidate"></div>
                        </div>
                        <div class="col col-lg-5 compare-results-align-left">
                            <div class="rowCompareCandidate candidateHeader candidateBorder"><span>&nbsp;{{dataToCompare[1]?.AlternativeName}}</span></div>
                            <div class="candidateBody candidateBorder">
                                <div class="rowCompareCandidate" *ngFor="let value of dataToCompare[1]?.Criterias; let i = index">
                                    <span>
                                        <div class="progress" >
                                            <div class="progress-bar" 
                                            [ngClass]="{
                                                'lowerbar': (value<dataToCompare[0]?.Criterias[i])                                                
                                                }"
                                            role="progressbar" [ngStyle]="{'width.%':((100*value)/dataToCompare[1]?.maxCriterias[i])}" attr.aria-valuenow="{{value}}"  aria-valuemin="0" aria-valuemax="100">{{value}}</div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="rowCompareCandidate candidateBorder"><span>&nbsp;{{ 'MCDSS.COMPARE.FINAL_SCORE' | translate }}: </span><span 
                                [ngClass]="{
                                    'lower': (dataToCompare[1]?.Score<dataToCompare[0]?.Score),
                                    'higher': (dataToCompare[1]?.Score>dataToCompare[0]?.Score)
                                    }"
                                >{{dataToCompare[1]?.Score}}</span></div>
                        </div>
                </div>
                

            </div>
            <div class="col col-lg-12" [hidden]="viewCompare">
                
                                
                <table [hidden]="!electredSelected"  mat-table [dataSource]="dataSourceElectre" matSort class="table table-striped">

                    <!-- Alternative Column -->
                    <ng-container matColumnDef="{{column}}"  *ngFor="let column of displayedColumnsElectre ; let index = index">
                        <th mat-header-cell *matHeaderCellDef > {{column}} </th>
                        <td mat-cell *matCellDef="let element">{{element[column]}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsElectre"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsElectre;"></tr>
                </table>

                <table [hidden]="electredSelected" mat-table [dataSource]="dataSource" matSort class="table table-striped">

 
                    <!-- Checkbox Column -->  
                    <ng-container matColumnDef="checked">  
                        <th mat-header-cell *matHeaderCellDef style="width: 10px;">  </th>
                        <!--
                        <th style="width: 100px;" mat-header-cell *matHeaderCellDef>  
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() " [indeterminate]="selection.hasValue() "></mat-checkbox>  
                        </th>  
                        -->
                        <td mat-cell *matCellDef="let row">  
                            <mat-checkbox 
                            *ngIf="!byFile"
                            #checkBox      
                            [value]="row"         
                            [disabled]="((!selection.isSelected(row)) && (selection.selected.length==2))"
                            (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"  
                            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"></mat-checkbox>  
                        </td>  
                    </ng-container>  

                    <!-- Alternative Column -->
                    <ng-container matColumnDef="Alternative">
                    <th mat-header-cell *matHeaderCellDef > {{ 'MCDSS.RESULTS.ALTERNATIVE' | translate }} </th>
                    <td mat-cell *matCellDef="let element">                         
                        {{element.Alternative}} 
                    </td>
                    </ng-container>
                
                    <!-- Ranking Column -->
                    <ng-container matColumnDef="Ranking">
                    <th mat-header-cell *matHeaderCellDef > {{ 'MCDSS.RESULTS.RANKING' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.Ranking}} </td>
                    </ng-container>
                
                    <!-- Score Column -->
                    <ng-container matColumnDef="Score">
                    <th mat-header-cell *matHeaderCellDef > {{ 'MCDSS.RESULTS.SCORE' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{element.Score}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>


            </div>

            <br>
            <div  class="col col-lg-12">
                <div>{{ 'MCDSS.METHOD.TITLE' | translate }}: 
                    <span *ngIf="!byFile">{{methodsTranslator[selectedMethod]}}</span>
                    <span *ngIf="byFile">{{methodsTranslator[selectedMethodFiles]}}</span>
                </div>
                <div [hidden]="byFile" *ngFor="let criteria of dataToPost?.Decision_Matrix?.Criteria; let i = index">{{ 'MCDSS.CRITERIAL.NAME.LABEL' | translate }}: {{criteria}} - {{ 'MCDSS.CRITERIAL.WEIGHT.LABEL' | translate }}: {{dataToPost?.Criteria_Details?.Weights[i]}}</div>
                <br>
            </div>

        </div>
    
</div>


<div [hidden]="displayResults" class="container">
    <div class="row">
        <mat-tab-group>
            <mat-tab label="{{ 'MCDSS.TAB.MANUAL' | translate }}">
                <br>    
                
                <div class="row1">
                    <div class="col col-lg-12">
                        <button class="btn btn-primary" (click)="addFormGroupItem($event, 'criteria', '')">
                            <i _ngcontent-axy-c0="" class="material-icons small"> add </i> {{ 'MCDSS.BUTTON.ADD_CRITERIA' | translate }}
                        </button>
                
                        <button [disabled]="t.controls.length==0" class="btn btn-primary" (click)="addFormGroupItem($event, 'alternative', '')">
                            <i _ngcontent-axy-c0="" class="material-icons small"> add </i> {{ 'MCDSS.BUTTON.ADD_ALTERNATIVE' | translate }}
                        </button>
                
                        <button [disabled]="selectedMethod=='' || t.controls.length==0 || alternative.controls.length<=1 || t.status=='INVALID' || alternative.status=='INVALID'" class="btn btn-success" (click)="save()">
                            <i _ngcontent-axy-c0="" class="material-icons small"> send </i> {{ 'MCDSS.BUTTON.SEND' | translate }}
                        </button>
                    </div>
                </div>
                <div class="col col-lg-12">
                    <br/>
                </div>
                <div class="row1">
                    <form #formConfig="ngForm">
                        <div class="col col-lg-12">
                            <div class="col col-lg-3">
                                <mat-form-field >
                                    <mat-label>{{ 'MCDSS.METHOD.PLACEHOLDER' | translate }}</mat-label>
                                    <mat-select [(ngModel)]="selectedMethod" name="methods" id="methods" ngDefaultControl>
                                        <mat-option *ngFor="let method of methods ; let pilotIndex = index" [value]="method.id">
                                            {{method.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="selectedMethod=='electreI'"  class="col col-lg-2" [class.has-error]="agreementWeightInput.invalid">
                                <mat-form-field >
                                    <mat-label>{{ 'MCDSS.AGREEMENT_THRESHOLD.LABEL' | translate }}</mat-label> 
                                    <input matInput required 
                                    type="number"                         
                                    min="1" 
                                    [(ngModel)]="agreement_threshold"
                                    name="agreement_threshold" value="agreement_threshold"
                                    #agreementWeightInput="ngModel"
                                    placeholder="{{ 'MCDSS.AGREEMENT_THRESHOLD.PLACEHOLDER' | translate }}" >
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            
                <br/>
            
                <div class="row1">
                    <table class="criteria">
                        <tr>
                            <th colspan="2" class="withoutborders">
                                        
                            </th>
                            <th *ngFor="let criteria of t.controls; let index_criteria = index" class="criteria-th-header withborders">
                                <div>
                                    <button [disabled]="t.controls.length==1" class="btn btn-danger" (click)="deleteFormGroupItem($event, index_criteria, 'criteria')">
                                        <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> 
                                    </button>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="2" >
                                
                            </td>
                            <td *ngFor="let criteria of t.controls; let index_criteria = index" class="criteria-th-header withborders">
                                
                                
                                <div [formGroup]="criteria" class="form-row">
                                    
                                    <div class="criteria-div">
                                        &nbsp;
                                        <mat-form-field class="citeria_field">
                                            <mat-label>{{ 'MCDSS.CRITERIAL.NAME.LABEL' | translate }}</mat-label>                                             
                                            <input matInput required type="text" formControlName="label" placeholder="{{ 'MCDSS.CRITERIAL.NAME.PLACEHOLDER' | translate }}" >
                                        </mat-form-field>
                                    </div>
                                    <br>
                                    <div class="criteria-div">
                                        &nbsp;
                                        <mat-form-field class="citeria_field">
                                            <mat-label>{{ 'MCDSS.CRITERIAL.WEIGHT.LABEL' | translate }}</mat-label> 
                                            <input matInput required 
                                            type="number" 
                                            min="1" 
                                            formControlName="weight" placeholder="{{ 'MCDSS.CRITERIAL.WEIGHT.PLACEHOLDER' | translate }}" >
                                        </mat-form-field>
                                    </div>
                                    <br>
                                    <div class="criteria-div">
                                        &nbsp;
                                        <mat-form-field class="citeria_field">
                                            <mat-label>{{ 'MCDSS.CRITERIAL.TYPE.LABEL' | translate }}</mat-label> 
                                            <input matInput required 
                                            type="number" 
                                            min="0" 
                                            max="1"
                                            formControlName="type" placeholder="{{ 'MCDSS.CRITERIAL.TYPE.PLACEHOLDER' | translate }}" >
                                        </mat-form-field>
                                    </div>
            
                                    <div *ngIf="selectedMethod=='electreI'" class="criteria-div">
                                        <mat-form-field class="citeria_field">
                                            <mat-label>{{ 'MCDSS.CRITERIAL.VETO.LABEL' | translate }}</mat-label> 
                                            <input matInput required 
                                            type="number" 
                                            min="0" 
                                            formControlName="veto_thresholds" placeholder="{{ 'MCDSS.CRITERIAL.VETO.PLACEHOLDER' | translate }}" >
                                        </mat-form-field>
                                    </div>

                                    <div [hidden]="selectedMethod!='prometheeII'" class="criteria-div">
                                        <mat-form-field class="citeria_field">
                                            <mat-label>{{ 'MCDSS.CRITERIAL.PREFERENCE.LABEL' | translate }}</mat-label> 
                                            <input matInput required 
                                            type="number" 
                                            min="0" 
                                            formControlName="preference_thresholds" placeholder="{{ 'MCDSS.CRITERIAL.PREFERENCE.PLACEHOLDER' | translate }}" >
                                        </mat-form-field>
                                    </div>

                                    <div [hidden]="selectedMethod!='prometheeII'" class="criteria-div">
                                        <mat-form-field class="citeria_field">
                                            <mat-label>{{ 'MCDSS.CRITERIAL.INDIFFERENCE.LABEL' | translate }}</mat-label> 
                                            <input matInput required 
                                            type="number" 
                                            min="0" 
                                            formControlName="indifference_thresholds" placeholder="{{ 'MCDSS.CRITERIAL.INDIFFERENCE.PLACEHOLDER' | translate }}" >
                                        </mat-form-field>
                                    </div>

                                    <div [hidden]="selectedMethod!='prometheeII'" class="criteria-div">
                                        <mat-form-field class="citeria_field">
                                            <mat-label>{{ 'MCDSS.CRITERIAL.CRITERIA.LABEL' | translate }}</mat-label> 
                                            <input matInput required 
                                            type="text" 
                                            formControlName="criteria_thresholds" placeholder="{{ 'MCDSS.CRITERIAL.CRITERIA.PLACEHOLDER' | translate }}" >
                                        </mat-form-field>
                                    </div>
                                    
                                </div>          
                                    
                            
                            </td>
                        </tr>
            
                        <tr *ngFor="let alt of alternative.controls; let index_alternative = index" [formGroup]="alt">
                            <td class="withborders">
                                <div>
                                    <button [disabled]="alternative.controls.length<=2" class="btn btn-danger" (click)="deleteFormGroupItem($event, index_alternative, 'alternativa')">            
                                        <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> 
                                    </button>
                                </div>
                            </td>
                            <td class="withborders">
                                    <div class="form-group col-6">
                                        &nbsp;
                                        <mat-form-field class="citeria_field">
                                            <mat-label>{{ 'MCDSS.ALTERNATIVE.NAME.LABEL' | translate }}</mat-label> 
                                            <input matInput required type="text" formControlName="Name" placeholder="{{ 'MCDSS.ALTERNATIVE.NAME.PLACEHOLDER' | translate }}" >
                                        </mat-form-field>
                                    </div>
                            </td>
            
            
                            
                            <td *ngFor="let criteria of t.controls; let index_criteria = index" class="withborders">
                                <div class="form-group col-6">
            
                                    &nbsp;
                                    <mat-form-field class="citeria_field">
                                        <mat-label>{{ 'MCDSS.ALTERNATIVE.VALUE.LABEL' | translate }}</mat-label>
                                        <input  matInput required 
                                        type="number" 
                                        min="0" 
                                        value="0"
                                        id="value_{{index_alternative}}_{{index_criteria}}"                     
                                        (change)="changeVlaue(index_alternative,index_criteria)"
                                        placeholder="{{ 'MCDSS.ALTERNATIVE.VALUE.PLACEHOLDER' | translate }}"
                                        >
                                        
                                    </mat-form-field>
                                </div>
                            </td>
                        
                        </tr>
            
                    </table>
                
                </div>


            </mat-tab>
            <mat-tab label="{{ 'MCDSS.TAB.FILE' | translate }}"> 
                <br/>
                <div class="row1">
                    <div class="col col-lg-12">
                        <button [disabled]="(formMCDSSFiles.invalid || !uploadedDecisionMatrix || !uploadedCriteriaDetails)" class="btn btn-success" (click)="saveFilesForm()">
                            <i _ngcontent-axy-c0="" class="material-icons small"> send </i> {{ 'MCDSS.BUTTON.SEND_FILES' | translate }}
                        </button>
                    </div>
                </div>
            
                <br/>
                <div class="row1">
                    <div class="col col-lg-12">
                        
                        <form #formMCDSSFiles="ngForm">

                            <div class="col col-lg-12">
                                <mat-form-field >
                                    <mat-label>{{ 'MCDSS.METHOD.PLACEHOLDER' | translate }}</mat-label>
                                    <mat-select [(ngModel)]="selectedMethodFiles" name="methodsFiles" id="methodsFiles" ngDefaultControl required >
                                        <mat-option *ngFor="let method of methods ; let pilotIndex = index" [value]="method.id">
                                            {{method.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col col-lg-12">
                                
                                <div *ngIf="invalidDecisionMatrixFile" class="col col-lg-12">
                                    <div class="alert alert-danger" role="alert">
                                        {{ 'MCDSS.CHOOSE_FILE.DECISION_MATRIX.ERROR_MESSAGE' | translate: {file_name: messageErrorDecissionMatrixFile } }}
                                    </div>
                                </div>

                                <div col col-lg-12>
                                    <button type="button"
                                    class="btn btn-primary" 
                                    mat-raised-button (click)="fileInputDM.click()">
                                    <i _ngcontent-axy-c0="" class="material-icons small"> attach_file </i>
                                    {{ 'MCDSS.CHOOSE_FILE.DECISION_MATRIX.PLACEHOLDER' | translate }}</button>
                                    <input hidden required 
                                    #fileInputDM
                                    name="Decision Matrix" ngModel type="file" id="decisionMatrix" (change)="handleFileInputDecisionMatrix($event.target.files)">
                                    <!-- {{ 'MCDSS.CHOOSE_FILE.DECISION_MATRIX.PLACEHOLDER' | translate }} -->
                                </div>
                                <div *ngIf="fileToUploadDecisionMatrix" class="col col-lg-12">
                                    <div class="alert alert-success">
                                        <h4 class="name">{{ fileToUploadDecisionMatrix?.name }}</h4>
                                        <p class="size">{{ 'FILE.SIZE' | translate }}: {{ formatBytes(fileToUploadDecisionMatrix?.size) }} {{ 'FILE.TYPE' | translate }}: {{fileToUploadDecisionMatrix?.type}}</p>                                
                                    </div>
                                </div>
                            </div>
                            <div>&nbsp;<br></div>
                            <div class="col col-lg-12">

                                <div *ngIf="invalidCriteriaDetailsFile" class="col col-lg-12">
                                    <div class="alert alert-danger" role="alert">
                                        {{ 'MCDSS.CHOOSE_FILE.CRITERIA_DETAILS_MATRIX.ERROR_MESSAGE' | translate: {file_name: messageErrorCriteriaDetailsFile } }}
                                    </div>
                                </div>

                                <div>
                                    <button 
                                    class="btn btn-primary" 
                                    type="button" mat-raised-button (click)="fileInputCD.click()">                            
                                    <i _ngcontent-axy-c0="" class="material-icons small"> attach_file </i>                            
                                    {{ 'MCDSS.CHOOSE_FILE.CRITERIA_DETAILS_MATRIX.PLACEHOLDER' | translate }}</button>
                                    <input hidden required 
                                    #fileInputCD
                                    name="Criteria Details" ngModel type="file" id="criteriaDetails" (change)="handleFileInputCriteriaDetails($event.target.files)">
                                    <!-- {{ 'MCDSS.CHOOSE_FILE.CRITERIA_DETAILS_MATRIX.PLACEHOLDER' | translate }} -->
                                </div>

                                <div *ngIf="fileToUploadCriteriaDetails" class="col col-lg-12">
                                    <div class="alert alert-success">
                                        <h4 class="name">{{ fileToUploadCriteriaDetails?.name }}</h4>
                                        <p class="size"> {{ 'FILE.SIZE' | translate }}: {{ formatBytes(fileToUploadCriteriaDetails?.size) }} {{ 'FILE.TYPE' | translate }}: {{fileToUploadCriteriaDetails?.type}}</p>                                
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>

            </mat-tab>

        </mat-tab-group>
    </div>
</div>


