<h1 >{{ 'MCDDSS.TITLE' | translate }}</h1>

<div *ngIf="response.length>0" class="container">
    <div class="row">
        {{ response | json }}
    </div>
    <div>
        <button class="btn btn-danger" (click)="response=[]">
            <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> 
        </button>
    </div>
    
</div>

<div class="container">
    <div class="row">
        <button class="btn btn-primary" (click)="addFormGroupItem($event, 'criteria')">
            <i _ngcontent-axy-c0="" class="material-icons small"> add </i> {{ 'MCDDSS.BUTTON.ADD_CRITERIA' | translate }}
        </button>

        <button [disabled]="t.controls.length==0" class="btn btn-primary" (click)="addFormGroupItem($event, 'alternative')">
            <i _ngcontent-axy-c0="" class="material-icons small"> add </i> {{ 'MCDDSS.BUTTON.ADD_ALTERNATIVE' | translate }}
        </button>

        <button [disabled]="selectedMethod=='' || t.controls.length==0 || alternative.controls.length<=1 || t.status=='INVALID' || alternative.status=='INVALID'" class="btn btn-success" (click)="save()">
            <i _ngcontent-axy-c0="" class="material-icons small"> send </i> {{ 'MCDDSS.BUTTON.SEND' | translate }}
        </button>
    </div>

    <br/>
    <div class="row">
        <form #formConfig="ngForm">
            <div class="col col-lg-3">
                <mat-form-field >
                    <mat-label>{{ 'MCDDSS.METHOD.PLACEHOLDER' | translate }}</mat-label>
                    <mat-select [(ngModel)]="selectedMethod" name="methods" id="methods" ngDefaultControl>
                        <mat-option *ngFor="let method of methods ; let pilotIndex = index" [value]="method.id">
                            {{method.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="selectedMethod=='electreI'"  class="col col-lg-2" [class.has-error]="agreementWeightInput.invalid">
                <mat-form-field >
                    <mat-label>{{ 'MCDDSS.AGREEMENT_THRESHOLD.LABEL' | translate }}</mat-label> 
                    <input matInput required 
                    type="number"                         
                    min="1" 
                    [(ngModel)]="agreement_threshold"
                    name="agreement_threshold" value="agreement_threshold"
                    #agreementWeightInput="ngModel"
                    placeholder="{{ 'MCDDSS.AGREEMENT_THRESHOLD.PLACEHOLDER' | translate }}" >
                </mat-form-field>
            </div>
        </form>
    </div>

    <br/>

    <div class="row">
        <table class="criteria">
            <tr>
                <th colspan="2" class="withoutborders">
                            
                </th>
                <th *ngFor="let criteria of t.controls; let index_criteria = index" class="criteria-th-header withborders">
                    <div>
                        <button [disabled]="t.controls.length==1" class="btn btn-danger" (click)="deleteFormGroupItem($event, index_criteria, 'criteria')">
                            <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> 
                        </button>
                    </div>
                </th>
            </tr>
            <tr>
                <td colspan="2" >
                    
                </td>
                <td *ngFor="let criteria of t.controls; let index_criteria = index" class="criteria-th-header withborders">
                    
                    
                    <div [formGroup]="criteria" class="form-row">
                        
                        <div class="criteria-div">
                            &nbsp;
                            <mat-form-field class="citeria_field">
                                <mat-label>{{ 'MCDDSS.CRITERIAL.NAME.LABEL' | translate }}</mat-label> 
                                <input matInput required type="text" formControlName="label" placeholder="{{ 'MCDDSS.CRITERIAL.NAME.PLACEHOLDER' | translate }}" >
                            </mat-form-field>
                        </div>
                        <br>
                        <div class="criteria-div">
                            &nbsp;
                            <mat-form-field class="citeria_field">
                                <mat-label>{{ 'MCDDSS.CRITERIAL.WEIGHT.LABEL' | translate }}</mat-label> 
                                <input matInput required 
                                type="number" 
                                min="1" 
                                formControlName="weight" placeholder="{{ 'MCDDSS.CRITERIAL.WEIGHT.PLACEHOLDER' | translate }}" >
                            </mat-form-field>
                        </div>
                        <br>
                        <div class="criteria-div">
                            &nbsp;
                            <mat-form-field class="citeria_field">
                                <mat-label>{{ 'MCDDSS.CRITERIAL.TYPE.LABEL' | translate }}</mat-label> 
                                <input matInput required 
                                type="number" 
                                min="0" 
                                max="1"
                                formControlName="type" placeholder="{{ 'MCDDSS.CRITERIAL.TYPE.PLACEHOLDER' | translate }}" >
                            </mat-form-field>
                        </div>

                        <div *ngIf="selectedMethod=='electreI'" class="criteria-div">
                            <mat-form-field class="citeria_field">
                                <mat-label>{{ 'MCDDSS.CRITERIAL.VETO.LABEL' | translate }}</mat-label> 
                                <input matInput required 
                                type="number" 
                                min="0" 
                                formControlName="veto_thresholds" placeholder="{{ 'MCDDSS.CRITERIAL.VETO.PLACEHOLDER' | translate }}" >
                            </mat-form-field>
                        </div>
                        
                    </div>          
                        
                
                </td>
            </tr>

            <tr *ngFor="let alt of alternative.controls; let index_alternative = index" [formGroup]="alt">
                <td class="withborders">
                    <div>
                        <button [disabled]="alternative.controls.length<=2" class="btn btn-danger" (click)="deleteFormGroupItem($event, index_alternative, 'alternativa')">            
                            <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> 
                        </button>
                    </div>
                </td>
                <td class="withborders">
                        <div class="form-group col-6">
                            &nbsp;
                            <mat-form-field class="citeria_field">
                                <mat-label>{{ 'MCDDSS.ALTERNATIVE.NAME.LABEL' | translate }}</mat-label> 
                                <input matInput required type="text" formControlName="Name" placeholder="{{ 'MCDDSS.ALTERNATIVE.NAME.PLACEHOLDER' | translate }}" >
                            </mat-form-field>
                        </div>
                </td>


                
                <td *ngFor="let criteria of t.controls; let index_criteria = index" class="withborders">
                    <div class="form-group col-6">
                        <!--
                        ---{{index_alternative}}--{{index_criteria}}---
                        -->
                        &nbsp;
                        <mat-form-field class="citeria_field">
                            <mat-label>{{ 'MCDDSS.ALTERNATIVE.VALUE.LABEL' | translate }}</mat-label>
                            <input  matInput required 
                            type="number" 
                            min="0" 
                            value="0"
                            id="value_{{index_alternative}}_{{index_criteria}}"                     
                            (change)="changeVlaue(index_alternative,index_criteria)"
                            placeholder="{{ 'MCDDSS.ALTERNATIVE.VALUE.PLACEHOLDER' | translate }}"
                            >
                            
                        </mat-form-field>
                    </div>
                </td>
            
            </tr>

        </table>
    
    </div>
