<!--
<h1>{{ 'HOME.TITLE' | translate }}</h1>
<p>	{{ 'HOME.BODY' | translate }} </p>
-->
<!--
<app-pilot-home></app-pilot-home>
-->

<div>
    <h1>{{ 'HOME.TITLE' | translate }}</h1>

    <div *ngIf="!isLogged">
        <img src="assets/img/qualichain-intro.png">
        <p  [innerHTML]=" 'HOME.BODY' | translate "></p>
    </div>
<!--
    <div class="row">
        For demo purposes<br/>
        <button (click)="sendMessage()" class="btn btn-primary mr-2">Send Message to increase counter in notification</button>        
--> 
<!--       
        <button (click)="clearMessages()" class="btn btn-secondary">Clear Messages in notifications</button>
-->
<!--
    </div>
-->
    <div *ngIf="isLogged">
        <div>
            <button *ngIf="selectedSubmenu" class="btn btn-primary" (click)="selectSubMenu('home')">
                <i _ngcontent-axy-c0="" class="material-icons small">  arrow_back  </i> {{ 'BUTTON.BACK' | translate}}
            </button>
        </div>

        <div class="row" [@myTriggerName]="state">
            <ng-container *ngFor="let menuOption of menuOptionsToPlot.menu">
                <div id="div-menu-home" *appCanAccess="menuOption.permissions" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    
                    <div class="post-module hover">
                        <div class="thumbnail">
                            <a *ngIf="menuOption.submenu.length==0 && !menuOption.external" routerLink="{{ menuOption.route }}" class="noborder" title="{{ menuOption.label | translate }}"><img src="{{menuOption.image}}" height="100%" alt="{{ menuOption.label | translate }}" title="{{ menuOption.label | translate }}"></a>
                            <a *ngIf="menuOption.submenu.length==0 && menuOption.external" href="{{ menuOption.route }}" target="_NEW" class="noborder" title="{{ menuOption.label | translate }}"><img src="{{menuOption.image}}" height="100%" alt="{{ menuOption.label | translate }}" title="{{ menuOption.label | translate }}"></a>
                            <a *ngIf="menuOption.submenu.length!=0" [routerLink]="" (click)="selectSubMenu(menuOption)" class="noborder" title="{{ menuOption.label | translate }}"><img 
                                
                                src="{{menuOption.image}}" height="100%" alt="{{ menuOption.label | translate }}" title="{{ menuOption.label | translate }}"></a>
                        </div>
                        <!-- Post Content-->
                        <div class="post-content">
                            
                            <h1 class="title">
                                <a *ngIf="menuOption.submenu.length==0 && !menuOption.external" routerLink="{{ menuOption.route }}" >{{ menuOption.label | translate }}</a>
                                <a *ngIf="menuOption.submenu.length==0 && menuOption.external" href="{{ menuOption.route }}" target="_NEW">{{ menuOption.label | translate }}</a>
                                <a [routerLink]="" *ngIf="menuOption.submenu.length>0" (click)="selectSubMenu(menuOption)">{{ menuOption.label | translate }}</a>
                            </h1>
                            <!--<h2 class="authors"></h2>-->
                            <p class="description"></p>
                            <!--
                            --{{menuOption.label}}--
                            -->
                            <p class="customPHomeClass" *ngIf="isStudent  && (menuOption.label=='MENU.COURSES' || menuOption.label=='MENU.JOBS' || menuOption.label=='MENU.THESIS')">{{ menuOption.label+"_HELP_TEXT_STUDENT" | translate }}</p>
                            <p class="customPHomeClass" *ngIf="isProfessor && (menuOption.label=='MENU.COURSES' || menuOption.label=='MENU.THESIS' || menuOption.label=='MENU.PROFILES')">{{ menuOption.label+"_HELP_TEXT_PROFESSOR" | translate }}</p>
                            <p class="customPHomeClass" *ngIf="isRecruiter && (menuOption.label=='MENU.JOBS' || menuOption.label=='MENU.PROFILES')">{{ menuOption.label+"_HELP_TEXT_RECRUITER" | translate }}</p>
                            <p class="customPHomeClass" *ngIf="(menuOption.label=='MENU.MCDSS' || menuOption.label=='MENU.SKILLS' || menuOption.label=='MENU.AWARDS' || menuOption.label=='MENU.RECRUITMENT' || menuOption.label=='MENU.CERTIFICATE_VALIDATION'|| menuOption.label=='MENU.DEGREE_COMPARISON')">{{ menuOption.label+"_HELP_TEXT" | translate }}</p>
                            <!--
                            <p>{{ menuOption.label+"_HELP_TEXT" | translate }}</p>
                            -->
                            <p></p>
                                <!--
                                <div *ngIf="menuOption.submenu.length>0" class="dropdown dropdown-menu-right">
                                    <div *ngFor="let subMenuOption of menuOption.submenu">                                        
                                                <p *appCanAccess="subMenuOption.permissions">
                                                    <a class="navbar-item" routerLink="{{ subMenuOption.route }}" >{{ subMenuOption.label | translate }}</a>												
                                                </p>
                                    </div>
                                </div>
                                -->
                            <p></p>
                        </div>
                    </div>

                </div>
            </ng-container>
        </div>
    </div>

</div>