.requestPasword-form,
.userlogin-form {
    min-width: 150px;
    width: 100%;
  }

.requestPasword-full-width,
.userlogin-full-width {
    width: 100%;
  }

  #alert-success-request-password {
      color: #3c763d;
}

::ng-deep #loginpasswordQC .mat-form-field-flex {
  background-color: white !important;  
  padding-top: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0px;
  padding-left: 0em;
}

.boxLogin {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
}