<h1 *ngIf="(mode=='Create' && (userId.toString()!=currentUser?.id.toString()))">{{ 'PROFILE.CREATE_PROFILE.TITLE' | translate }}</h1>
<h1 *ngIf="(mode=='Edit' && (userId.toString()!=currentUser?.id.toString()))">{{ 'PROFILE.EDIT_PROFILE.TITLE' | translate }}</h1>
<h1 *ngIf="+userId>0 && userId.toString()==currentUser?.id.toString()">{{ 'PROFILE.MY_PROFILE' | translate }}</h1>


<div class="containerProfile">
  <div class="col">

    <div  class="col" [ngClass]="{'col-lg-6': (mode=='Edit'), 'col-lg-12': (mode=='Create')}">
      <form #formUserProfile="ngForm" class="create-profile-form" (ngSubmit)="processForm()" >
        
        <!-- pilot -->
        <!--
        <div class="form-group field" >
          <mat-form-field class="create-profile-full-width">
            <mat-label>{{ 'PROFILE.PILOT.SELECT_ONE' | translate }}</mat-label>
            <mat-select [(ngModel)]="pilotId" name="pilot" required ngDefaultControl>
              <mat-option *ngFor="let pilot of pilots" [value]="pilot.value">
                {{pilot.viewValue}}
              </mat-option>               
            </mat-select>
          </mat-form-field>
        </div>
        -->
        <!-- role -->
        <!--
        <div *ngIf="(mode=='Create')" class="form-group field" >
          <mat-form-field class="create-profile-full-width">
            <mat-label>{{ 'PROFILE.ROLE.SELECT_ONE' | translate }}</mat-label>
            <mat-select [(ngModel)]="role" name="role" required ngDefaultControl>
              <mat-option *ngFor="let role of roles | orderTemplatePipe : 'viewValue' " [value]="role.value">
                {{'ROLES.'+role.viewValue.toLowerCase() | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        -->

        <!-- userName -->
        <div class="form-group field" [class.has-error]="usernameInput.invalid">
          <mat-form-field class="create-profile-full-width">
            <mat-label>{{ 'PROFILE.USERNAME.LABEL' | translate }}</mat-label>
            <input [disabled]="mode=='Edit'" matInput required [(ngModel)]="userName" name="userName" value="userName" placeholder="{{ 'PROFILE.USERNAME.PLACEHOLDER' | translate }}" #usernameInput="ngModel">
          </mat-form-field>        
        </div>
  
        <!-- password -->
        <div *ngIf="mode=='Create'" class="form-group field" [class.has-error]="passwordInput.invalid">
            <mat-form-field class="create-profile-full-width">
            <mat-label>{{ 'PROFILE.PASSWORD.LABEL' | translate }}</mat-label>
            <input matInput required [(ngModel)]="password" name="password" value="pasword" [type]="hide ? 'password' : 'text'" #passwordInput="ngModel">
          </mat-form-field>
        </div>      
  
        <!-- fullName -->
        <div class="form-group field" [class.has-error]="fullnameInput.invalid">
            <mat-form-field class="create-profile-full-width">
              <mat-label>{{ 'PROFILE.FULLNAME.LABEL' | translate }}</mat-label>
              <input matInput required [(ngModel)]="fullName" name="fullName" value="fullName" placeholder="{{ 'PROFILE.FULLNAME.PLACEHOLDER' | translate }}"  #fullnameInput="ngModel">
            </mat-form-field>  
        </div>

        <!-- name -->
        <div class="form-group field" [class.has-error]="nameInput.invalid"> 
            <mat-form-field class="create-profile-full-width">
              <mat-label>{{ 'PROFILE.NAME.LABEL' | translate }}</mat-label>
              <input matInput required [(ngModel)]="name" name="name" value="name" placeholder="{{ 'PROFILE.NAME.PLACEHOLDER' | translate }}" #nameInput="ngModel">
            </mat-form-field>  
        </div>

        <!-- surname -->
        <div class="form-group field" [class.has-error]="surnameInput.invalid">
            <mat-form-field class="create-profile-full-width">
              <mat-label>{{ 'PROFILE.SURNAME.LABEL' | translate }}</mat-label>
              <input matInput required [(ngModel)]="surname" name="surname" value="surname" placeholder="{{ 'PROFILE.SURNAME.PLACEHOLDER' | translate }}" #surnameInput="ngModel">
            </mat-form-field>  
        </div>
  
        <!-- email -->
        <div class="form-group field" [class.has-error]="emailInput.invalid">
            <mat-form-field class="create-profile-full-width">
              <mat-label>{{ 'PROFILE.EMAIL.LABEL' | translate }}</mat-label>
              <input [disabled]="mode=='Edit'" matInput required [(ngModel)]="email" name="email" value="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" placeholder="{{ 'PROFILE.EMAIL.PLACEHOLDER' | translate }}" #emailInput="ngModel">
            </mat-form-field>
        </div>
  
        <!-- gender -->
        <div class="form-group field" >
          <mat-form-field class="create-profile-full-width">
            <mat-label>{{ 'PROFILE.GENDER.SELECT_ONE' | translate }}</mat-label>
            <mat-select [(ngModel)]="gender" name="gender" required ngDefaultControl>
              <mat-option value="male">{{ 'PROFILE.GENDER.TYPE.MALE' | translate }}</mat-option>
              <mat-option value="female">{{ 'PROFILE.GENDER.TYPE.FEMALE' | translate }}</mat-option>
              <mat-option value="other">{{ 'PROFILE.GENDER.TYPE.OTHER' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <!-- birthDate -->            
        <div class="form-group field" [class.has-error]="birthDateInput.invalid">       
          <mat-form-field class="create-profile-full-width">
            <mat-label>{{ 'PROFILE.BIRTHDATE.PLACEHOLDER' | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" name="birthDate" [(ngModel)]="birthDate" #birthDateInput="ngModel" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="birthDate" format="DD-MM-YYYY"></mat-datepicker>
          </mat-form-field>
        </div>
  
        <!-- country -->
        <div *ngIf="+userId>0" class="form-group field" [class.has-error]="countryInput.invalid">
          <input [hidden]="true" matInput required [(ngModel)]="country" name="country" value="country" #countryInput="ngModel">
          <!-- Passing parent form, options list and control name to use -->
          <app-qc-location-country [parentForm]="profileForm" [defaultValue]="country" [requiredValue]="true" formInnerControlName="selectCtrl">
          </app-qc-location-country>
        </div>

        <!-- state -->
<!--
        <div class="form-group field" [class.has-error]="stateInput.invalid">
          <input [hidden]="true" matInput required [(ngModel)]="state" name="state" value="state" #stateInput="ngModel">        
          <app-qc-location-state-country [parentForm]="profileForm" [countryValue]="country" [defaultValue]="state" [requiredValue]="true" formInnerControlName="selectCtrlState">
          </app-qc-location-state-country>
        </div>
--> 
        <!-- city -->
<!--        
        <div class="form-group field" [class.has-error]="cityInput.invalid">
          <input [hidden]="true" matInput required [(ngModel)]="city" name="city" value="city" #cityInput="ngModel">        
          <app-qc-location-city-state [parentForm]="profileForm" [stateValue]="state" [defaultValue]="city" [requiredValue]="true" formInnerControlName="selectCtrlCity">
          </app-qc-location-city-state>
        </div>      
-->          
        <!--
        <div class="form-group field" [class.has-error]="countryInput.invalid">
            <mat-form-field class="create-profile-full-width">
              <mat-label>{{ 'PROFILE.COUNTRY.LABEL' | translate }}</mat-label>
              <input matInput required [(ngModel)]="country" name="country" value="country" placeholder="{{ 'PROFILE.COUNTRY.PLACEHOLDER' | translate }}" #countryInput="ngModel">
            </mat-form-field>
  
        </div>
        -->
        
        <!-- city -->
        <div class="form-group field" [class.has-error]="cityInput.invalid">
          <!-- 
          <label>{{ 'PROFILE.CITY.LABEL' | translate }}</label>
          <input type="text" name="city" class="form-control input" placeholder="{{ 'PROFILE.CITY.PLACEHOLDER' | translate }}"
            [(ngModel)]="city" required minlength="3" #cityInput="ngModel">
          -->
            <mat-form-field class="create-profile-full-width">
              <mat-label>{{ 'PROFILE.CITY.LABEL' | translate }}</mat-label>
              <input matInput required [(ngModel)]="city" name="city" value="city" placeholder="{{ 'PROFILE.CITY.PLACEHOLDER' | translate }}" #cityInput="ngModel">
            </mat-form-field>
  
        </div>
  
        <!-- address -->
        <div class="form-group field" [class.has-error]="addressInput.invalid">
            <mat-form-field class="create-profile-full-width">
              <mat-label>{{ 'PROFILE.ADDRESS.LABEL' | translate }}</mat-label>
              <input matInput required [(ngModel)]="address" name="address" value="address" placeholder="{{ 'PROFILE.ADDRESS.PLACEHOLDER' | translate }}" #addressInput="ngModel">
            </mat-form-field>
  
        </div>
  
        <!-- zipCode -->
        <div class="form-group field" [class.has-error]="zipCodeInput.invalid">
            <mat-form-field class="create-profile-full-width">
              <mat-label>{{ 'PROFILE.ZIPCODE.LABEL' | translate }}</mat-label>
              <input matInput required [(ngModel)]="zipCode" name="zipCode" value="zipCode" placeholder="{{ 'PROFILE.ZIPCODE.PLACEHOLDER' | translate }}" #zipCodeInput="ngModel">
            </mat-form-field>
  
        </div>
  
        <!-- mobilePhone -->
        <div class="form-group field" [class.has-error]="mobilePhoneInput.invalid">
            <mat-form-field class="create-profile-full-width">
              <mat-label>{{ 'PROFILE.MOBILEPHONE.LABEL' | translate }}</mat-label>
              <input matInput required [(ngModel)]="mobilePhone" name="mobilePhone" value="mobilePhone" placeholder="{{ 'PROFILE.MOBILEPHONE.PLACEHOLDER' | translate }}" #mobilePhoneInput="ngModel">
            </mat-form-field>  
        </div>
  
        <!-- homePhone -->
        <div class="form-group field" [class.has-error]="homePhoneInput.invalid">
            <mat-form-field class="create-profile-full-width">
              <mat-label>{{ 'PROFILE.HOMEPHONE.LABEL' | translate }}</mat-label>
              <input matInput required [(ngModel)]="homePhone" name="homePhone" value="homePhone" placeholder="{{ 'PROFILE.HOMEPHONE.PLACEHOLDER' | translate }}" #homePhoneInput="ngModel">
            </mat-form-field>
        </div>

        


        <button *ngIf="mode=='Create' && +userId>0" type="submit" class="btn btn-success" [disabled]="formUserProfile.invalid">
          <i _ngcontent-axy-c0="" class="material-icons"> save </i> {{ 'BUTTON.SAVE' | translate }} 
        </button>

        <button *ngIf="mode=='Edit'" type="submit" class="btn btn-success" [disabled]="formUserProfile.invalid">
          <i _ngcontent-axy-c0="" class="material-icons"> save </i> {{ 'BUTTON.UPDATE' | translate }} 
        </button>
  
        <button *ngIf="+userId>0" class="btn btn-danger" [routerLink]="['/profiles/',profileId]">
          <i _ngcontent-axy-c0="" class="material-icons"> cancel </i> {{ 'BUTTON.CANCEL' | translate }}
        </button>
  
      </form> 
    </div>

    <div *ngIf="mode=='Edit'" class="col col-lg-6">
      <!--
      <flash-messages></flash-messages>
      -->
      <div *ngIf="showError" class="alert alert-danger" role="alert">      
        {{errorMessage}}
      </div>

      <div *ngIf="user_avatar_path_id" class="row"> 
        <div class="form-group field col col-lg-2"> 
          <!--
          <img [src]="user_avatar_path">
          -->
          <div class="user-avatar-img" [ngStyle]="{'background-image': 'url(' + profileAvatarImg + ')'}"> </div>
          <br>
          <button class="btn btn-danger" (click)="confirmDialog(user_avatar_path_id, '')">
            <i _ngcontent-axy-c0="" class="material-icons small"> delete </i> {{ 'BUTTON.DELETE' | translate }}
          </button>
        </div>
      </div>
      <br>
      <div *ngIf="!user_avatar_path_id" class="row">
        <div class="form-group field">
          <app-upload-files [currentAvatarFileId]=user_avatar_path_id [callbackFunction]=myCallbackFunction [validFiles]="['image/png','image/jpg','image/jpeg','image/gif']" [maxNumberOfFiles]="1" [userId]=profileId fileDestination="avatarImage"></app-upload-files>
        </div>
      </div>
    </div>
    
  </div>
</div>
