<mat-expansion-panel  [expanded]="recomendedSkills.length>0 ? true : false">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ 'RECOMENDED_SKILLS.TITLE' | translate }}</mat-panel-title>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>
  
  <div *ngIf="recomendedSkills.length==0">{{ 'RECOMENDED_SKILLS.NO_DATA' | translate }} </div>

  <mat-accordion *ngIf="recomendedSkills.length>=0" activeIds="skill-0">
    <mat-expansion-panel  id="skill-{{i}}" *ngFor="let skill of recomendedSkills | slice:0:5; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{skill.title}}
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <div class="job-card">                    
        <div class="job-card-body">                      
          <div class="job-card-text">
            <!--
            {{skill.description}}            
            <br/>
            -->
            <!--{{ 'RECOMENDED_JOBS.MATCH' | translate }}:-->
          </div>
          
          <!--
          <div class="progress" >
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%':skill.rating}" attr.aria-valuenow="{{skill.rating}}"  aria-valuemin="0" aria-valuemax="100">{{job.job.rating}}%</div>
          </div>
          -->
          
          <br/>
          <button *appCanAccess="['view_skills']" class="btn btn-primary" [routerLink]="['/skills', skill.id]">
            <i _ngcontent-axy-c0="" class="material-icons small"> pageview </i> {{ 'BUTTON.VIEW' | translate }}
          </button>
          
        </div>
      </div>


    </mat-expansion-panel>
    
  </mat-accordion>


  <div *ngIf="recomendedSkills.length>5" class="col-lg-8">
    <br>
    <a [routerLink]="['/profiles',userId,'recomended','skills']" class="btn btn-primary">{{ 'BUTTON.VIEW_MORE' | translate }}</a>
  </div>

</mat-expansion-panel>
    