<h1>{{ 'RECOMENDED_SKILLS.TITLE' | translate }}</h1>
<div class="row">
    <div *ngIf="dataSource.data.length==0">
        {{ 'RECOMENDED_SKILLS.NO_DATA' | translate }} 
    </div>

    <div class="row" *ngIf="loadingSpinner">
        <app-qc-spinner></app-qc-spinner>
    </div>
    
    <div [hidden]="!dataSource.data.length" >  
        <div >
            <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'FILTER' | translate }}">
            </mat-form-field>
        </div>

        <div >  
            <table  mat-table [dataSource]="dataSource" matSort class="table">
                               

            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CV.SKILL' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>


            <!-- rating Column -->
            <!--
            <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'RECOMENDED_JOBS.MATCH' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
            </ng-container>
            -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        
            <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>  
    </div>
</div>
