<div class="card">
    <div class="card-body">
        <h3>{{ 'RECOMENDED_SKILLS.TITLE' | translate }}</h3>
        <!-- #acc="ngbAccordion" -->

        <div *ngIf="recomendedSkills.length==0">
          {{ 'RECOMENDED_SKILLS.NO_DATA' | translate }}          
        </div>

        <ngb-accordion *ngIf="recomendedSkills.length>=0" activeIds="skill-0">
          
          <ngb-panel id="skill-{{i}}" *ngFor="let skill of recomendedSkills; let i = index" >

            <ng-template ngbPanelTitle>
              <span>&#9733; <b>{{skill.description}}</b> &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="skill-card">                    
                  <div class="skill-card-body">                      
                    <p class="skill-card-text">
                      {{skill.description}}
                    </p>
                    <!-- 
                        <a [routerLink]="['/skill',skill.skill_id]" class="btn btn-primary">{{ 'BUTTON.VIEW' | translate }}</a>
                    -->
                  </div>
              </div>
            </ng-template>

          </ngb-panel>
          <!--
            <ngb-panel id="job-1">
              <ng-template ngbPanelTitle>
                <span>&#9733; <b>Technical Application Administrator</b> &#9733;</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="card">                    
                    <div class="card-body">                      
                      <p class="card-text">
                        This is just a Hardcoded course for testing propouses. Skills Required: Computer Science
                        <br/>
                        Match: 
                      </p>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                      <a [routerLink]="" class="btn btn-primary">{{ 'BUTTON.VIEW' | translate }}</a>
                    </div>
                </div>
              </ng-template>
            </ngb-panel>
            
            <ngb-panel id="job-2">
                <ng-template ngbPanelTitle>
                  <span>&#9733; <b>Oracle database administrator</b> &#9733;</span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="card">                        
                        <div class="card-body">                      
                          <p class="card-text">
                            This is just a Hardcoded course for testing propouses. Skills Required: Oracle
                            <br/>
                            Match: 
                          </p>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 83%" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100">83%</div>
                          </div>
                          <a [routerLink]="" class="btn btn-primary">{{ 'BUTTON.VIEW' | translate }}</a>
                        </div>
                    </div>
                    
                </ng-template>
              </ngb-panel>
            -->
        </ngb-accordion>

    </div>
</div>

    