
<h1 *ngIf="userdata.role=='Student'">{{ 'PROFILES.STUDENT_PROFILE' | translate }}</h1>
<h1 *ngIf="userdata.role=='Teacher'">{{ 'PROFILES.TEACHER_PROFILE' | translate }}</h1>
<div class="container">
    <div class="row">
        <div class="col col-lg-8">
            <div class="username"><span>{{ 'PROFILES.USERNAME' | translate }}:</span> {{userdata.username}}</div>            
            <div class="fullname"><span>{{ 'PROFILES.NAME' | translate }}:</span> {{userdata.name}}</div>
            <div class="fullname"><span>{{ 'PROFILES.SURNAME' | translate }}:</span>  {{userdata.surname}}</div>
            <div class="fullname"><span>{{ 'PROFILES.EMAIL' | translate }}:</span>  {{userdata.email}}</div>
            
            <div class="university"><span>{{ 'PROFILES.UNIVERSITY' | translate }}:</span> {{userdata.university}}</div>
            <div class="row"><br></div>
            <div class="row" *ngIf="userdata.role=='Student'">
                <div class="col col-lg-2"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-list-alt"></span> {{ 'PROFILES.CV' | translate }}</button></div>
                
                <div class="col col-lg-2"><a [routerLink]="['/profiles', userdata.id,'best-carrer-options']" class="btn btn-success"><span class="glyphicon glyphicon-star"></span> {{ 'PROFILES.BEST_CARRER_OPTIONS' | translate }}</a> </div>

            </div>
        </div>
        <div class="col col-lg-2">
            <div><img [src]="userdata.avatar_path"></div>
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row">

        <ngb-accordion #acc="ngbAccordion">
                <ngb-panel id="toggle-1" title="{{ 'PROFILES.COMPLETED_COURSES' | translate }}" *ngIf="userdata.role=='Student'">
                  <ng-template ngbPanelContent>
                      <div class="">
                            
                            <ngb-tabset [justify]="currentJustify">
                                    <ngb-tab id="tab-selectbyid-{{year}}"  title="Year {{year}}" *ngFor="let year of years; let i = index">
                                      <ng-template ngbTabContent>
                                            <div class="col-lg-4 completeCourseSectiontab">
                                                    <div>
                                                            <select class="form-control form-control-sm">
                                                                    <option selected value="0">{{year}}.Specialisation Flow</option>
                                                                    <option value="1">{{year}}.Specialisation Flow - One</option>
                                                                    <option value="2">{{year}}.Specialisation Flow - Two</option>
                                                                    <option value="3">{{year}}.Specialisation Flow - Three</option>
                                                                  </select>
                                                    </div>
                                                    
                                                    <div>
                                                            <select class="form-control form-control-sm">
                                                                    <option>Semester {{year}}.1</option>
                                                                    <option>Semester {{year}}.2</option>
                                                                    <option>Semester {{year}}.3</option>
                                                                  </select>                                                
        
                                                    </div> 
                                                
                                            </div>
                                            <div class="completeCourseSectiontab" [ngClass]="{'col-lg-4':selectedCourse.id,'col-lg-8':!selectedCourse.id}">
                                                
                                                    <ul class="list-group list-group-flush">
                                                        <li  *ngFor="let course of listOfCoursesByUser" class="list-group-item" >
                                                          <table>
                                                            <tr>
                                                              <td><input type="checkbox" class="custom-control-input" id="check_box_course_{{course.id}}" value="{{course.id}}"> </td>
                                                              <td><a [routerLink]="" (click)="selectedCourse=course">{{course.title}}</a></td>
                                                            </tr>
                                                          </table>  
                                                        </li>
                                                      </ul>
                                            </div>
                                            <div *ngIf="selectedCourse.id" class="col-lg-4 completeCourseSectiontab">
                                              <div class=""><h3>{{selectedCourse.title}}</h3></div>
                                              <div class="">{{selectedCourse.description}}</div>
                                              <div class="row"><a class="button" [routerLink]="" (click)="selectedCourse={}">Close</a></div>
                                            </div>

                                      </ng-template>
                                    </ngb-tab>
                                    
                                  </ngb-tabset>
                      </div>

                  </ng-template>
                </ngb-panel>
                
                <ngb-panel id="toggle-2" title="{{ 'PROFILES.TEACHING_COURSES' | translate }}" *ngIf="userdata.role=='Teacher'">
                  <ng-template ngbPanelContent>
                      <div class="">
                            
            

                        <div class="accordion" id="accordionTeacherCourses">
                          <div class="card" *ngFor="let course of listOfCoursesByUser">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#course_' + course.id" aria-expanded="true" aria-controls="collapseOne">
                                  {{course.title}}
                                </button>
                              </h5>
                            </div>
                        
                            <div [attr.id]="'course_' + course.id" class="collapse" aria-labelledby="headingOne" data-parent="#accordionTeacherCourses">
                              <div class="card-body">
                                  <div class="courseDescription">
                                      <div><h4>{{ 'COURSE.DESCRIPTION' | translate }}</h4></div>
                                      <div>{{course.description}}</div>
                                  </div>
                                  <div>&nbsp; </div>
                                  <div class="courseRelatedData">
                                      <div class="col-lg-6">
                                          <div><h4>{{ 'COURSE.RELATED_SKILLS' | translate }}</h4></div>
                                          <div><span *ngFor="let skill of course.related_skills">{{skill}}, </span></div>
                                       </div>
                                        <div class="col-lg-6">
                                            <div><h4>{{ 'COURSE.COURSE_BADGES' | translate }}</h4></div>
                                            
                                            <div><span *ngFor="let badge of course.course_badges">{{badge}}, </span></div>
                                        </div>                                        
                                  </div>
                                  <div>&nbsp; </div>                                  
                                  <div class="courseActions">
                                      <div class="col-lg-6">

                                          <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-pencil"></span> {{ 'COURSE.UPDATE' | translate }}</button>

                                      </div>
                                       <div class="col-lg-6"></div>

                                        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-star-empty"></span> {{ 'COURSE.AWARD_SMART_BADGE' | translate }}</button>
                                       
                                  </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>                        

      
                      </div>

                  </ng-template>
                </ngb-panel>

                <ngb-panel id="toggle-3" title="{{ 'PROFILES.SMART_BADGES' | translate }}">
                        <ng-template ngbPanelContent>
                            <div class="row smartBudgesBody">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                        <br/>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <br/>
                                        C++ Programming Language Intermediate
                                        <br/>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                        <br/>
                                        <span class="glyphicon glyphicon-flash"></span>
                                        <br/>
                                        Calculus Beginner
                                        <br/>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                        <br/>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <br/>
                                        Electrical Floor Planning Beginner
                                        <br/>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                        <br/>
                                        <span class="glyphicon glyphicon-flash"></span>
                                        <br/>
                                        Biomedical Beginer
                                        <br/>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                        <br/>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <br/>
                                        Java Programming Language Intermidiate
                                        <br/>
                                </div>
                                
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                    <br/>
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  <br/>
                                  PHP Intermidiate
                                  <br/>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                    <br/>
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  <br/>
                                  Angular Beginer
                                  <br/>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                    <br/>
                                  <span class="glyphicon glyphicon-flash"></span>
                                  <br/>
                                  Drupal 8 Beginner
                                  <br/>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                    <br/>
                                  <span class="glyphicon glyphicon-flash"></span>
                                  <br/>
                                  Python 3 Beginner
                                  <br/>
                                </div>

                            </div>


                        </ng-template>
                      </ngb-panel>

        </ngb-accordion>

        <div class="row carreradvisor">
            <div class="col col-lg-8"> </div>
            <div class="col col-lg-2">
                <a [routerLink]="['/profiles', userdata.id,'carrer-advisor']" class="btn btn-success"><span class="glyphicon glyphicon-star"></span> {{ 'PROFILES.CARRER_ADVISOR' | translate }}</a></div>
        </div>

    </div>



</div>