
<h1 *ngIf="userdata.role=='Student'">{{ 'PROFILES.STUDENT_PROFILE' | translate }}</h1>
<h1 *ngIf="userdata.role=='Teacher'">{{ 'PROFILES.TEACHER_PROFILE' | translate }}</h1>
<!--
--{{ userdata.id }} --- {{currentUser.id}} ---
-->

<div class="container">

  <div class="row">
    <button class="btn btn-primary" (click)="generatePdf('open')">  
      <i _ngcontent-axy-c0="" class="material-icons"> picture_as_pdf </i> {{ 'BUTTON.OPEN_PDF' | translate }}
    </button>
    <button class="btn btn-primary" (click)="generatePdf('download')">
      <i _ngcontent-axy-c0="" class="material-icons"> cloud_download </i>
      {{ 'BUTTON.DOWNLOAD_PDF' | translate }}
    </button>
    <button class="btn btn-primary" (click)="generatePdf('print')">
      <i _ngcontent-axy-c0="" class="material-icons"> print </i>
      {{ 'BUTTON.PRINT_PDF' | translate }}
    </button>
  </div>
  <div class="row"><br></div>
  
  <div class="row">
    <div class="col" [ngClass]="{'col-lg-8': userdata.role=='Student'}">

      <div class="row">
        <div class="col col-lg-8">
            <div class="username"><span>{{ 'PROFILES.USERNAME' | translate }}:</span> {{userdata.username}}</div>            
            <div class="fullname"><span>{{ 'PROFILES.NAME' | translate }}:</span> {{userdata.name}}</div>
            <div class="fullname"><span>{{ 'PROFILES.SURNAME' | translate }}:</span>  {{userdata.surname}}</div>
            <div class="fullname"><span>{{ 'PROFILES.EMAIL' | translate }}:</span>  {{userdata.email}}</div>
            
            <div *ngIf="userdata.role!='Recruiter'" class="university"><span>{{ 'PROFILES.UNIVERSITY' | translate }}:</span> {{userdata.university}}</div>

            <!--
            <div *ngIf="userdata.role!='Recruiter'" class="skills"><span>Skills:</span>
              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList aria-label="Skill selection">
                  <mat-chip
                    *ngFor="let skill of skills"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(skill)">
                    {{skill}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="New skill..."
                    #skillInput
                    [formControl]="skillCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                    {{skill}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            -->
            <div class="row"><br></div>
            <div class="row" *ngIf="userdata.role=='Student'">

              
                <div class="col col-lg-2">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#myModalCV">  
                    <i _ngcontent-axy-c0="" class="material-icons"> account_box </i> {{ 'PROFILES.CV' | translate }}
                  </button>
                  <!--
                      <a class="btn btn-primary" data-toggle="modal" data-target="#myModalCV" href="#">	<span class="glyphicon glyphicon-list-alt"></span> {{ 'PROFILES.CV' | translate }}</a>
                  -->
                </div>
                
                <div class="col col-lg-2">
                  <button class="btn btn-success" [routerLink]="['/profiles', userdata.id,'best-carrer-options']">  
                    <i _ngcontent-axy-c0="" class="material-icons"> stars </i> {{ 'PROFILES.BEST_CARRER_OPTIONS' | translate }}
                  </button>
                  <!--
                  <a [routerLink]="['/profiles', userdata.id,'best-carrer-options']" class="btn btn-success"><span class="glyphicon glyphicon-star"></span> {{ 'PROFILES.BEST_CARRER_OPTIONS' | translate }}</a> 
                  -->
                </div>

            </div>
        </div>
        <div class="col col-lg-2">
            <div><img [src]="userdata.avatar_path"></div>
        </div>
    </div>
    <div class="row"><br></div>
    <div class="row">

        <ngb-accordion *ngIf="userdata.role!='Recruiter'" #acc="ngbAccordion">

          
                <ngb-panel  id="toggle-0" title="Carrer path" *ngIf="userdata.role=='Student'">
                  <ng-template ngbPanelContent>
                    <div class="">
                      Mockup chart<br/>
                      <svg id="sankey" width="600" height="350"></svg>
                    </div>
                  </ng-template>
                </ngb-panel>

                <ngb-panel id="toggle-1" title="{{ 'PROFILES.COMPLETED_COURSES' | translate }}" *ngIf="userdata.role=='Student'">
                  <ng-template ngbPanelContent>
                      <div class="">
                            
                            <ngb-tabset [justify]="currentJustify">
                                    <ngb-tab id="tab-selectbyid-{{year}}"  title="Year {{year}}" *ngFor="let year of years; let i = index">
                                      <ng-template ngbTabContent>
                                            <div class="col-lg-4 completeCourseSectiontab">
                                                    <div>
                                                            <select class="form-control form-control-sm">
                                                                    <option selected value="0">{{year}}.Specialisation Flow</option>
                                                                    <option value="1">{{year}}.Specialisation Flow - One</option>
                                                                    <option value="2">{{year}}.Specialisation Flow - Two</option>
                                                                    <option value="3">{{year}}.Specialisation Flow - Three</option>
                                                                  </select>
                                                    </div>
                                                    
                                                    <div>
                                                            <select class="form-control form-control-sm">
                                                                    <option>Semester {{year}}.1</option>
                                                                    <option>Semester {{year}}.2</option>
                                                                    <option>Semester {{year}}.3</option>
                                                                  </select>                                                
        
                                                    </div> 
                                                
                                            </div>
                                            <div class="completeCourseSectiontab" [ngClass]="{'col-lg-4':selectedCourse.id,'col-lg-8':!selectedCourse.id}">
                                                
                                                    <ul class="list-group list-group-flush">
                                                        <li  *ngFor="let course of listOfCoursesByUser" class="list-group-item" >
                                                          <table>
                                                            <tr>
                                                              <td><input type="checkbox" class="custom-control-input" id="check_box_course_{{course.id}}" value="{{course.id}}"> </td>
                                                              <td><a [routerLink]="" (click)="selectedCourse=course">{{course.title}}</a></td>
                                                            </tr>
                                                          </table>  
                                                        </li>
                                                      </ul>
                                            </div>
                                            <div *ngIf="selectedCourse.id" class="col-lg-4 completeCourseSectiontab">
                                              <div class=""><h3>{{selectedCourse.title}}</h3></div>
                                              <div class="">{{selectedCourse.description}}</div>
                                              <div class=""><br/><a class="btn btn-success" [routerLink]="" (click)="selectedCourse={}">{{ 'BUTTON.CLOSE' | translate }}</a></div>
                                            </div>

                                      </ng-template>
                                    </ngb-tab>
                                    
                                  </ngb-tabset>
                      </div>

                  </ng-template>
                </ngb-panel>
                
                <ngb-panel id="toggle-2" title="{{ 'PROFILES.TEACHING_COURSES' | translate }}" *ngIf="userdata.role=='Teacher'">
                  <ng-template ngbPanelContent>
                      <div class="">
                            
            

                        <div class="accordion" id="accordionTeacherCourses">
                          <div class="card" *ngFor="let course of listOfCoursesByUser">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#course_' + course.id" aria-expanded="true" aria-controls="collapseOne">
                                  {{course.title}}
                                </button>
                              </h5>
                            </div>
                        
                            <div [attr.id]="'course_' + course.id" class="collapse" aria-labelledby="headingOne" data-parent="#accordionTeacherCourses">
                              <div class="card-body">
                                  <div class="courseDescription">
                                      <div><h4>{{ 'COURSE.DESCRIPTION' | translate }}</h4></div>
                                      <div>{{course.description}}</div>
                                  </div>
                                  <div>&nbsp; </div>
                                  <div class="courseRelatedData">
                                      <div class="col-lg-6">
                                          <div><h4>{{ 'COURSE.RELATED_SKILLS' | translate }}</h4></div>
                                          <div><span *ngFor="let skill of course.related_skills">{{skill}}, </span></div>
                                       </div>
                                        <div class="col-lg-6">
                                            <div><h4>{{ 'COURSE.COURSE_BADGES' | translate }}</h4></div>
                                            
                                            <div><span *ngFor="let badge of course.course_badges">{{badge}}, </span></div>
                                        </div>                                        
                                  </div>
                                  <div>&nbsp; </div>                                  
                                  <div *ngIf="userdata.id==currentUser.id" class="courseActions">
                                      <div class="col-lg-6">
                                        <!--
                                        <a [routerLink]="['/courses', course.id,'edit']" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> {{ 'COURSE.UPDATE' | translate }}</a>
                                        -->
                                        <button class="btn btn-primary" [routerLink]="['/courses', course.id,'edit']" type="button">  
                                          <i _ngcontent-axy-c0="" class="material-icons"> edit </i> {{ 'BUTTON.EDIT' | translate }}
                                        </button>

                                      </div>
                                       <div class="col-lg-6">
                                          <!--
                                          <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-star-empty"></span> {{ 'COURSE.AWARD_SMART_BADGE' | translate }}</button>
                                          -->
                                          <button class="btn btn-primary" [routerLink]="['/courses', course.id,'award']" type="button">  
                                            <i _ngcontent-axy-c0="" class="material-icons"> star </i> {{ 'COURSE.AWARD_SMART_BADGE' | translate }}
                                          </button>  
                                      </div>
                                  </div>
                                  <div *ngIf="userdata.id==currentUser.id">&nbsp; </div>
                              </div>
                            </div>
                          </div>
                          
                        </div>                        

      
                      </div>

                  </ng-template>
                </ngb-panel>

                <ngb-panel id="toggle-3" title="{{ 'PROFILES.SMART_BADGES' | translate }}">
                        <ng-template ngbPanelContent>
                            <div class="row smartBudgesBody">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                        <br/>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <br/>
                                        C++ Programming Language Intermediate
                                        <br/>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                        <br/>
                                        <span class="glyphicon glyphicon-flash"></span>
                                        <br/>
                                        Calculus Beginner
                                        <br/>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                        <br/>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <br/>
                                        Electrical Floor Planning Beginner
                                        <br/>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                        <br/>
                                        <span class="glyphicon glyphicon-flash"></span>
                                        <br/>
                                        Biomedical Beginer
                                        <br/>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                        <br/>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <br/>
                                        Java Programming Language Intermidiate
                                        <br/>
                                </div>
                                
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                    <br/>
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  <br/>
                                  PHP Intermidiate
                                  <br/>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                    <br/>
                                  <span class="glyphicon glyphicon-star-empty"></span>
                                  <br/>
                                  Angular Beginer
                                  <br/>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                    <br/>
                                  <span class="glyphicon glyphicon-flash"></span>
                                  <br/>
                                  Drupal 8 Beginner
                                  <br/>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center smartBudge">
                                    <br/>
                                  <span class="glyphicon glyphicon-flash"></span>
                                  <br/>
                                  Python 3 Beginner
                                  <br/>
                                </div>

                            </div>


                        </ng-template>
                      </ngb-panel>

        </ngb-accordion>

        <div class="row carreradvisor" *ngIf="userdata.role=='Student'">
            <div class="col col-lg-8"> </div>
            <div class="col col-lg-2">
              <!--
              <a [routerLink]="['/profiles', userdata.id,'carrer-advisor']" class="btn btn-success"><span class="glyphicon glyphicon-star"></span> {{ 'PROFILES.CARRER_ADVISOR' | translate }}</a>
              -->                
              <button class="btn btn-success" [routerLink]="['/profiles', userdata.id,'carrer-advisor']">  
                <i _ngcontent-axy-c0="" class="material-icons"> stars </i> {{ 'PROFILES.CARRER_ADVISOR' | translate }}
              </button>
            </div>
            
        </div>

        <div class="row cv_gap_analysis" *ngIf="userdata.role=='Teacher'">
          <div class="col col-lg-8"> </div>
          <div class="col col-lg-2">
            <!--
            <a [routerLink]="['/profiles', userdata.id,'cv-gap-analysis']" class="btn btn-success"><span class="glyphicon glyphicon-star"></span> {{ 'PROFILES.CV_GAP_ANALYSIS' | translate }}</a>
            -->
            <button class="btn btn-success" [routerLink]="['/profiles', userdata.id,'cv-gap-analysis']">  
              <i _ngcontent-axy-c0="" class="material-icons"> stars </i> {{ 'PROFILES.CV_GAP_ANALYSIS' | translate }}
            </button>

          </div>

          
      </div>

    </div>
      
    </div>
    <div class="col col-lg-4" *ngIf="userdata.role=='Student'">
      <app-recomended-courses></app-recomended-courses>
    </div>
  </div>





</div>


<!-- Modal CV-->
<div class="modal fade" id="myModalCV" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">{{ 'PROFILES.CV' | translate }}</h4>
    </div>
    <div class="modal-body">
      <!--
        [formGroup]="dynamicForm"
      -->
      <form  (ngSubmit)="onSubmit()">

        <div class="form-group field">
          <label>Title</label>
          <input 
            type="text" 
            name="title" 
            [(ngModel)]="title"
            class="form-control input" 
            placeholder="Title"           
            required
            minlength="3"
            #titleInput="ngModel"
            >          
        </div>
      
        <div class="form-group field">
          <label>Description</label>
          <textarea type="text" [(ngModel)]="description" name="description"  class="form-control input" placeholder="Description" required #descriptionInput="ngModel"></textarea>
        </div>

        <div class="form-group field">
          <label>Target Sector</label>
          <input 
            type="text" 
            [(ngModel)]="targetSector"
            name="targetSector" 
            class="form-control input" 
            placeholder="Target Sector"           
            required
            minlength="3"
            #targetSectorInput="ngModel"
            >          
        </div>  

        <div class="form-group field">
          <label>Expected Salary</label>
          <input 
            type="number"
            [(ngModel)]="expectedSalary" 
            name="expectedSalary" 
            class="form-control input" 
            placeholder="Expected Salary"           
            required
            minlength="3"
            #expectedSalaryInput="ngModel"
            >          
        </div>

        <div class="form-group field">
          <label>Job Description</label>
          <textarea type="text" [(ngModel)]="JobDescription" name="JobDescription"  class="form-control input" placeholder="Job description" required #JobDescriptionInput="ngModel"></textarea>
        </div>

        <div class="card m-3">
          <h5 class="card-header"><i _ngcontent-pqf-c0="" class="material-icons"> timeline </i> Skills</h5>
          <div class="card-body">
              <div class="form-row">
                  <div class="form-group">                      
                      <a class="btn btn-primary" ng-href="" (click)="addFormGroupItem($event, 'skillitem')">Add skill</a>                                            
                  </div>
              </div>
          </div>          
          <div *ngFor="let skillItem of t.controls; let i = index" class="list-group list-group-flush">
              <div class="list-group-item">
                  <h5 class="card-title">Skill {{i + 1}}</h5><a class="btn btn-danger" ng-href="" (click)="deleteFormGroupItem($event, i, 'skillitem')">Delete skill</a> 
                  <div [formGroup]="skillItem" class="form-row">
                    <div class="form-group col-6">
                      <label>SkillLabel</label>
                      <input type="text" formControlName="SkillLabel" class="form-control" />                          
                    </div>
                    <div class="form-group col-6">
                      <label>ProficiencyLevel</label>
                      <input type="text" formControlName="proficiencyLevel" class="form-control" />
                    </div>
                    <div class="form-group col-6">
                      <label>SkillComment</label>
                      <input type="text" formControlName="SkillComment" class="form-control" />
                    </div>
                  </div>
              </div>
          </div>
          
        </div> 
        
        <div class="card m-3">
          <h5 class="card-header"><i _ngcontent-pqf-c0="" class="material-icons"> work </i> Work History</h5>
          <div class="card-body">
              <div class="form-row">
                  <div class="form-group">                      
                      <a class="btn btn-primary" ng-href="" (click)="addFormGroupItem($event, 'workitem')">Add work</a>                                            
                  </div>
              </div>
          </div>          
          <div *ngFor="let workItem of w.controls; let i = index" class="list-group list-group-flush">
              <div class="list-group-item">
                  <h5 class="card-title">Work {{i + 1}}</h5><a class="btn btn-danger" ng-href="" (click)="deleteFormGroupItem($event, i, 'workitem')">Delete item</a> 
                  <div [formGroup]="workItem" class="form-row">
                    <div class="form-group col-6">
                      <label>Position</label>
                      <input type="text" formControlName="position" class="form-control" />                          
                    </div>
                    <div class="form-group col-6">
                      <label>From</label>                      
                      <input type="date" formControlName="from" class="form-control" />
                    </div>
                    <div class="form-group col-6">
                      <label>To</label>
                      <input type="date" formControlName="to" class="form-control" />
                  </div>
                  <div class="form-group col-6">
                    <label>Employer</label>
                    <input type="text" formControlName="employer" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>          

        <div class="card m-3">
          <h5 class="card-header"><i _ngcontent-pqf-c0="" class="material-icons"> school </i> Education History</h5>
          <div class="card-body">
              <div class="form-row">
                  <div class="form-group">                      
                      <a class="btn btn-primary" ng-href="" (click)="addFormGroupItem($event, 'educationitem')">Add education</a>                                            
                  </div>
              </div>
          </div>          
          <div *ngFor="let educationItem of e.controls; let i = index" class="list-group list-group-flush">
            <div class="list-group-item">
                <h5 class="card-title">Education {{i + 1}}</h5><a class="btn btn-danger" ng-href="" (click)="deleteFormGroupItem($event, i, 'educationitem')">Delete item</a> 
                <div [formGroup]="educationItem" class="form-row">
                  <div class="form-group col-6">
                    <label>Title</label>
                    <input type="text" formControlName="title" class="form-control" />                          
                  </div>
                  <div class="form-group col-6">
                    <label>From</label>
                    <input type="date" formControlName="from" class="form-control" />
                  </div>
                  <div class="form-group col-6">
                    <label>To</label>
                    <input type="date" formControlName="to" class="form-control" />
                  </div>
                  <div class="form-group col-6">
                    <label>Organisation</label>
                    <input type="text" formControlName="organisation" class="form-control" />
                  </div>
                  <div class="form-group col-6">
                    <label>Description</label>
                    <input type="text" formControlName="description" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>          
          
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success"  (click)="onSubmit()">Save</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
    </div>
    
  </div>
  </div>	