<mat-expansion-panel  [expanded]="jobsApplies.length>0 ? true : false">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ 'JOBS_APPLICATIONS.TITLE' | translate }}</mat-panel-title>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>

  <div *ngIf="jobsApplies.length==0">{{ 'JOBS_APPLICATIONS.NO_DATA' | translate }} </div>
    <mat-accordion *ngIf="jobsApplies.length>=0" activeIds="apply-0">
      <mat-expansion-panel  id="apply-{{i}}" *ngFor="let apply of jobsApplies | slice:0:5; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{apply.label}}
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <div class="job-card">                    
          <div class="job-card-body">                      
            <div class="job-card-text">
              {{ 'JOB_APPLY.AVAILABLE.TITLE' | translate }}: {{apply.availability}}
              <br/>
              {{ 'JOB_APPLY.EXPECTED_SALARY.TITLE' | translate }}: {{apply.expectedSalary}}
              <br/>
            </div>
            <br/>
            <button class="btn btn-primary" [routerLink]="['/jobs', apply.jobURI]">
              <i _ngcontent-axy-c0="" class="material-icons small"> details </i> {{ 'JOBS_APPLICATIONS.BUTTON.VIEW_JOB' | translate }}
            </button> 
          </div>
      </div>
  
      </mat-expansion-panel>
      
    </mat-accordion>

    <div *ngIf="jobsApplies.length>5" class="col-lg-8">
      <br>
      <a [routerLink]="['/profiles',userId,'jobapplies']" class="btn btn-primary">{{ 'BUTTON.VIEW_MORE' | translate }}</a>
    </div>

  </mat-expansion-panel>
