<h1>Course - Edit {{course.id}}</h1>

<div class="card">
    <div class="card-body">

        <form [formGroup]="courseForm">
            <div class="form-group">
                <label for="title" class="col-md-4">Course Title</label>   
                <input [(ngModel)]="course.title" formControlName="title" id="title" placeholder="Title" class="form-control input" />
            </div>
 
            <div class="form-group">
                <label for="description" class="col-md-4">Course Description</label>  
                <textarea [(ngModel)]="course.description" formControlName="description" id="description" placeholder="Description" class="form-control input"></textarea> 
            </div>

            <div class="form-group">
                <button  type="submit" class="btn btn-primary"
                [disabled]="courseForm.invalid" >
                  Update Course
                </button>
  
                <button mat-raised-button color="primary" >Cancel</button>
  
              </div>

        </form>
    </div>
</div>