<h1>{{ 'CV_GAP_ANALYSIS.TITLE' | translate }}</h1>

<div class="container">

    <div class="row">
        <div class="col col-lg-2">
            <a [routerLink]="['/profiles', userid]" class="btn btn-primary"><i _ngcontent-axy-c0="" class="material-icons small"> arrow_back </i>  {{ 'BUTTON.BACK_TO_USER_PROFILE' | translate }}</a> 
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-12">
            <br>
            <app-visualisations-market-demand-chart></app-visualisations-market-demand-chart>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col col-lg-6">
            <div *ngIf="showPieChart" class="wrapperPieChart">
                <canvas baseChart 
                    [data]="pieChartData"
                    [options]="pieChartOptions"
                    [labels]="pieChartLabels"
                    [colors]="pieChartColors"
                    [chartType]="pieChartType">
                </canvas>

            </div>

        </div>
        <div class="col col-lg-6">
            <div *ngIf="showRadarChart" class="wrapperRadarChart">
                <canvas
                    baseChart
                    [chartType]="radarChartType"
                    [labels]="radarChartLabels"
                    [colors]="radarChartColors"
                    [datasets]="radarChartData"                    
                    [options]="radarChartOptions"
                    [legend]="true"
                    [colors]="radarChartColors">
                </canvas>
            </div>
        </div>
    </div>
    -->
    <div class="row">
        <div class="col col-lg-12">
            <hr>
        </div>
    </div>

    
    <div class="row">
        <div class="col col-lg-12">
            <div class="col">
                <h2>{{ 'CV_GAP_ANALYSIS.CURRENTLY_MISSING_SKILLS' | translate }}</h2>
            </div>
        </div>
        
        <div [hidden]="withPagination" class="col-sm-12" *ngFor="let recommendedSkill of allRecomendations; let i = index">
            <mat-accordion class="example-headers-align" >
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{recommendedSkill.skill_title}}
                      </mat-panel-title>                  
                    </mat-expansion-panel-header>

                    <div class="col col-lg-12">
                        <div class="card">
                            <div class="card-body">                       
       
                                <div class="col-sm-12">
                                    {{ 'DSS_CV_RE_DESIGN.RELATED_SKILLS' | translate }}: 
                                </div>
                                <div class="col-sm-12" *ngIf="recommendedSkill.relevant_skills.length==0">{{ 'NONE' | translate }} </div>
                                <div class="col-sm-12" *ngIf="recommendedSkill.relevant_skills.length>0">
                                    <span *ngFor="let skill_list of recommendedSkill.relevant_skills let j = index"><span class="badge badge-info ml-2">{{skill_list.skill_title}}</span>&nbsp;</span> 
                                </div>
                                <div class="col-sm-12"><br>&nbsp;</div>
                                
                                <div class="col-sm-12">
                                    {{ 'CV_GAP_ANALYSIS.RELATION_TO_COURSES' | translate }}:
                                </div>
                                <div class="col-sm-12" *ngIf="recommendedSkill['scored_courses'].length==0">{{ 'NONE' | translate }} </div>
                                <div class="col-sm-12" *ngFor="let course of recommendedSkill.scored_courses">
                                    <div class="progress col-sm-6" >
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%':course.score*100}" attr.aria-valuenow="{{course.score*100}}"  aria-valuemin="0" aria-valuemax="1">{{course.score}}</div>
                                    </div>
                                    <div class="col-sm-6" >
                                        &nbsp;<a href="" routerLink="/courses/{{course.course_id}}">{{course.course_title}}</a>
                                    </div>
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>
                    <!--
                        hide to avoid to display empty charts
                    <div class="col col-lg-6">
                        <div>
                            <mat-form-field class="create-job-full-width">
                                <mat-label>{{ 'FILTER' | translate }}: {{ 'JOB.SPECIALIZATION' | translate }} </mat-label>
                                <mat-select [(ngModel)]="specialization" name="specialization">
                                  <mat-option>{{ 'ALL' | translate }}</mat-option>
                                  <mat-option *ngFor="let specialization of allSpecializations" [value]="specialization.id">
                                    {{'SPECIALIZATIONS.'+specialization.title | translate}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <app-visualisations-skills-demand-in-time-per-specialization-chart [skillId]="recommendedSkill?.skill_id" [specialization]="specialization"></app-visualisations-skills-demand-in-time-per-specialization-chart>
                    </div>
                    -->

                </mat-expansion-panel>
            </mat-accordion>
            <br>
        </div>

        <div [hidden]="!withPagination" class="col col-lg-12" *ngFor="let recommendedSkill of pagedListRS; let i = index">
            <div class="col col-lg-6">

                <div class="card">
                    <div class="card-body">                       
                        <div class="col-sm-12">
                            <h5 class="card-title"> {{ 'SKILL.TITLE' | translate }}: {{recommendedSkill.skill_title}}</h5>  
                        </div>

                        <div class="col-sm-12">
                            {{ 'DSS_CV_RE_DESIGN.RELATED_SKILLS' | translate }}: 
                        </div>
                        <div class="col-sm-12" *ngIf="recommendedSkill.relevant_skills.length==0">{{ 'NONE' | translate }} </div>
                        <div class="col-sm-12" *ngIf="recommendedSkill.relevant_skills.length>0">
                            <span *ngFor="let skill_list of recommendedSkill.relevant_skills let j = index"><span class="badge badge-info ml-2">{{skill_list.skill_title}}</span>&nbsp;</span> 
                        </div>
                        <div class="col-sm-12"><br>&nbsp;</div>
                        
                        <div class="col-sm-12">
                            {{ 'CV_GAP_ANALYSIS.RELATION_TO_COURSES' | translate }}:
                        </div>
                        <div class="col-sm-12" *ngIf="recommendedSkill['scored_courses'].length==0">{{ 'NONE' | translate }} </div>
                        <div class="col-sm-12" *ngFor="let course of recommendedSkill.scored_courses">
                            <div class="progress col-sm-6" >
                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%':course.score*100}" attr.aria-valuenow="{{course.score*100}}"  aria-valuemin="0" aria-valuemax="1">{{course.score}}</div>
                            </div>
                            <div class="col-sm-6" >
                                &nbsp;<a href="" routerLink="/courses/{{course.course_id}}">{{course.course_title}}</a>
                            </div>
                        </div>
                        
                    </div>
                
                </div>

            </div>
            <div class="col col-lg-6">
                <div>
                    <mat-form-field class="create-job-full-width">
                        <mat-label>{{ 'FILTER' | translate }}: {{ 'JOB.SPECIALIZATION' | translate }} </mat-label>
                        <mat-select [(ngModel)]="specialization" name="specialization">
                          <mat-option>{{ 'ALL' | translate }}</mat-option>
                          <mat-option *ngFor="let specialization of allSpecializations" [value]="specialization.id">
                            {{'SPECIALIZATIONS.'+specialization.title | translate}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <app-visualisations-skills-demand-in-time-per-specialization-chart [skillId]="recommendedSkill?.skill_id" [specialization]="specialization"></app-visualisations-skills-demand-in-time-per-specialization-chart>
                <!--
                <canvas
                    baseChart
                    [chartType]="lineChartType"
                    [labels]="lineChartLabels"
                    [colors]="lineChartColors"
                    [datasets]="lineChartData"                    
                    [options]="lineChartOptions"
                    [legend]="true"
                    [colors]="lineChartColors">
                </canvas>
                -->
            </div>
        </div>

        <div *ngIf="withPagination" class="col-sm-12">
            <mat-paginator 
                [length]="recommendedSkills.length"
                [pageSize]="recommendedSkills.slice(0, 1)"
                [pageSizeOptions]="pageSizeOptionsRS"
                (page)="OnPageChangeSkill($event)">
            </mat-paginator>
        </div>

        <div class="col col-lg-12">
            <br>
        </div>
<!--
        <div class="col col-lg-12">
            <div class="col col-lg-10"></div>
            <div class="col col-lg-2">
                <button class="btn btn-success"  >  
                    <i _ngcontent-axy-c0="" class="material-icons"> stars </i> {{ 'CV_GAP_ANALYSIS.BUTTON.SHOW_RESULTS' | translate }}
                </button>
            </div>
        </div>
-->
    </div>
</div>