<!-- Resources: https://angular.io/guide/reactive-forms -->
<form [formGroup]="parentForm">
    <mat-form-field class="city-state-field-full-width">
        <mat-select  [(value)]="defaultValue" [(required)]="requiredValue" placeholder="{{ 'PROFILE.CITY.LABEL' | translate }}" formControlName="{{formInnerControlName}}">
            <mat-option *ngFor="let opt of filteredListOfCities" [value]="opt.city_name">
                {{opt.city_name}}
            </mat-option>
        </mat-select>
        <!--
        <mat-error *ngIf="parentForm.get(formInnerControlName).hasError('required')">
            This field is required.
        </mat-error>
        -->
    </mat-form-field>
</form>
